openapi: 3.2.0
info:
  title: Tackle Co-Sell for AWS Partner Central Solutions API
  description: 'This API lets you create and manage co-sell opportunities and invitations

    in AWS Partner Central — formerly known as the AWS Partner Network Customer

    Engagement (ACE) program.'
  version: '1.0'
servers:
- url: https://aws.cosell.tackle.io
  description: AWS Co-Sell Service
security:
- bearerAuth: []
tags:
- name: Solutions
  description: 'List the co-sell solutions registered with AWS Partner Central for

    your account. Solution identifiers are referenced by `solutions` on

    opportunities.'
paths:
  /api/solutions:
    get:
      operationId: listSolutions
      summary: List co-sell solutions
      description: 'Returns the active co-sell solutions registered with AWS Partner Central for the

        authenticated vendor.


        For vendor accounts provisioned for use in a test environment, this endpoint

        returns a fixed three-solution fixture; the `q`, `from`, `pageSize`, and

        `all` query parameters are **ignored** for these vendors and the response

        body is the same fixture set regardless of what the client sends. Production

        vendor accounts receive vendor-specific results that honor every query

        parameter.'
      tags:
      - Solutions
      parameters:
      - name: q
        in: query
        description: A search query to filter the solutions.
        schema:
          type: string
          example: Example
      - name: from
        in: query
        description: The starting index of the solutions to return.
        schema:
          type: integer
          example: 10
      - name: pageSize
        in: query
        description: The number of solutions to return per page (minimum 1, maximum 100, default 10).
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
          example: 10
      - name: all
        in: query
        description: 'Set to `true` to return solutions in any status, including inactive ones.

          Defaults to `false` (only active solutions are returned).'
        schema:
          type: boolean
          example: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSolutionsResponse'
              examples:
                list:
                  summary: List Solutions
                  value:
                    solutions:
                    - id: tackle-solution-2lFAiYiiVZZabcdefgh7dPNWXWm
                      cloudProviderId: S-0050456
                      name: Tackle AI
                      status: Active
                      category: Software Product
                      created: '2024-08-27T13:32:58Z'
                      lastSynced: '2024-08-27T13:32:58Z'
                    - id: tackle-solution-2lFAieUdS1PKs6abcdefghbCktS
                      cloudProviderId: S-0050123
                      name: Tackle Cloud Sync
                      status: Active
                      category: Software Product
                      created: '2024-08-27T13:32:58Z'
                      lastSynced: '2024-08-27T13:32:58Z'
                    total: 5
                    currentPageCount: 2
                    isNextPage: true
                    nextIndex: 2
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    ListSolutionsResponseItem:
      type: object
      properties:
        id:
          type: string
        cloudProviderId:
          type: string
        name:
          type: string
        status:
          type: string
        category:
          type: string
        created:
          type: string
        lastSynced:
          type: string
    ListSolutionsResponse:
      type: object
      properties:
        solutions:
          type: array
          items:
            $ref: '#/components/schemas/ListSolutionsResponseItem'
        total:
          type: integer
          example: 5
        currentPageCount:
          type: integer
          example: 10
        isNextPage:
          type: boolean
          example: false
        nextIndex:
          description: The starting index to use for fetching the next page of solutions. Only present when `isNextPage` is `true`.
          type: integer
  responses:
    InternalServerError:
      description: 'Internal Server Error. An unexpected error occurred while processing the request. Response

        bodies for 5xx errors may be empty.'
    Unauthorized:
      description: 'Unauthorized. The request did not include valid Tackle MTM bearer credentials, or the

        authenticated principal could not be resolved.'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: MTM JWT
      description: 'Tackle machine-to-machine access token sent as `Authorization: Bearer <access_token>`.'
externalDocs:
  description: Tackle Developer Portal
  url: https://developers.tackle.io
