openapi: 3.0.3
info:
  title: Tackle Public Contracts Authentication Private Offers API
  description: "Customer-facing read API for cloud marketplace contracts that Tackle has\ningested for your Tackle account.\n\nThe response shape is a stable projection of the underlying\ncontract document. It is intended to be safe to consume long-term: fields\nwill be added over time, but documented fields will not be removed without\ndeprecation notice.\n\n## Authentication\n\nEvery request must include a valid Tackle JWT in the `Authorization`\nheader (`Authorization: Bearer <token>`). Machine-to-machine (MTM) tokens\nissued for your Tackle account are accepted. The token scopes every\nresponse to the account it represents.\n\n## Pagination\n\n`GET /api/contracts` is the only paginated endpoint. Pagination uses an\nopaque `cursor` query parameter:\n\n1. The first request omits `cursor`.\n2. If more pages exist, the response includes a `next` field. Pass that\n   value verbatim back as `cursor` on the next request.\n3. The last page omits `next`.\n\nCursors are opaque tokens. Do not parse, modify, or persist them across\nschema changes — request a fresh page from the start instead.\n"
  version: 1.0.0
servers:
- url: https://contracts.tackle.io
  description: Production
security:
- tackleJwt: []
tags:
- name: Private Offers
  description: AWS private-offer lifecycle (create, read, update, cancel, push to marketplace).
paths:
  /private-offers:
    get:
      summary: List Private Offers
      description: 'Returns a paginated list of private offers visible to the authenticated

        principal. Results may be filtered by status, marketplace, offer type,

        product reference, salesforce opportunity ID, and creation date.


        **Required RBAC permission:** `offers:ListOffers`

        '
      operationId: listPrivateOffers
      tags:
      - Private Offers
      security:
      - TackleJwt: []
      parameters:
      - name: status
        in: query
        required: false
        description: Filter by offer status (e.g. `draft`, `created`, `accepted`, `cancelled`).
        schema:
          type: string
      - name: offer_ref
        in: query
        required: false
        description: Filter by marketplace offer reference (e.g. AWS `offer-*` ID).
        schema:
          type: string
      - name: type
        in: query
        required: false
        description: Filter by offer type.
        schema:
          type: string
          enum:
          - direct
          - partner_resale
      - name: product_ref
        in: query
        required: false
        description: Filter by Tackle product ID.
        schema:
          type: string
      - name: created_at
        in: query
        required: false
        description: Filter to offers created on the given `YYYY-MM-DD` date.
        schema:
          type: string
          format: date
      - name: created_at_gt
        in: query
        required: false
        description: Filter to offers created strictly after the given date.
        schema:
          type: string
          format: date
      - name: created_at_lt
        in: query
        required: false
        description: Filter to offers created strictly before the given date.
        schema:
          type: string
          format: date
      - name: salesforce_opportunity_id
        in: query
        required: false
        description: Filter by associated Salesforce Opportunity ID.
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: 'Sort expression. Prefix a field name with `-` for descending order

          (e.g. `-created_at`).

          '
        schema:
          type: string
      - name: offset
        in: query
        required: false
        description: Zero-based offset for pagination.
        schema:
          type: integer
          minimum: 0
          default: 0
      - name: limit
        in: query
        required: false
        description: Page size (1–100).
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 100
      responses:
        '200':
          description: Paginated list of private offers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOfferList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      summary: Create Private Offer
      description: 'Creates a draft private offer. Set `create_in_marketplace: true` in the

        request body to also push the offer to AWS Marketplace in the same

        call; otherwise the offer is saved as a Tackle draft that can be

        pushed later via `POST /private-offers/{id}/marketplace-create`.


        Set `dry_run: true` to validate the payload without persisting the

        offer; a successful dry run returns `200 OK` instead of `201 Created`.


        **Required RBAC permission:** `offers:CreateDraftOffer`

        '
      operationId: createPrivateOffer
      tags:
      - Private Offers
      security:
      - TackleJwt: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePrivateOfferRequest'
      responses:
        '200':
          description: Dry-run validation succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePrivateOfferResponse'
        '201':
          description: Private offer created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePrivateOfferResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /private-offers/{id}:
    parameters:
    - $ref: '#/components/parameters/PrivateOfferId'
    get:
      summary: Get Private Offer
      description: 'Returns a single private offer by its Tackle ID.


        **Required RBAC permission:** `offers:GetOffer`

        '
      operationId: getPrivateOffer
      tags:
      - Private Offers
      security:
      - TackleJwt: []
      responses:
        '200':
          description: Private offer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOffer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      summary: Update Private Offer
      description: 'Updates an existing draft private offer. The body has the same shape as

        `POST /private-offers` (`CreatePrivateOfferRequest`).


        **Required RBAC permission:** `offers:CreateDraftOffer` (the create

        permission also gates updates -- updating a draft is treated as the

        same authorization concept as creating one).

        '
      operationId: updatePrivateOffer
      tags:
      - Private Offers
      security:
      - TackleJwt: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePrivateOfferRequest'
      responses:
        '200':
          description: Updated private offer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePrivateOfferResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete Private Offer
      description: 'Deletes a draft private offer.


        **Required RBAC permission:** `offers:UpdateOffer` (the update

        permission also gates deletes -- "removing a draft" is treated as a

        kind of update).

        '
      operationId: deletePrivateOffer
      tags:
      - Private Offers
      security:
      - TackleJwt: []
      responses:
        '204':
          description: Private offer deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /private-offers/{id}/cancel:
    parameters:
    - $ref: '#/components/parameters/PrivateOfferId'
    post:
      summary: Cancel Private Offer
      description: 'Cancels a private offer that has been pushed to AWS Marketplace but

        not yet accepted by the buyer. The cancellation is performed

        asynchronously; the response indicates that the request has been

        accepted, not that the cancellation is complete. Track completion via

        the offer''s `status` and `activities` fields, or via webhooks.


        **Required RBAC permission:** `offers:CancelOffer`

        '
      operationId: cancelPrivateOffer
      tags:
      - Private Offers
      security:
      - TackleJwt: []
      responses:
        '200':
          description: Cancellation request accepted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Offer is not in a state that can be cancelled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /private-offers/{id}/marketplace-create:
    parameters:
    - $ref: '#/components/parameters/PrivateOfferId'
    post:
      summary: Push Private Offer to AWS Marketplace
      description: 'Promotes a Tackle draft private offer (one created with

        `create_in_marketplace: false`) into AWS Marketplace. The push is

        asynchronous; this endpoint returns immediately once the request has

        been queued.


        **Required RBAC permission:** `offers:CreateOfferOnMarketplace`

        '
      operationId: marketplaceCreatePrivateOffer
      tags:
      - Private Offers
      security:
      - TackleJwt: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketplaceCreatePrivateOfferRequest'
      responses:
        '200':
          description: Dry-run validation succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceCreatePrivateOfferRequest'
        '201':
          description: Marketplace creation request accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceCreatePrivateOfferRequest'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Offer is not eligible for marketplace creation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/private-offers/{id}:
    post:
      tags:
      - Private Offers
      summary: Update a Microsoft offer
      description: 'Updates an existing Microsoft private offer. If `status` is

        `submit_to_cloud`, the handler merges EULA documents when present,

        validates the request, and stores the Microsoft submission payload.


        Required RBAC action: `offers:UpdateOffer`. Submitting to Microsoft also

        requires `offers:CreateOfferOnMarketplace`.

        '
      operationId: updatePrivateOffer
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/OfferId'
      - $ref: '#/components/parameters/TackleOperationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOffer'
            examples:
              updateDraftOffer:
                summary: Update and keep the offer in Tackle only
                description: 'Use `draft_status` to save the update in Tackle without preparing

                  or submitting a Microsoft marketplace payload.

                  '
                value:
                  status: draft_status
                  name: Updated draft offer
                  description: Updated draft description
              updateCloudOffer:
                summary: Update and submit the offer to Microsoft
                description: 'Use `submit_to_cloud` to validate the offer, merge EULA documents

                  when present, and prepare the Microsoft marketplace payload. This

                  also requires the `offers:CreateOfferOnMarketplace` RBAC action.

                  '
                value:
                  status: submit_to_cloud
                  name: Updated cloud offer
                  description: Updated cloud offer description
                  eula:
                    type: custom
                    document_urns:
                    - document-urn-1
      responses:
        '200':
          description: Offer updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOffer_2'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError_2'
    get:
      tags:
      - Private Offers
      summary: Get an offer
      description: 'Returns one private offer by Tackle offer ID after checking that the

        caller can access the offer''s vendor.


        Required RBAC action: `offers:GetOffer`.

        '
      operationId: getPrivateOffer
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/OfferId'
      - $ref: '#/components/parameters/TackleOperationId'
      responses:
        '200':
          description: Offer found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOffer_2'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError_2'
  /api/private-offers:
    post:
      tags:
      - Private Offers
      summary: Create or import a Microsoft offer
      description: 'Creates a new Microsoft private offer from a full offer payload, or

        imports an existing live Microsoft private offer when the body contains

        `microsoftOfferId` and `buyer_company_name`.


        For full create payloads, if `status` is `submit_to_cloud`, the handler

        validates and transforms the request for Microsoft submission before

        saving the offer. For import payloads, the vendor context is derived

        from the authenticated principal; sandbox vendors use their production

        parent vendor''s Microsoft credentials.


        Required RBAC action: `offers:CreateDraftOffer`. Submitting to Microsoft

        also requires `offers:CreateOfferOnMarketplace`.

        '
      operationId: createPrivateOffer
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/TackleOperationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CreateOffer'
              - $ref: '#/components/schemas/ImportMicrosoftOfferRequest'
            examples:
              createDraftOffer:
                summary: Create a Tackle-only draft
                description: 'Use `draft_status` to save the offer in Tackle without preparing

                  or submitting a Microsoft marketplace payload.

                  '
                value:
                  offer_type: direct
                  vendor_id: vendor-123
                  status: draft_status
                  vendor_name: Example Vendor
                  product_id: product-123
                  product_name: Example Product
                  buyer_details:
                    company_name: Example Buyer
                    billing_account_id: billing-account-123
                  eula:
                    type: standard
                    document_urns: []
                  pricing:
                    plan_name: Example Plan
                    description: Annual plan
                    contract_duration:
                      type: month
                      frequency: 12
                    payment_model: OneTime
                    payment_installments:
                      price_per_payment_in_usd: 1200
                    pricing_type: flat_rate
              createCloudOffer:
                summary: Create and submit to Microsoft
                description: 'Use `submit_to_cloud` to validate the offer and prepare the

                  Microsoft marketplace payload. This also requires the

                  `offers:CreateOfferOnMarketplace` RBAC action.

                  '
                value:
                  offer_type: direct
                  vendor_id: vendor-123
                  status: submit_to_cloud
                  vendor_name: Example Vendor
                  product_id: product-123
                  product_name: Example Product
                  name: Example Microsoft Offer
                  preparer_email: seller@example.com
                  start_on: acceptance
                  end_date: '2027-04-30'
                  accept_by_date: '2026-05-31'
                  buyer_details:
                    company_name: Example Buyer
                    billing_account_id: billing-account-123
                    buyers:
                    - full_name: Buyer User
                      email_address: buyer@example.com
                      title: Procurement
                  eula:
                    type: custom
                    document_urns:
                    - document-urn-1
                  pricing:
                    plan_name: Example Plan
                    description: Annual plan
                    contract_duration:
                      type: month
                      frequency: 12
                    payment_model: OneTime
                    payment_installments:
                      price_per_payment_in_usd: 1200
                    pricing_type: flat_rate
              importMicrosoftOffer:
                summary: Import an existing Microsoft offer
                description: 'Use `microsoftOfferId` with `buyer_company_name` to import an

                  existing live Microsoft private offer into Tackle. Optionally

                  include `salesforce_opportunity_id` to associate the imported

                  offer with a Salesforce opportunity. The Microsoft offer must

                  be supported by Tackle: live state, a single product listing

                  and plan, a single buyer, and supported USD pricing.

                  '
                value:
                  microsoftOfferId: ms-offer-123
                  buyer_company_name: Example Buyer
                  salesforce_opportunity_id: 6000000000001
      responses:
        '200':
          description: Offer created or imported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateOffer_2'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError_2'
    get:
      tags:
      - Private Offers
      summary: List offers
      description: 'Finds the authenticated seller''s offers, optionally filtered by Microsoft

        offer reference or Microsoft plan reference. Vendor scope is derived

        from the bearer token; no vendor identifier is accepted from the caller.


        Required RBAC action: `offers:ListOffers`.

        '
      operationId: listPrivateOffers
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/OfferRef'
      - $ref: '#/components/parameters/PlanRef'
      - $ref: '#/components/parameters/TackleOperationId'
      responses:
        '200':
          description: Offers matching the search
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PrivateOffer_2'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError_2'
components:
  schemas:
    UpdateUserToNotify:
      type: object
      properties:
        contact_type:
          type: string
        value:
          type: string
        email:
          type: string
          format: email
    Salesforce:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
          nullable: true
          readOnly: true
        custom_object_id:
          type: string
          nullable: true
        opportunity_id:
          type: string
          nullable: true
    Pricing:
      type: object
      description: 'Pricing configuration for an offer. Used for all cloud marketplaces,

        offer types, and product types. Many fields are conditional on

        `payment_model` and `billing_term`; consult the field descriptions

        for applicability.

        '
      properties:
        show_on_email:
          type: boolean
          nullable: true
          description: Whether to show pricing on the buyer's order-notification email.
        marketplace_fee:
          type: string
          nullable: true
          description: The marketplace's fee for the offer as a percentage. Used to compute contract values.
        net_contract_value:
          type: string
          nullable: true
          readOnly: true
          description: Expected contract value after the marketplace fee is deducted.
        monthly_contract_value:
          type: string
          nullable: true
          readOnly: true
        total_contract_value:
          type: string
          nullable: true
          readOnly: true
        dimensions:
          type: array
          nullable: true
          description: Base pricing categories with custom pricing.
          items:
            $ref: '#/components/schemas/PricingDimension'
        usage_dimensions:
          type: array
          nullable: true
          description: Metered dimensions with custom pricing.
          items:
            $ref: '#/components/schemas/UsageDimension'
        units:
          type: array
          nullable: true
          description: AMI-only pricing units.
          items:
            $ref: '#/components/schemas/PricingUnit'
        currency_code:
          type: string
          nullable: true
          pattern: ^[A-Z]{3}$
          description: 3-letter ISO 4217 currency code.
          example: USD
        version:
          type: string
          nullable: true
          enum:
          - simple-pricing-v1-aws
        schedule:
          type: array
          nullable: true
          description: Schedule of payments. Only applicable when `payment_model` is `payment_schedule`.
          items:
            $ref: '#/components/schemas/ScheduledPayment'
        payment_model:
          type: string
          nullable: true
          enum:
          - payment_schedule
          - per_product
          - one_time
          - per_month
          - per_year
          - saas_subscription
          description: '`per_product` -- one-time fee up front when the offer is accepted.

            `payment_schedule` -- flexible payment schedule across the contract.

            `saas_subscription` -- pay-as-you-go usage-based pricing.

            '
        billing_term:
          type: string
          nullable: true
          enum:
          - future_dated
          - custom
          - 1-month
          - 1-year
          - 2-years
          - 3-years
          description: 'Length of the contract. `custom` requires `duration_value`;

            `future_dated` requires `service_start_at` and `service_end_at`.

            '
        duration_value:
          type: integer
          nullable: true
          description: Duration in months when `billing_term` is `custom`.
        duration_type:
          type: string
          nullable: true
          description: Currently only `months` is supported.
        duration:
          type: string
          nullable: true
          readOnly: true
          description: Human-friendly representation of duration value and type.
        service_start_at:
          type: string
          format: date
          nullable: true
          description: Start date when `billing_term` is `future_dated`.
        service_end_at:
          type: string
          format: date
          nullable: true
          description: End date when `billing_term` is `future_dated`.
        allow_auto_renew:
          type: boolean
          nullable: true
    EULA_2:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
          description: Offer EULA type.
          example: standard
        document_urns:
          type: array
          items:
            type: string
        merged_urn:
          type:
          - string
          - 'null'
        presigned_url:
          type:
          - string
          - 'null'
          format: uri
    UpdateContractDuration:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        frequency:
          type:
          - integer
          - 'null'
    Error:
      type: object
      description: 'Error response. Endpoints in the **Private Offers** and **Marketplace**

        tags return the error in a `message` field. The **Partners** endpoint

        returns the error in an `error` field. At least one of the two will

        always be populated.

        '
      properties:
        message:
          type: string
          description: Error message (Private Offers and Marketplace endpoints).
          example: private offer not found
        error:
          type: string
          description: Error message (Partners endpoint).
          example: authorization failed
    OfferStateValue:
      type: string
      enum:
      - draft
      - pending
      - submitted_in_cloud
      - created_in_cloud
      - email_sent
      - instructions_opened
      - viewed
      - partner_marked_up
      - accepted
      - subscribed
      - attention_needed
      - pending_cancellation
      - pending_cancellation_withdrawn
      - canceled
      - deleted_in_cloud
    StartOn:
      type: string
      enum:
      - acceptance
      - custom
    ScheduleDetail:
      type: object
      properties:
        charge_date:
          type:
          - string
          - 'null'
          format: date
        price_per_payment_in_usd:
          type:
          - number
          - 'null'
          format: double
        note:
          type:
          - string
          - 'null'
    ScheduledPayment:
      type: object
      properties:
        invoice_date:
          type: string
          format: date
          nullable: true
          description: Date the buyer should be invoiced for this scheduled payment.
        invoice_amount:
          type: string
          nullable: true
          description: Amount the buyer should be invoiced.
    PreRegistrationDetails:
      type: object
      properties:
        company_website:
          type:
          - string
          - 'null'
          format: uri
        details:
          type: object
          additionalProperties:
            type: string
    ExtraData:
      type: object
      properties:
        users:
          type: array
          description: Users to notify of lifecycle events of the offer.
          items:
            $ref: '#/components/schemas/ExtraDataUser'
    PrivateOfferList:
      type: object
      description: Paginated list of private offers.
      properties:
        private_offers:
          type: array
          items:
            $ref: '#/components/schemas/PrivateOffer'
        offset:
          type: integer
          description: Zero-based offset of the first item in this page.
        limit:
          type: integer
          description: Maximum number of items returned per page.
        total:
          type: integer
          format: int64
          description: Total number of offers matching the query.
      required:
      - private_offers
      - offset
      - limit
      - total
    UserLimits:
      type: object
      properties:
        min:
          type: integer
        max:
          type: integer
    PrivateOfferActivityUser:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
        principal_type:
          type: string
    OfferStatus:
      type: string
      description: 'Controls the offer workflow. Use `draft_status` to save the offer in

        Tackle only. Use `submit_to_cloud` to validate the offer and prepare it

        for Microsoft marketplace submission.

        '
      enum:
      - draft_status
      - draft_in_marketplace_status
      - submit_to_cloud
      - created_in_cloud
      - sent_to_cloud
      - pending_cancellation
      - partner_marked_up
      - canceled
      - accepted
      - withdrawn_canceled
      - errored
      - subscribed
      - expired
      - job_status_pending
      - detail_retrieval_pending
      - withdraw_pending
      - delete_pending
      - delete_validation_pending
      - deleted
    Buyer:
      type: object
      properties:
        email_address:
          type: string
          format: email
          description: The buyer's email used to send purchase instructions.
        full_name:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
          description: Shown in Tackle notifications sent to the seller's team.
      required:
      - email_address
    OfferPricing:
      type: object
      properties:
        plan_ref:
          type: string
          description: Microsoft plan ID.
        plan_name:
          type: string
        description:
          type: string
        contract_duration:
          $ref: '#/components/schemas/ContractDuration'
        payment_model:
          $ref: '#/components/schemas/PaymentModel'
        payment_installments:
          oneOf:
          - $ref: '#/components/schemas/PaymentInstallment'
          - type: 'null'
        payment_schedule:
          oneOf:
          - $ref: '#/components/schemas/PaymentSchedule'
          - type: 'null'
        pricing_type:
          oneOf:
          - $ref: '#/components/schemas/PricingType'
          - type: 'null'
        user_limits:
          oneOf:
          - $ref: '#/components/schemas/UserLimits'
          - type: 'null'
        dimensions:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Dimension'
    PlanTemplate:
      type: object
      properties:
        ref:
          type: string
        display:
          type: string
    OfferType:
      type: string
      enum:
      - direct
      - partner
    PricingUnit:
      type: object
      description: AMI-only pricing unit.
      properties:
        unit:
          type: string
          nullable: true
        hourly_price:
          type: string
          nullable: true
        duration_price:
          type: string
          nullable: true
    UpdateDimension:
      type: object
      properties:
        enabled:
          type:
          - boolean
          - 'null'
        id:
          type:
          - string
          - 'null'
        unit_of_measure:
          type:
          - string
          - 'null'
        price_per_unit_in_usd:
          type:
          - number
          - 'null'
          format: double
        included_quantities:
          type: array
          items:
            $ref: '#/components/schemas/DimensionQuantity'
    CreatePrivateOfferRequest:
      type: object
      description: 'Request body for creating or updating a private offer. The wrapper

        controls how the request is processed; the `private_offer` field

        carries the offer payload.


        For AWS, the `private_offer.offer_type` field discriminates the body

        shape:


        - `direct` -- ISV-to-buyer offer.

        - `partner_resale` -- AWS resale (Resale Authorization + CPPO) offer.


        See the `PrivateOffer` schema for the full set of fields supported by

        the `private_offer` body. Conditional validation rules (e.g.

        `service_start_at` is required when `billing_term` is `future_dated`)

        are enforced server-side.

        '
      properties:
        create_in_marketplace:
          type: boolean
          description: 'When `false`, creates a draft offer in Tackle only. When `true`,

            additional marketplace-specific validation is applied and the

            offer is sent to the marketplace after being saved in Tackle.

            '
        send_buyer_instructions:
          type: boolean
          description: 'Whether the buyer should receive purchase-instructions email

            immediately after the offer is created. Must be `true` for AWS

            offers that are pushed to marketplace.

            '
        dry_run:
          type: boolean
          description: 'When `true`, validates the payload without saving it or sending

            it to the marketplace. A successful dry run returns `200`; a

            successful real run returns `201`.

            '
        vendorid:
          type: string
          nullable: true
          description: 'Vendor ID to use for the offer. Inferred from the bearer token

            when omitted.

            '
        private_offer:
          allOf:
          - $ref: '#/components/schemas/PrivateOffer'
          description: The offer payload. See `PrivateOffer` for full field documentation.
      required:
      - create_in_marketplace
      - send_buyer_instructions
      - dry_run
      - private_offer
    PrivateOfferState:
      type: object
      properties:
        draft:
          oneOf:
          - $ref: '#/components/schemas/PrivateOfferStateDetail'
          - type: 'null'
        submitted:
          oneOf:
          - $ref: '#/components/schemas/PrivateOfferStateDetail'
          - type: 'null'
        accepted:
          oneOf:
          - $ref: '#/components/schemas/PrivateOfferStateDetail'
          - type: 'null'
        current_cloud:
          oneOf:
          - $ref: '#/components/schemas/PrivateOfferStateDetail'
          - type: 'null'
        last_modified:
          type: string
          format: date-time
    PaymentModel:
      type: string
      enum:
      - PaymentSchedule
      - PerYear
      - OneTime
      - PerMonth
    UserToNotify:
      type: object
      properties:
        contact_type:
          type: string
        value:
          type:
          - string
          - 'null'
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
    Buyer_2:
      type: object
      properties:
        full_name:
          type: string
        email_address:
          type: string
          format: email
        title:
          type: string
    ExtraDataUser:
      type: object
      properties:
        email:
          type: string
          format: email
      required:
      - email
    PartnerOffer:
      type: object
      description: Details about a partner (resale) offer. Only set when `offer_type` is `partner_resale`.
      properties:
        partner_offer_ref:
          type: string
          nullable: true
          description: Marketplace identifier for the partner offer (e.g. AWS Resale Authorization ID).
        partner_ref:
          type: string
          nullable: true
          description: Marketplace identifier of the partner (e.g. AWS Account Number).
        partner_name:
          type: string
          nullable: true
        reseller_agreement:
          allOf:
          - $ref: '#/components/schemas/ResellerAgreement'
          description: Reseller-agreement configuration for the partner offer. May be null.
        scheduled_start_date:
          type: string
          format: date
          nullable: true
        scheduled_end_date:
          type: string
          format: date
          nullable: true
        reseller_flat_fee_discount:
          type: string
          nullable: true
    PrivateOfferActivity:
      type: object
      properties:
        slug:
          type:
          - string
          - 'null'
          example: created-draft-offer
        user_id:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
        metadata:
          type:
          - object
          - 'null'
          additionalProperties: true
        user:
          oneOf:
          - $ref: '#/components/schemas/PrivateOfferActivityUser'
          - type: 'null'
    Source:
      type: string
      enum:
      - salesforce
      - tackle
      - microsoft
    UpdateOffer:
      type: object
      description: Partial request body for updating a Microsoft SaaS private offer.
      properties:
        salesforce:
          oneOf:
          - $ref: '#/components/schemas/UpdateSalesforce'
          - type: 'null'
        marketplace_fee:
          type:
          - number
          - 'null'
          format: double
        state:
          oneOf:
          - $ref: '#/components/schemas/OfferStateValue'
          - type: 'null'
        status:
          description: 'Use `draft_status` to update the offer in Tackle only. Use

            `submit_to_cloud` to validate the update and prepare it for Microsoft

            marketplace submission.

            '
          oneOf:
          - $ref: '#/components/schemas/OfferStatus'
          - type: 'null'
        product_name:
          type:
          - string
          - 'null'
        product_id:
          type:
          - string
          - 'null'
        metadata:
          type: object
          additionalProperties:
            type: string
        pre_registration_details:
          oneOf:
          - $ref: '#/components/schemas/PreRegistrationDetails'
          - type: 'null'
        partner:
          oneOf:
          - $ref: '#/components/schemas/Partner'
          - type: 'null'
        notes:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        buyer_details:
          oneOf:
          - $ref: '#/components/schemas/UpdateBuyerDetails'
          - type: 'null'
        renewal:
          type:
          - boolean
          - 'null'
        eula:
          oneOf:
          - $ref: '#/components/schemas/EULA_2'
          - type: 'null'
        product_ref:
          type:
          - string
          - 'null'
        users_to_notify:
          type: array
          items:
            $ref: '#/components/schemas/UpdateUserToNotify'
        pricing:
          oneOf:
          - $ref: '#/components/schemas/UpdateOfferPricing'
          - type: 'null'
        preparer_email:
          type:
          - string
          - 'null'
          format: email
        start_on:
          oneOf:
          - $ref: '#/components/schemas/StartOn'
          - type: 'null'
        start_date:
          type:
          - string
          - 'null'
          format: date
        end_date:
          type:
          - string
          - 'null'
          format: date
        accept_by_date:
          type:
          - string
          - 'null'
          format: date
        plan_template:
          oneOf:
          - $ref: '#/components/schemas/PlanTemplate'
          - type: 'null'
    UsageDimension:
      type: object
      properties:
        description:
          type: string
          nullable: true
          description: Human-friendly name of the usage dimension.
        sku:
          type: string
          nullable: true
          description: API identifier of the usage dimension in AWS Marketplace.
        price:
          type: string
          nullable: true
          description: Price per unit.
        aws_discount_percentage:
          type: string
          nullable: true
          description: Display-only discount percentage.
    UpdateOfferPricing:
      type: object
      properties:
        plan_name:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        contract_duration:
          oneOf:
          - $ref: '#/components/schemas/UpdateContractDuration'
          - type: 'null'
        payment_model:
          oneOf:
          - $ref: '#/components/schemas/PaymentModel'
          - type: 'null'
        payment_installments:
          oneOf:
          - $ref: '#/components/schemas/UpdatePaymentInstallment'
          - type: 'null'
        payment_schedule:
          oneOf:
          - $ref: '#/components/schemas/PaymentSchedule'
          - type: 'null'
        pricing_type:
          oneOf:
          - $ref: '#/components/schemas/PricingType'
          - type: 'null'
        user_limits:
          oneOf:
          - $ref: '#/components/schemas/UserLimits'
          - type: 'null'
        dimensions:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/UpdateDimension'
    UpdateBuyerDetails:
      type: object
      properties:
        company_name:
          type:
          - string
          - 'null'
        billing_account_id:
          type:
          - string
          - 'null'
        buyers:
          type: array
          items:
            $ref: '#/components/schemas/Buyer_2'
    ProductType:
      type: string
      enum:
      - saas
      - ami
      - professional_services
    Partner:
      type: object
      properties:
        partner_name:
          type:
          - string
          - 'null'
        partner_seller_id:
          type: string
    ErrorResponse:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: Human-readable error message.
          example: missing id
    PaymentSchedule:
      type: object
      properties:
        initial_charge:
          $ref: '#/components/schemas/InitialCharge'
        payment_schedule:
          type: array
          items:
            $ref: '#/components/schemas/ScheduleDetail'
    Activity:
      type: object
      readOnly: true
      properties:
        activity_type:
          type: string
          enum:
          - PO
          description: Always `PO` for private offers.
        slug:
          type: string
          nullable: true
          enum:
          - vendor-created-marketplace-offer-success
          - vendor-created-marketplace-offer-pending
          - vendor-created-marketplace-offer-failed
          - marketplace-offer-change-expiration-pending
          - marketplace-offer-change-expiration-success
          - marketplace-offer-change-expiration-failed
          - marketplace-offer-cancel-offer-pending
          - marketplace-offer-cancel-offer-success
          - marketplace-offer-cancel-offer-failed
          - vendor-created-offer
          - vendor-created-offer-in-salesforce
          - vendor-cloned-offer
        user_id:
          type: string
          nullable: true
        metadata:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
    MsftResponse:
      type: object
      properties:
        job_id:
          type: string
        offer_id:
          type:
          - string
          - 'null'
        resource_uri:
          type:
          - string
          - 'null'
        raw_response:
          type: string
    InitialCharge:
      type: object
      properties:
        price_per_payment_in_usd:
          type:
          - number
          - 'null'
          format: double
        note:
          type:
          - string
          - 'null'
    CreatePrivateOfferResponse:
      type: object
      properties:
        dry_run:
          type: boolean
          description: Echoes the `dry_run` flag from the request.
        private_offer:
          $ref: '#/components/schemas/PrivateOffer'
      required:
      - dry_run
      - private_offer
    CreateSalesforce:
      type: object
      properties:
        custom_object_id:
          type:
          - string
          - 'null'
        opportunity_id:
          type:
          - string
          - 'null'
    PrivateOfferStateDetail:
      type: object
      properties:
        raw_message:
          type: string
    CreateUserToNotify:
      type: object
      properties:
        contact_type:
          type: string
        value:
          type:
          - string
          - 'null'
        email:
          type: string
          format: email
    Clone:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/Source'
        originating_offer_id:
          type: string
    MarketplaceCreatePrivateOfferRequest:
      type: object
      description: 'Request body for promoting an existing Tackle draft offer into AWS

        Marketplace. Only the wrapper options are accepted; the offer payload

        is taken from the existing draft.

        '
      properties:
        send_buyer_instructions:
          type: boolean
          description: Whether to send the buyer purchase-instructions email immediately.
        dry_run:
          type: boolean
          description: 'When `true`, validates that the offer can be pushed without

            actually pushing it. A successful dry run returns `200`; a

            successful push returns `201`.

            '
      required:
      - send_buyer_instructions
      - dry_run
    DimensionQuantity:
      type: object
      properties:
        dimension_term:
          $ref: '#/components/schemas/ContractDuration'
        unlimited_quantity:
          type: boolean
        quantity:
          type: number
          format: double
    PaymentInstallment:
      type: object
      properties:
        price_per_payment_in_usd:
          type: number
          format: double
    PricingDimension:
      type: object
      properties:
        dimension_value:
          type: string
          nullable: true
          readOnly: true
        name:
          type: string
          nullable: true
          description: User-friendly name of the dimension. Defaults to `api_name` if omitted.
        quantity:
          type: string
          nullable: true
          description: 'Quantity of the dimension the buyer is purchasing. Only applicable

            when `payment_model` is `payment_schedule`.

            '
        price:
          type: string
          nullable: true
          description: 'Price per unit of the dimension. Only applicable when

            `payment_model` is `per_product`.

            '
        api_name:
          type: string
          nullable: true
          description: 'API identifier of the dimension in AWS Marketplace. If `name`

            does not match an existing dimension, a new custom dimension is

            added to the product listing (limit 100).

            '
        aws_discount_percentage:
          type: string
          nullable: true
          description: Display-only discount percentage.
    PrivateOffer:
      type: object
      description: 'Represents a private offer for any cloud marketplace and product type.

        Field shapes are backward-compatible with the `private_offer_metadata`

        object documented in the

        [Tackle webhook reference](https://developers.tackle.io/reference/sample-private-offer-payloads).

        '
      properties:
        po_id:
          type: string
          readOnly: true
          description: Tackle-issued unique offer ID.
          example: po_01HXXXXXXXXXXXXXXXXXXXXXXX
        offerid:
          type: string
          nullable: true
          readOnly: true
          description: 'Marketplace-issued unique offer ID. For AWS partner offers this is

            initially the Resale Authorization ID (`resaleauthz-*`); once the

            CPPO is extended it is replaced with the CPPO offer ID

            (`offer-*`).

            '
        vendorid:
          type: string
          readOnly: true
          description: Tackle-issued vendor (ISV) ID that owns the offer.
        offer_name:
          type: string
          nullable: true
          description: The name of the offer as it will appear in the marketplace.
        offer_description:
          type: string
          nullable: true
          description: A human-friendly description of the offer.
        offer_type:
          type: string
          enum:
          - direct
          - partner_resale
          description: '`direct` is an ISV-to-buyer offer. `partner_resale` is a Resale

            Authorization + CPPO offer.

            '
        marketplace:
          type: string
          enum:
          - aws
          description: Always `aws` for offers returned by this API.
        productid:
          type: string
          nullable: true
          description: The marketplace product code (AWS Product Code).
        offer_product_type:
          type: string
          enum:
          - saas
          - ami
          default: saas
          nullable: true
          description: Determines pricing and contract terms for the offer.
        buyer_billing_account_ref:
          type: string
          description: The buyer's 12-digit AWS account number.
          example: '123456789012'
        positive_targeting:
          allOf:
          - $ref: '#/components/schemas/PositiveTargeting'
          description: Positive targeting (e.g. country allow-list). May be null.
        buyer_company_name:
          type: string
          nullable: true
        source_offer_id:
          type: string
          nullable: true
          description: For amendment offers, the marketplace ID of the offer in the existing agreement.
        salesforce_id:
          type: string
          nullable: true
          description: ID of the corresponding Salesforce Opportunity.
        offer_expiration_at:
          type: string
          format: date
          nullable: true
          description: YYYY-MM-DD date until which the offer is purchasable in the marketplace.
        renewal:
          type: boolean
          default: false
          description: 'Indicates that this offer is a renewal of an existing agreement

            with the same buyer for the same product.

            '
        aws_renewal_moving_to_marketplace:
          type: boolean
          default: false
          description: 'For renewal offers where the existing agreement was originally

            outside AWS Marketplace, indicates that the renewal is moving the

            agreement into AWS Marketplace.

            '
        buyers:
          type: array
          description: Recipients of purchase-instructions notifications and activity logs.
          items:
            $ref: '#/components/schemas/Buyer'
        pricing:
          $ref: '#/components/schemas/Pricing'
        eula:
          $ref: '#/components/schemas/EULA'
        offer_metadata:
          type: object
          additionalProperties: true
          description: Custom internal metadata associated with the offer.
        pre_registration_details:
          type: object
          additionalProperties: true
          description: 'Custom public metadata pre-filled for the buyer when registering

            their order after offer acceptance.

            '
        extra_data:
          $ref: '#/components/schemas/ExtraData'
        enable_zero_dollar_prices:
          type: boolean
          description: Whether the offer allows zero-dollar prices on its dimensions.
        stage:
          type: string
          readOnly: true
          description: Lifecycle stage of the offer.
        status:
          type: string
          readOnly: true
          description: Most recent activity status of the offer.
        created_at:
          type: string
          format: date-time
          readOnly: true
        last_modified_at:
          type: string
          format: date-time
          readOnly: true
        accepted_at:
          type: string
          format: date-time
          nullable: true
          readOnly: true
        archived_at:
          type: string
          format: date-time
          nullable: true
          readOnly: true
        cancelled_at:
          type: string
          format: date-time
          nullable: true
          readOnly: true
        opened_instructions_at:
          type: string
          format: date-time
          nullable: true
          readOnly: true
        sent_at:
          type: string
          format: date-time
          nullable: true
          readOnly: true
        viewed_offer_at:
          type: string
          format: date-time
          nullable: true
          readOnly: true
        created_in_marketplace_at:
          type: string
          format: date-time
          nullable: true
          readOnly: true
        activities:
          type: array
          readOnly: true
          description: History of lifecycle events for the offer.
          items:
            $ref: '#/components/schemas/Activity'
        partner_offer:
          allOf:
          - $ref: '#/components/schemas/PartnerOffer'
          description: Only set when `offer_type` is `partner_resale`. May be null otherwise.
        salesforce:
          allOf:
          - $ref: '#/components/schemas/Salesforce'
          description: Salesforce association for the offer. May be null.
        cloud_contract_id:
          type: string
          nullable: true
          readOnly: true
          description: The marketplace ID of the cloud contract associated with the offer.
        principal_type:
          type: string
          nullable: true
          readOnly: true
          description: The type of principal (user, M2M token, etc.) that created the offer.
      required:
      - po_id
      - vendorid
      - marketplace
      - offer_type
      - buyer_billing_account_ref
      - created_at
      - last_modified_at
    PricingType:
      type: string
      enum:
      - flat_rate
      - per_user
    UpdatePaymentInstallment:
      type: object
      properties:
        price_per_payment_in_usd:
          type:
          - number
          - 'null'
          format: double
    Dimension:
      type: object
      properties:
        enabled:
          type: boolean
        id:
          type: string
        unit_of_measure:
          type: string
        price_per_unit_in_usd:
          type: number
          format: double
        included_quantities:
          type: array
          items:
            $ref: '#/components/schemas/DimensionQuantity'
    PositiveTargeting:
      type: object
      description: Positive targeting constraints (currently country allow-lists).
      properties:
        country_codes:
          type: array
          description: ISO 3166-1 alpha-2 country codes the offer is restricted to.
          items:
            type: string
            pattern: ^[A-Z]{2}$
    ContractDuration:
      type: object
      properties:
        type:
          type: string
          example: month
        frequency:
          type: integer
          example: 12
    ResellerAgreement:
      type: object
      properties:
        type:
          type: string
          enum:
          - none-selected
          - custom
          - rcmp-2021-12-01
          description: '`none-selected` omits a Reseller Agreement. `custom` requires

            uploaded documents in `document_urns`. `rcmp-2021-12-01` uses the

            Reseller Contract for AWS Marketplace (RCMP).

            '
        document_urns:
          type: array
          maxItems: 1
          items:
            type: string
        files:
          type: array
          readOnly: true
          deprecated: true
          items:
            type: string
      required:
      - type
    PrivateOfferError:
      type: object
      properties:
        source:
          type: string
        type:
          type: string
        message:
          type: string
    EULA:
      type: object
      description: EULA configuration for the offer.
      properties:
        type:
          type: string
          enum:
          - public
          - aws-standard
          - custom
          - use-existing
          - standard
          nullable: true
          description: '`public` uses the EULA from the product''s public offer.

            `aws-standard` defaults to the Standard Contract for AWS

            Marketplace (SCMP). `custom` requires `document_urns` to point

            at uploaded documents. `use-existing` reuses the EULA from an

            existing agreement (replacement offers only).

            '
        document_urns:
          type: array
          maxItems: 5
          description: 'IDs supplied by the Tackle Documents Service after EULA documents

            are uploaded.

            '
          items:
            type: string
        files:
          type: array
          readOnly: true
          deprecated: true
          description: 'Deprecated: use `document_urns` instead. Retained for backward

            compatibility until data migration is complete.

            '
          items:
            type: string
    BuyerDetails:
      type: object
      properties:
        company_name:
          type: string
        billing_account_id:
          type: string
        buyers:
          type: array
          items:
            $ref: '#/components/schemas/Buyer_2'
    UpdateSalesforce:
      type: object
      properties:
        custom_object_id:
          type:
          - string
          - 'null'
        opportunity_id:
          type:
          - string
          - 'null'
    PrivateOfferSalesforce:
      type: object
      properties:
        created_at:
          type:
          - string
          - 'null'
          format: date-time
        custom_object_id:
          type:
          - string
          - 'null'
        opportunity_id:
          type:
          - string
          - 'null'
    PrivateOffer_2:
      type: object
      description: Stored Tackle Microsoft private offer.
      properties:
        po_id:
          type: string
        accepted_at:
          type:
          - string
          - 'null'
          format: date-time
        accepted_source:
          type:
          - string
          - 'null'
        archived_at:
          type:
          - string
          - 'null'
          format: date-time
        created_at:
          type: string
          format: date-time
        cancelled_at:
          type:
          - string
          - 'null'
          format: date-time
        last_modified_at:
          type: string
          format: date-time
        last_update_source:
          type:
          - string
          - 'null'
        viewed_offer_at:
          type:
          - string
          - 'null'
          format: date-time
        sent_at:
          type:
          - string
          - 'null'
          format: date-time
        submitted_at:
          type:
          - string
          - 'null'
          format: date-time
        opened_instructions_at:
          type:
          - string
          - 'null'
          format: date-time
        subscribed_at:
          type:
          - string
          - 'null'
          format: date-time
        partner_marked_up_at:
          type:
          - string
          - 'null'
          format: date-time
        marketplace_acceptance_link:
          type:
          - string
          - 'null'
          format: uri
        salesforce:
          $ref: '#/components/schemas/PrivateOfferSalesforce'
        vendor_id:
          type: string
        vendor_name:
          type: string
        product_contact_email:
          type: string
          format: email
        state:
          $ref: '#/components/schemas/OfferStateValue'
        status:
          $ref: '#/components/schemas/OfferStatus'
        offer_type:
          $ref: '#/components/schemas/OfferType'
        marketplace_fee:
          type: number
          format: double
        activities:
          type: array
          items:
            $ref: '#/components/schemas/PrivateOfferActivity'
        archived:
          type: boolean
        version:
          type: string
        product_id:
          type: string
        product_name:
          type: string
        source:
          $ref: '#/components/schemas/Source'
        marketplace_created_at:
          type:
          - string
          - 'null'
          format: date-time
        clone:
          oneOf:
          - $ref: '#/components/schemas/Clone'
          - type: 'null'
        metadata:
          type: object
          additionalProperties:
            type: string
        product_type:
          $ref: '#/components/schemas/ProductType'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/PrivateOfferError'
        pre_registration_details:
          $ref: '#/components/schemas/PreRegistrationDetails'
        ui_state:
          $ref: '#/components/schemas/OfferStateValue'
        partner:
          oneOf:
          - $ref: '#/components/schemas/Partner'
          - type: 'null'
        total_contract_value_gross_amount:
          type: number
          format: double
        total_contract_value_net_amount:
          type: number
          format: double
        est_min_total_contract_value_gross_amount:
          type: number
          format: double
        est_min_total_contract_value_net_amount:
          type: number
          format: double
        est_max_total_contract_value_gross_amount:
          type: number
          format: double
        est_max_total_contract_value_net_amount:
          type: number
          format: double
        name:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        buyer_details:
          $ref: '#/components/schemas/BuyerDetails'
        renewal:
          type: boolean
        eula:
          $ref: '#/components/schemas/EULA_2'
        product_ref:
          type: string
        users_to_notify:
          type: array
          items:
            $ref: '#/components/schemas/UserToNotify'
        pricing:
          $ref: '#/components/schemas/OfferPricing'
        preparer_email:
          type: string
          format: email
        start_on:
          $ref: '#/components/schemas/StartOn'
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        accept_by_date:
          type: string
          format: date
        offer_ref:
          type:
          - string
          - 'null'
        plan_template:
          $ref: '#/components/schemas/PlanTemplate'
        plan_ref:
          type:
          - string
          - 'null'
        subscription_ref:
          type:
          - string
          - 'null'
        notes:
          type:
          - string
          - 'null'
        offer_state:
          $ref: '#/components/schemas/PrivateOfferState'
        msft_response:
          $ref: '#/components/schemas/MsftResponse'
    CreateOffer:
      type: object
      description: Request body for creating a Microsoft SaaS private offer.
      properties:
        offer_type:
          $ref: '#/components/schemas/OfferType'
        salesforce:
          oneOf:
          - $ref: '#/components/schemas/CreateSalesforce'
          - type: 'null'
        vendor_id:
          type: string
          description: Tackle vendor ID that owns the offer.
        state:
          $ref: '#/components/schemas/OfferStateValue'
        status:
          description: 'Use `draft_status` to create a Tackle-only draft. Use

            `submit_to_cloud` to validate the offer and prepare it for Microsoft

            marketplace submission.

            '
          $ref: '#/components/schemas/OfferStatus'
        marketplace_fee:
          type: number
          format: double
        vendor_name:
          type: string
        product_id:
          type: string
          description: Tackle product ID.
        product_name:
          type: string
        source:
          oneOf:
          - $ref: '#/components/schemas/Source'
          - type: 'null'
        clone:
          oneOf:
          - $ref: '#/components/schemas/Clone'
          - type: 'null'
        metadata:
          type: object
          additionalProperties:
            type: string
        pre_registration_details:
          oneOf:
          - $ref: '#/components/schemas/PreRegistrationDetails'
          - type: 'null'
        partner:
          oneOf:
          - $ref: '#/components/schemas/Partner'
          - type: 'null'
        notes:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        buyer_details:
          $ref: '#/components/schemas/BuyerDetails'
        renewal:
          type: boolean
        eula:
          $ref: '#/components/schemas/EULA_2'
        product_ref:
          type: string
          description: Microsoft product reference.
        users_to_notify:
          type: array
          items:
            $ref: '#/components/schemas/CreateUserToNotify'
        pricing:
          $ref: '#/components/schemas/OfferPricing'
        preparer_email:
          type: string
          format: email
        start_on:
          $ref: '#/components/schemas/StartOn'
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        accept_by_date:
          type: string
          format: date
        plan_template:
          $ref: '#/components/schemas/PlanTemplate'
      example:
        offer_type: direct
        vendor_id: vendor-123
        status: draft_status
        vendor_name: Example Vendor
        product_id: product-123
        product_name: Example Product
        buyer_details:
          company_name: Example Buyer
          billing_account_id: billing-account-123
          buyers:
          - full_name: Buyer User
            email_address: buyer@example.com
            title: Procurement
        eula:
          type: standard
          document_urns: []
        pricing:
          plan_name: Example Plan
          description: Annual plan
          contract_duration:
            type: month
            frequency: 12
          payment_model: OneTime
          payment_installments:
            price_per_payment_in_usd: 1200
          pricing_type: flat_rate
        start_on: acceptance
        start_date: '2026-05-01'
        end_date: '2027-04-30'
        accept_by_date: '2026-05-31'
        plan_template:
          ref: plan-template-123
          display: Standard plan
    ImportMicrosoftOfferRequest:
      type: object
      required:
      - microsoftOfferId
      - buyer_company_name
      properties:
        microsoftOfferId:
          type: string
          description: Microsoft private offer ID to import.
          example: ms-offer-123
        buyer_company_name:
          type: string
          description: Buyer company name to store on the imported offer.
          example: Example Buyer
        salesforce_opportunity_id:
          type: string
          description: Optional Salesforce opportunity ID to associate to the imported offer.
          example: 6000000000001
  responses:
    UnauthorizedError:
      description: Authentication failed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: unauthorized
    NotFound:
      description: Resource does not exist or is not visible to the caller.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError_2:
      description: Internal server error or upstream dependency failure.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequestError:
      description: Invalid request or unsupported operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: missing id
    NotFoundError:
      description: Requested offer or resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: not found
    BadRequest:
      description: Request was malformed or failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Caller is authenticated but not authorized for this resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid Tackle JWT.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: An unexpected server error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ForbiddenError:
      description: Caller is not allowed to perform this action.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: forbidden
  parameters:
    TackleOperationId:
      name: tackle-operation-id
      in: header
      required: false
      description: Optional caller-provided operation ID for request tracing.
      schema:
        type: string
      example: 018f01ec-3f2b-7a70-b81e-4fc3d6a69f42
    PrivateOfferId:
      name: id
      in: path
      required: true
      description: The Tackle private-offer identifier (`po_*`).
      example: po_01HXXXXXXXXXXXXXXXXXXXXXXX
      schema:
        type: string
    OfferId:
      name: id
      in: path
      required: true
      description: Tackle private offer ID.
      schema:
        type: string
      example: po-1234
    OfferRef:
      name: offer_ref
      in: query
      required: false
      description: Filter offers by Microsoft offer reference.
      schema:
        type: string
      example: ms-offer-123
    PlanRef:
      name: plan_ref
      in: query
      required: false
      description: Filter offers by Microsoft plan reference.
      schema:
        type: string
      example: plan-123
  securitySchemes:
    tackleJwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Tackle-issued JWT (interactive user or MTM token).
