openapi: 3.2.0
info:
  title: Offers MSFT Currencies API
  description: 'The Offers MSFT API manages Microsoft private offers in Tackle. It includes externally consumable endpoints authenticated by Tackle user or machine-to-machine bearer tokens and authorized through Tackle RBAC.


    Clients may include the optional `tackle-operation-id` header for request tracing. API Gateway rate limiting and throttling are configured per environment.'
  version: 1.0.0
  license:
    name: Proprietary
    url: https://www.tackle.io/
servers:
- url: https://msft.offers.tackle.io
  description: MSFT Offers Service
tags:
- name: Currencies
  description: Microsoft marketplace currency and conversion helpers.
paths:
  /api/currencies:
    get:
      tags:
      - Currencies
      summary: Get Microsoft market currencies
      description: 'Returns accepted currencies and the Microsoft marketplace countries

        grouped by accepted currency.


        Required RBAC action: `offers:CreateDraftOffer`.'
      operationId: getMarketCurrencies
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/TackleOperationId'
      responses:
        '200':
          description: Market currencies found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketCurrenciesResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /api/currencies/convert:
    post:
      tags:
      - Currencies
      summary: Convert currencies
      description: 'Converts one or more amounts from a base currency to a target currency

        using cached Microsoft foreign exchange rates. Row-level conversion

        errors are returned in `results[].error` without failing the entire

        request.


        Required RBAC action: `offers:CreateDraftOffer`.'
      operationId: convertCurrencies
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/TackleOperationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrencyConversionRequest'
      responses:
        '200':
          description: Currency conversion results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyConversionResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    CurrencyOption:
      type: object
      properties:
        value:
          type: string
          description: ISO 4217 currency code.
          example: USD
        display:
          type: string
          example: United States Dollar | USD ($)
    CurrencyConversionPayload:
      type: object
      required:
      - id
      - base_currency
      - target_currency
      - amount
      properties:
        id:
          type: string
          description: Caller-provided row ID echoed in the response.
        base_currency:
          type: string
          example: USD
        target_currency:
          type: string
          example: EUR
        amount:
          type: number
          format: double
          example: 100
    MarketCurrenciesResponse:
      type: object
      properties:
        currency_options:
          type: array
          items:
            $ref: '#/components/schemas/CurrencyOption'
        currency_markets:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/MarketCurrency'
      example:
        currency_options:
        - value: USD
          display: United States Dollar | USD ($)
        currency_markets:
          USD:
          - country_name: United States
            iso2: US
            currency: USD
    CurrencyConversionResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/CurrencyConversionResult'
        success:
          type: boolean
          example: true
    CurrencyConversionResult:
      type: object
      properties:
        id:
          type: string
        base_currency:
          type: string
        target_currency:
          type: string
        original_amount:
          type: number
          format: double
        converted_amount:
          type: number
          format: double
        exchange_rate:
          type: number
          format: double
        rate_source_date:
          type: string
          format: date
        rate_as_of_date:
          type: string
          format: date
        error:
          oneOf:
          - $ref: '#/components/schemas/CurrencyConversionError'
          - type: 'null'
    CurrencyConversionRequest:
      type: object
      required:
      - conversions
      properties:
        as_of_date:
          type: string
          format: date
          description: Requested FX rate date. Defaults to the current UTC date.
          example: '2026-04-30'
        conversions:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/CurrencyConversionPayload'
    ErrorResponse:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: Human-readable error message.
          example: missing id
    CurrencyConversionError:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    MarketCurrency:
      type: object
      properties:
        country_name:
          type: string
        iso2:
          type: string
          description: ISO 3166-1 alpha-2 country code.
          example: US
        currency:
          type: string
          description: ISO 4217 currency code.
          example: USD
        notes:
          type: string
        source:
          type: string
        source_revision:
          type: string
  responses:
    ForbiddenError:
      description: Caller is not allowed to perform this action.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: forbidden
    UnauthorizedError:
      description: Authentication failed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: unauthorized
    BadRequestError:
      description: Invalid request or unsupported operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: missing id
    InternalServerError:
      description: Internal server error or upstream dependency failure.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    TackleOperationId:
      name: tackle-operation-id
      in: header
      required: false
      description: Optional caller-provided operation ID for request tracing.
      schema:
        type: string
      example: 018f01ec-3f2b-7a70-b81e-4fc3d6a69f42
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Tackle bearer token checked by RBAC for the operation action.
