openapi: 3.0.3
info:
  title: Tackle Public Contracts Authentication Version API
  description: "Customer-facing read API for cloud marketplace contracts that Tackle has\ningested for your Tackle account.\n\nThe response shape is a stable projection of the underlying\ncontract document. It is intended to be safe to consume long-term: fields\nwill be added over time, but documented fields will not be removed without\ndeprecation notice.\n\n## Authentication\n\nEvery request must include a valid Tackle JWT in the `Authorization`\nheader (`Authorization: Bearer <token>`). Machine-to-machine (MTM) tokens\nissued for your Tackle account are accepted. The token scopes every\nresponse to the account it represents.\n\n## Pagination\n\n`GET /api/contracts` is the only paginated endpoint. Pagination uses an\nopaque `cursor` query parameter:\n\n1. The first request omits `cursor`.\n2. If more pages exist, the response includes a `next` field. Pass that\n   value verbatim back as `cursor` on the next request.\n3. The last page omits `next`.\n\nCursors are opaque tokens. Do not parse, modify, or persist them across\nschema changes — request a fresh page from the start instead.\n"
  version: 1.0.0
servers:
- url: https://contracts.tackle.io
  description: Production
security:
- tackleJwt: []
tags:
- name: Version
  description: Operations for API Versions
paths:
  /v1/version:
    get:
      tags:
      - Version
      operationId: v1-get-version
      description: Current API Version
      responses:
        '200':
          $ref: '#/components/responses/Version_Version-200-OK'
      summary: Get API Version
components:
  responses:
    Version_Version-200-OK:
      description: Successful version response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/VersionResponse'
          examples:
            version-response:
              value:
                version: 1.0.0
                sub_versions: []
  schemas:
    VersionResponse:
      title: VersionResponse
      type: object
      properties:
        version:
          type: string
          description: API version
        sub_versions:
          type: array
          items:
            type: string
      required:
      - version
      - sub_versions
  securitySchemes:
    tackleJwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Tackle-issued JWT (interactive user or MTM token).
