openapi: 3.2.0
info:
  title: Tackle Version API
  description: Authenticated programmatic access to Tackle's webhooks, metering, and more.
  version: 1.0.0
  contact:
    name: Tackle Support
    email: support@tackle.io
    url: https://tackle.io
servers:
- url: https://api.tackle.io
tags:
- name: Version
  description: Operations for API Versions
paths:
  /v1/version:
    get:
      tags:
      - Version
      operationId: v1-get-version
      description: Current API Version
      responses:
        '200':
          $ref: '#/components/responses/Version_Version-200-OK'
      summary: Get API Version
components:
  responses:
    Version_Version-200-OK:
      description: Successful version response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/VersionResponse'
          examples:
            version-response:
              value:
                version: 1.0.0
                sub_versions: []
  schemas:
    VersionResponse:
      title: VersionResponse
      type: object
      properties:
        version:
          type: string
          description: API version
        sub_versions:
          type: array
          items:
            type: string
      required:
      - version
      - sub_versions
  securitySchemes:
    BearerAuth:
      description: The Tackle API requires a JWT for authentication. You can get this by [getting your API credentials](https://developers.tackle.io/docs/how-to-get-an-m2m-client-id-and-secret) from the Tackle Platform then [retrieving your Access Token](https://developers.tackle.io/docs/getting-an-access-token) using our Authentication endpoint.
      type: http
      scheme: bearer
      bearerFormat: JWT
    BasicAuthCallback:
      description: Use `basic` for [basic HTTP authentication](https://en.wikipedia.org/wiki/Basic_access_authentication); this is only used for `callbacks`
      type: http
      scheme: basic
    HeaderApiKeyAuthCallback:
      description: Use `header_api_key` to specify a custom HTTP request header for authentication. Requests from Tackle will use the specified HTTP header for outbound requests to your Webhook URL; this is only used for `callbacks`'
      type: apiKey
      name: subscription-key
      in: header
    Oauth2AuthCallback:
      description: This auth-type is for `oauth2` client credentials flow. We will use the client_id and client_secret to call the token_url to get an access token; this is only used for `callbacks`'
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes: {}
externalDocs:
  description: Tackle Developer Hub and API Documentation
  url: https://developers.tackle.io
x-readme:
  explorer-enabled: false
  proxy-enabled: true
  samples-enabled: true
