{
  "openapi": "3.0.3",
  "info": {
    "title": "Tackle API",
    "description": "Authenticated programmatic access to Tackle's webhooks, metering, and more.",
    "version": "1.0.0",
    "contact": {
      "name": "Tackle Support",
      "email": "support@tackle.io",
      "url": "https://tackle.io"
    }
  },
  "servers": [
    {
      "url": "https://api.tackle.io"
    }
  ],
  "externalDocs": {
    "description": "Tackle Developer Hub and API Documentation",
    "url": "https://developers.tackle.io"
  },
  "tags": [
    {
      "name": "Webhooks",
      "description": "Operations for Webhooks"
    },
    {
      "name": "Authentication",
      "description": "Operations for API Authentication"
    },
    {
      "name": "Registrations",
      "description": "Operations for Order Registrations"
    },
    {
      "name": "Version",
      "description": "Operations for API Versions"
    },
    {
      "name": "Products",
      "description": "Operations for Products"
    },
    {
      "name": "Subscriptions",
      "description": "Operations for Subscriptions"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "description": "The Tackle API requires a JWT for authentication. You can get this by [getting your API credentials](https://developers.tackle.io/docs/how-to-get-an-m2m-client-id-and-secret) from the Tackle Platform then [retrieving your Access Token](https://developers.tackle.io/docs/getting-an-access-token) using our Authentication endpoint.",
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "BasicAuthCallback": {
        "description": "Use `basic` for [basic HTTP authentication](https://en.wikipedia.org/wiki/Basic_access_authentication); this is only used for `callbacks`",
        "type": "http",
        "scheme": "basic"
      },
      "HeaderApiKeyAuthCallback": {
        "description": "Use `header_api_key` to specify a custom HTTP request header for authentication. Requests from Tackle will use the specified HTTP header for outbound requests to your Webhook URL; this is only used for `callbacks`'",
        "type": "apiKey",
        "name": "subscription-key",
        "in": "header"
      },
      "Oauth2AuthCallback": {
        "description": "This auth-type is for `oauth2` client credentials flow. We will use the client_id and client_secret to call the token_url to get an access token; this is only used for `callbacks`'",
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "/oauth/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "AwsCloud": {
        "type": "string",
        "description": "AWS Cloud",
        "default": "aws",
        "enum": [
          "aws"
        ],
        "example": "aws"
      },
      "AwsPricing": {
        "type": "object",
        "description": "Pricing data for AWS",
        "properties": {
          "duration": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "schedule": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "show_on_email": {
            "type": "boolean"
          },
          "buyers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "dimensions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "monthly_contract_value": {
            "type": "string"
          },
          "net_contract_value": {
            "type": "string"
          },
          "total_contract_value": {
            "type": "string"
          },
          "marketplace_fee": {
            "type": "string"
          }
        }
      },
      "AzureCloud": {
        "type": "string",
        "description": "Azure Cloud",
        "default": "azure",
        "enum": [
          "azure"
        ],
        "example": "azure"
      },
      "AzureGcpPricing": {
        "type": "object",
        "description": "Pricing data for Azure and GCP",
        "properties": {
          "duration": {
            "type": "integer"
          },
          "version": {
            "type": "string"
          },
          "show_on_email": {
            "type": "boolean"
          },
          "buyers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "dimensions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "monthly_contract_value": {
            "type": "string"
          },
          "net_contract_value": {
            "type": "string"
          },
          "total_contract_value": {
            "type": "string"
          },
          "marketplace_fee": {
            "type": "string"
          }
        }
      },
      "GcpCloud": {
        "type": "string",
        "description": "GCP Cloud",
        "default": "gcp",
        "enum": [
          "gcp"
        ],
        "example": "gcp"
      },
      "RedHatCloud": {
        "type": "string",
        "description": "Red Hat Cloud",
        "default": "redhat",
        "enum": [
          "redhat"
        ],
        "example": "redhat"
      },
      "Clouds": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/AwsCloud"
          },
          {
            "$ref": "#/components/schemas/GcpCloud"
          },
          {
            "$ref": "#/components/schemas/AzureCloud"
          },
          {
            "$ref": "#/components/schemas/RedHatCloud"
          }
        ],
        "description": "A string identifying a cloud marketplace"
      },
      "AwsProductId": {
        "type": "string",
        "description": "AWS Product Code",
        "example": "1test1a2b3c4d5e6f7g8h9ijk",
        "minLength": 0
      },
      "GcpProductId": {
        "type": "string",
        "description": "GCP Solution ID",
        "example": "tackle-for-gcp",
        "minLength": 0
      },
      "AzureProductId": {
        "type": "string",
        "description": "Azure Offer ID",
        "example": "tackle-azure-platform",
        "minLength": 0
      },
      "RedHatProductId": {
        "type": "string",
        "description": "Red Hat Product Id",
        "example": "d7a149a199100ad8a9931f14ea95cd00",
        "minLength": 0
      },
      "ProductId": {
        "description": "Cloud Marketplace issued ID for a product",
        "example": "abcd-1234-efgh-5678",
        "anyOf": [
          {
            "$ref": "#/components/schemas/AwsProductId"
          },
          {
            "$ref": "#/components/schemas/GcpProductId"
          },
          {
            "$ref": "#/components/schemas/AzureProductId"
          },
          {
            "$ref": "#/components/schemas/RedHatProductId"
          }
        ]
      },
      "UsageRecordId": {
        "description": "Identifier for a usage record",
        "example": {
          "$ref": "#/components/schemas/Uuid"
        }
      },
      "AwsCustomerId": {
        "type": "string",
        "description": "AWS Account Reference ID",
        "example": "ij3sXMkN3or",
        "minLength": 0
      },
      "AwsMeteringCustomerId": {
        "type": "string",
        "description": "AWS Customer Reference ID or AWS Account Number",
        "example": 123456789012,
        "minLength": 0
      },
      "AwsMeteringProductId": {
        "type": "string",
        "description": "AWS Product Code",
        "example": "1test1a2b3c4d5e6f7g8h9ijk",
        "minLength": 0
      },
      "AwsMeteringSubscriptionId": {
        "type": "string",
        "description": "Agreement ID, License ID or License ARN",
        "example": "agmt-1234567890abcdefghijklmno",
        "minLength": 0,
        "nullable": true
      },
      "GcpCustomerId": {
        "type": "string",
        "description": "GCP External Account ID",
        "example": "E-ABC2-D330-E2FG-H2Q2",
        "minLength": 0
      },
      "AzureCustomerId": {
        "type": "string",
        "description": "Azure Subscription ID",
        "example": "1b3gs3f4-2794-abcd-3fa3-063ga0s3t3re",
        "minLength": 0
      },
      "RedHatCustomerId": {
        "type": "string",
        "description": "Red Hat Customer Id",
        "example": "615334398743ac63d55cc4db",
        "minLength": 0
      },
      "CustomerId": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/AwsCustomerId"
          },
          {
            "$ref": "#/components/schemas/GcpCustomerId"
          },
          {
            "$ref": "#/components/schemas/AzureCustomerId"
          },
          {
            "$ref": "#/components/schemas/RedHatCustomerId"
          }
        ]
      },
      "SubscriptionId": {
        "type": "string",
        "description": "Subscription Id",
        "example": "5fd2a7e8908e88888c7f0e71",
        "minLength": 0,
        "nullable": true
      },
      "AwsEntitlement": {
        "properties": {
          "dimension": {
            "type": "string"
          },
          "skuid": {
            "type": "string"
          },
          "expiration": {
            "type": "string",
            "format": "date-time",
            "example": "2019-04-24T12:23:03.048000+00:00"
          },
          "value": {
            "type": "integer"
          }
        },
        "required": [
          "dimension",
          "skuid",
          "expiration",
          "value"
        ],
        "example": {
          "dimension": "example_dimension_name",
          "expiration": "2019-04-24T12:23:03.048000+00:00",
          "skuid": "example_awsdimension_apiname_1",
          "value": 1
        },
        "description": "A purchase entitlement from AWS Marketplace "
      },
      "GcpEntitlement": {
        "type": "object",
        "description": "A purchase entitlement from GCP Marketplace",
        "properties": {
          "account": {
            "type": "string",
            "description": "The resource name of the account that this entitlement is based on, if any"
          },
          "consumers": {
            "type": "array",
            "description": "The resources using this entitlement, if applicable",
            "items": {
              "type": "string"
            }
          },
          "createTime": {
            "type": "string",
            "format": "date-time",
            "example": "2020-10-02T15:01:23.045123456Z"
          },
          "messageToUser": {
            "type": "string",
            "description": "Provider-supplied message that is displayed to the end user"
          },
          "name": {
            "type": "string",
            "description": "The resource name of the entitlement"
          },
          "newPendingPlan": {
            "type": "string",
            "description": "The identifier of the pending new plan, required if the product has plans and the entitlement has a pending plan change"
          },
          "offer": {
            "type": "string"
          },
          "offerEndTime": {
            "type": "string",
            "format": "date-time"
          },
          "plan": {
            "type": "string",
            "description": "The identifier of the plan that was procured, required if the product has plans"
          },
          "product": {
            "type": "string",
            "description": "The identifier of the product that was procured"
          },
          "provider": {
            "type": "string",
            "description": "The identifier of the service provider that this entitlement was created against"
          },
          "productExternalName": {
            "type": "string"
          },
          "quoteExternalName": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "description": "The state of the entitlement"
          },
          "subscriptionEndTime": {
            "type": "string"
          },
          "updateTime": {
            "type": "string",
            "format": "date-time",
            "example": "2019-10-25T21:38:20.865Z"
          },
          "usageReportingId": {
            "type": "string",
            "description": "The consumerId to use when reporting usage through the Service Control API. See the consumerId field at Reporting Metrics for more details. This field is present only if the product has usage-based billing configured."
          }
        },
        "required": [
          "account",
          "createTime",
          "name",
          "plan",
          "product"
        ],
        "title": "GcpEntitlement"
      },
      "AzureEntitlement": {
        "type": "object",
        "description": "A purchase entitlement from Azure Marketplace",
        "properties": {
          "plan": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "subscription_id": {
            "type": "string"
          },
          "subscription_name": {
            "type": "string"
          },
          "offer_id": {
            "type": "string"
          }
        },
        "required": [
          "plan",
          "quantity",
          "subscription_id",
          "subscription_name",
          "offer_id"
        ]
      },
      "RedHatEntitlement": {
        "type": "object",
        "description": "A purchase entitlement from Red Hat Marketplace",
        "properties": {
          "subscription_id": {
            "type": "string"
          },
          "edition_id": {
            "type": "string",
            "description": "Unique ID of the product's edition being subscribed to"
          },
          "edition_name": {
            "type": "string",
            "description": "Readable name for the edition"
          },
          "attributes": {
            "type": "object",
            "description": "Optional customer properties"
          },
          "term": {
            "type": "integer",
            "description": "The duration of a single subscription term"
          },
          "term_unit": {
            "$ref": "#/components/schemas/RedHatTermUnit"
          },
          "term_end_date": {
            "type": "string",
            "description": "The new term end date in format YYYY-MM-DD",
            "format": "date",
            "example": "2021-11-02"
          },
          "type": {
            "$ref": "#/components/schemas/RedHatSubscriptionType"
          },
          "renew_type": {
            "$ref": "#/components/schemas/RedHatSubscriptionRenewType"
          }
        },
        "required": [
          "subscription_id",
          "edition_id",
          "edition_name",
          "attributes",
          "term",
          "term_unit",
          "term_end_date",
          "type",
          "renew_type"
        ]
      },
      "RedHatTermUnit": {
        "type": "string",
        "description": "The unit for the term",
        "enum": [
          "DAYS",
          "WEEKS",
          "MONTHS",
          "YEARS"
        ],
        "example": "MONTHS"
      },
      "RedHatSubscriptionType": {
        "type": "string",
        "description": "Type of the subscription",
        "enum": [
          "TRIAL",
          "FREE",
          "PURCHASE"
        ],
        "example": "TRIAL"
      },
      "RedHatSubscriptionRenewType": {
        "type": "string",
        "description": "Renew Type",
        "enum": [
          "ORIGINAL_TERM",
          "TERMINATE"
        ],
        "example": "ORIGINAL_TERM"
      },
      "Entitlement": {
        "description": "A purchase entitlement for a given cloud marketplace",
        "oneOf": [
          {
            "$ref": "#/components/schemas/AwsEntitlement"
          },
          {
            "$ref": "#/components/schemas/GcpEntitlement"
          },
          {
            "$ref": "#/components/schemas/AzureEntitlement"
          },
          {
            "$ref": "#/components/schemas/RedHatEntitlement"
          }
        ],
        "type": "object"
      },
      "Entitlements": {
        "type": "array",
        "description": "A list of Entitlement objects",
        "uniqueItems": true,
        "minItems": 0,
        "example": [
          {
            "dimension": "example_dimension_name",
            "expiration": "2019-04-24T12:23:03.048000+00:00",
            "skuid": "example_awsdimension_apiname_1",
            "value": 1
          },
          {
            "dimension": "example_dimension_name2",
            "expiration": "2019-04-24T12:23:03.048000+00:00",
            "value": 5,
            "skuid": "example_awsdimension_apiname_1"
          }
        ],
        "items": {
          "$ref": "#/components/schemas/Entitlement"
        },
        "readOnly": true
      },
      "RegistrationDetails": {
        "type": "object",
        "minProperties": 3,
        "example": {
          "Company": "Tackle",
          "Email Address": "support@tackle.io",
          "Full Name": "Jane Doe",
          "Company Website": "https://tackle.io",
          "Phone Number": "1234567890"
        },
        "description": "Registration details of a purchaser that map to defined registration page fields for a given listing.\nThe following fields are required at a minimum:\n  - Company\n  - Email Address\n  - Full Name\nAdditional fields may be supplied, where the key matches the name of the custom registration field defined for a given listing.\nCustom registration fields may be defined on a per listing basis on the Settings page for a given listing via Tackle Platform UI:\n  https://downstream.tackle.io/listings/productid-goes-here/settings\n",
        "properties": {
          "Company": {
            "type": "string",
            "description": "Company name of purchaser",
            "minLength": 0
          },
          "Email Address": {
            "type": "string",
            "format": "email",
            "description": "Valid email address of purchaser"
          },
          "Full Name": {
            "type": "string",
            "description": "Full name of purchaser",
            "minLength": 0
          }
        },
        "required": [
          "Company",
          "Email Address",
          "Full Name"
        ]
      },
      "EventType": {
        "type": "string",
        "description": "Type of event",
        "enum": [
          "order_created",
          "order_modified",
          "order_cancelled",
          "private_offer_invitation_opened",
          "private_offer_created",
          "private_offer_viewed",
          "private_offer_purchase_instructions_sent",
          "private_offer_accepted"
        ],
        "example": "order_modified"
      },
      "PrivateOfferMetadata": {
        "type": "object",
        "description": "Contains information for a private offer associated with the subscription",
        "properties": {
          "renewal": {
            "type": "boolean",
            "description": "Whether the private offer has a renewal"
          },
          "offer_expiration_at": {
            "type": "string",
            "description": "When the private offer expires."
          },
          "pricing": {
            "description": "Pricing information for private offer.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/AwsPricing"
              },
              {
                "$ref": "#/components/schemas/AzureGcpPricing"
              }
            ]
          }
        }
      },
      "VendorId": {
        "type": "string",
        "description": "Tackle issued identifier for the Vendor"
      },
      "Timestamp": {
        "type": "string",
        "description": "ISO format timestamp with UTC offset",
        "example": "2019-07-15T15:00:00.000000+00:00",
        "format": "date-time",
        "nullable": true
      },
      "TimestampNotNull": {
        "type": "string",
        "description": "ISO format timestamp with UTC offset",
        "example": "2019-07-15T15:00:00.000000+00:00",
        "format": "date-time",
        "nullable": false
      },
      "TimestampZeroUtcOffset": {
        "type": "string",
        "description": "ISO format timestamp with zero UTC offset",
        "example": "2021-10-25T21:38:20.865Z",
        "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(\\.\\d*)?Z$",
        "format": "date-time"
      },
      "TimestampZeroUtcOffsetOptional": {
        "type": "string",
        "description": "Optional ISO format timestamp with zero UTC offset",
        "example": "2021-10-25T21:38:20.865Z",
        "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(\\.\\d*)?Z$",
        "format": "date-time",
        "nullable": true
      },
      "Error": {
        "title": "ErrorResponse",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error code",
            "minLength": 0
          },
          "error": {
            "type": "string",
            "description": "Error response",
            "minLength": 0
          },
          "errors": {
            "description": "Error details",
            "type": "array",
            "items": {}
          },
          "error_type": {
            "type": "string",
            "enum": [
              "service_exception",
              "client_exception"
            ]
          }
        },
        "required": [
          "code",
          "error",
          "errors"
        ]
      },
      "Uuid": {
        "type": "string",
        "description": "UUID",
        "format": "uuid",
        "example": "8361e0bf-9d6a-466c-974a-36b73168527a"
      },
      "CreatedAt": {
        "type": "string",
        "description": "Creation timestamp, UTC ISO format",
        "minLength": 1,
        "format": "date-time"
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "description": "Metadata for a given request",
        "properties": {
          "link": {
            "type": "string",
            "format": "uri",
            "example": "https://api.tackle.io"
          }
        },
        "required": [
          "link"
        ]
      },
      "ErrorInvalidVendor": {
        "title": "ErrorInvalidVendor",
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "code",
          "error",
          "errors"
        ]
      },
      "IsFreeTrial": {
        "type": "boolean",
        "description": "Designation for Free Trial",
        "example": false,
        "default": false,
        "readOnly": true
      },
      "ProductName": {
        "type": "string",
        "description": "The name of a given product in the marketplace"
      },
      "OfferId": {
        "type": "string",
        "description": "The AWS issued offer ID, Seller created Azure Plan ID, or the GCP issued Quote ID"
      },
      "ProductLink": {
        "type": "string",
        "title": "ProductLink",
        "description": "A URL for a given product resource",
        "format": "uri"
      },
      "NextPageToken": {
        "title": "NextPageToken",
        "type": "string",
        "description": "A page token to fetch the next page of results using the associated \"page\" query parameter"
      },
      "SubscriptionLink": {
        "type": "string",
        "title": "SubscriptionLink",
        "description": "A URL for a given subscription resource",
        "format": "uri"
      },
      "OtherMarketplaceData": {
        "description": "GCP, Azure, and Red Hat do not currently have marketplace specific data",
        "type": "object",
        "title": "GCP, Azure, or Red Hat"
      },
      "AwsMarketplaceData": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "CustomerAWSAccountId": {
                "title": "CustomerAWSAccountId",
                "type": "string",
                "description": "AWS account ID associated to the customerid for the individual customer",
                "example": "example-account-id"
              }
            }
          }
        },
        "description": "Marketplace data specific to AWS",
        "title": "AWS"
      },
      "MarketplaceData": {
        "description": "The marketplace data object contains fields specific to the marketplaces",
        "oneOf": [
          {
            "$ref": "#/components/schemas/AwsMarketplaceData"
          },
          {
            "$ref": "#/components/schemas/OtherMarketplaceData"
          }
        ]
      },
      "AuthenticationRequest": {
        "title": "AuthenticationRequest",
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string",
            "description": "MTM Client ID",
            "minLength": 0
          },
          "client_secret": {
            "type": "string",
            "description": "MTM Client Secret",
            "minLength": 0
          },
          "grant_type": {
            "type": "string",
            "default": "client_credentials",
            "description": "Client credential grant type",
            "enum": [
              "client_credentials"
            ],
            "example": "client_credentials"
          }
        },
        "required": [
          "client_id",
          "client_secret"
        ]
      },
      "AuthenticationResponse": {
        "title": "AuthenticationResponse",
        "type": "object",
        "properties": {
          "access_token": {
            "description": "JWT",
            "type": "string"
          },
          "expires_in": {
            "description": "Number of seconds until the token expires",
            "type": "integer"
          },
          "token_type": {
            "description": "Token type",
            "type": "string"
          }
        },
        "required": [
          "access_token",
          "expires_in",
          "token_type"
        ]
      },
      "AwsDimension": {
        "type": "object",
        "description": "Product Dimension",
        "example": {
          "name": "metering-test-sku-from-vendor-123",
          "quantity": 1
        },
        "properties": {
          "name": {
            "type": "string",
            "example": "metering-test-sku-from-vendor-123",
            "minLength": 0
          },
          "quantity": {
            "type": "integer",
            "example": 1
          },
          "usage_allocations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "allocated_usage_quantity": {
                  "type": "integer",
                  "example": 1
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string",
                        "minLength": 0,
                        "example": "test_tag"
                      },
                      "value": {
                        "type": "string",
                        "minLength": 0,
                        "example": "1"
                      }
                    }
                  }
                }
              }
            }
          },
          "dry_run": {
            "type": "boolean",
            "description": "When true, sends a test/dry run to aws to verify configuration",
            "example": false
          }
        },
        "required": [
          "name",
          "quantity"
        ]
      },
      "AwsUsageRecordRequest": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/AwsUsageRecordRequestByProductAndCustomer"
          },
          {
            "$ref": "#/components/schemas/AwsUsageRecordRequestBySubscription"
          }
        ],
        "title": "Aws Usage Record Request"
      },
      "AwsUsageRecordRequestByProductAndCustomer": {
        "title": "By Product and Customer",
        "type": "object",
        "properties": {
          "cloud": {
            "$ref": "#/components/schemas/AwsCloud"
          },
          "product_id": {
            "$ref": "#/components/schemas/AwsMeteringProductId"
          },
          "customer_id": {
            "$ref": "#/components/schemas/AwsMeteringCustomerId"
          },
          "dimension": {
            "$ref": "#/components/schemas/AwsDimension"
          },
          "start_time": {
            "$ref": "#/components/schemas/TimestampNotNull"
          },
          "scheduled_at": {
            "$ref": "#/components/schemas/Timestamp"
          },
          "test": {
            "$ref": "#/components/schemas/UsageRecordTest"
          }
        },
        "required": [
          "cloud",
          "product_id",
          "customer_id",
          "dimension",
          "start_time"
        ]
      },
      "AwsUsageRecordRequestBySubscription": {
        "title": "By Subscription",
        "type": "object",
        "properties": {
          "cloud": {
            "$ref": "#/components/schemas/AwsCloud"
          },
          "subscription_id": {
            "$ref": "#/components/schemas/AwsMeteringSubscriptionId"
          },
          "dimension": {
            "$ref": "#/components/schemas/AwsDimension"
          },
          "start_time": {
            "$ref": "#/components/schemas/TimestampNotNull"
          },
          "scheduled_at": {
            "$ref": "#/components/schemas/Timestamp"
          },
          "test": {
            "$ref": "#/components/schemas/UsageRecordTest"
          }
        },
        "required": [
          "cloud",
          "subscription_id",
          "dimension",
          "start_time"
        ]
      },
      "AzureDimension": {
        "type": "object",
        "description": "Product Dimension",
        "example": {
          "name": "metering-test-sku-from-vendor-123",
          "quantity": 1
        },
        "properties": {
          "name": {
            "type": "string",
            "example": "metering-test-sku-from-vendor-123",
            "minLength": 0
          },
          "quantity": {
            "type": "integer",
            "example": 1
          }
        },
        "required": [
          "name",
          "quantity"
        ]
      },
      "AzureUsageRecordRequest": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/AzureUsageRecordRequestByProductAndCustomer"
          },
          {
            "$ref": "#/components/schemas/AzureUsageRecordRequestBySubscription"
          }
        ],
        "title": "Azure Usage Record Request"
      },
      "AzureUsageRecordRequestByProductAndCustomer": {
        "title": "By Product and Customer",
        "type": "object",
        "properties": {
          "cloud": {
            "$ref": "#/components/schemas/AzureCloud"
          },
          "product_id": {
            "$ref": "#/components/schemas/AzureProductId"
          },
          "customer_id": {
            "$ref": "#/components/schemas/AzureCustomerId"
          },
          "dimension": {
            "$ref": "#/components/schemas/AzureDimension"
          },
          "start_time": {
            "$ref": "#/components/schemas/TimestampNotNull"
          },
          "scheduled_at": {
            "$ref": "#/components/schemas/Timestamp"
          },
          "test": {
            "$ref": "#/components/schemas/UsageRecordTest"
          }
        },
        "required": [
          "cloud",
          "product_id",
          "customer_id",
          "dimension",
          "start_time"
        ]
      },
      "AzureUsageRecordRequestBySubscription": {
        "title": "By Subscription",
        "type": "object",
        "properties": {
          "cloud": {
            "$ref": "#/components/schemas/AzureCloud"
          },
          "subscription_id": {
            "$ref": "#/components/schemas/SubscriptionId"
          },
          "dimension": {
            "$ref": "#/components/schemas/AzureDimension"
          },
          "start_time": {
            "$ref": "#/components/schemas/TimestampNotNull"
          },
          "scheduled_at": {
            "$ref": "#/components/schemas/Timestamp"
          },
          "test": {
            "$ref": "#/components/schemas/UsageRecordTest"
          }
        },
        "required": [
          "cloud",
          "subscription_id",
          "dimension",
          "start_time"
        ]
      },
      "GcpDimension": {
        "title": "GcpDimension",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "quantity": {
            "oneOf": [
              {
                "type": "number",
                "minimum": 1
              },
              {
                "type": "string",
                "minLength": 1
              },
              {
                "type": "boolean"
              }
            ]
          },
          "consumer_id": {
            "type": "string",
            "description": "Optional override for the consumer_id that gets reported to GCP",
            "minLength": 1,
            "example": "project:xyz"
          }
        },
        "required": [
          "name",
          "quantity"
        ]
      },
      "GcpUsageRecordRequest": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/GcpUsageRecordRequestByProductAndCustomer"
          },
          {
            "$ref": "#/components/schemas/GcpUsageRecordRequestBySubscription"
          }
        ],
        "title": "Gcp Usage Record Request"
      },
      "GcpUsageRecordRequestByProductAndCustomer": {
        "title": "By Product and Customer",
        "type": "object",
        "properties": {
          "cloud": {
            "$ref": "#/components/schemas/GcpCloud"
          },
          "product_id": {
            "$ref": "#/components/schemas/GcpProductId"
          },
          "customer_id": {
            "$ref": "#/components/schemas/GcpCustomerId"
          },
          "dimension": {
            "$ref": "#/components/schemas/GcpDimension"
          },
          "start_time": {
            "$ref": "#/components/schemas/TimestampNotNull"
          },
          "end_time": {
            "$ref": "#/components/schemas/TimestampNotNull"
          },
          "scheduled_at": {
            "$ref": "#/components/schemas/Timestamp"
          },
          "test": {
            "$ref": "#/components/schemas/UsageRecordTest"
          }
        },
        "required": [
          "cloud",
          "product_id",
          "customer_id",
          "dimension",
          "start_time",
          "end_time"
        ]
      },
      "GcpUsageRecordRequestBySubscription": {
        "title": "By Subscription",
        "type": "object",
        "properties": {
          "cloud": {
            "$ref": "#/components/schemas/GcpCloud"
          },
          "subscription_id": {
            "$ref": "#/components/schemas/SubscriptionId"
          },
          "dimension": {
            "$ref": "#/components/schemas/GcpDimension"
          },
          "start_time": {
            "$ref": "#/components/schemas/TimestampNotNull"
          },
          "end_time": {
            "$ref": "#/components/schemas/TimestampNotNull"
          },
          "scheduled_at": {
            "$ref": "#/components/schemas/Timestamp"
          },
          "test": {
            "$ref": "#/components/schemas/UsageRecordTest"
          }
        },
        "required": [
          "cloud",
          "subscription_id",
          "start_time",
          "end_time"
        ]
      },
      "UsageRecord": {
        "title": "UsageRecord",
        "type": "object",
        "description": "Metering Usage Record",
        "properties": {
          "id": {
            "type": "string",
            "example": "bd577c26-8a3e-42d2-8efc-4c0defaa758c"
          },
          "product_id": {
            "$ref": "#/components/schemas/ProductId"
          },
          "customer_id": {
            "$ref": "#/components/schemas/CustomerId"
          },
          "subscription_id": {
            "$ref": "#/components/schemas/SubscriptionId"
          },
          "cloud": {
            "$ref": "#/components/schemas/Clouds"
          },
          "dimension": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AwsDimension"
              },
              {
                "$ref": "#/components/schemas/GcpDimension"
              }
            ]
          },
          "start_time": {
            "$ref": "#/components/schemas/TimestampZeroUtcOffset"
          },
          "end_time": {
            "$ref": "#/components/schemas/TimestampZeroUtcOffsetOptional"
          },
          "created_at": {
            "$ref": "#/components/schemas/TimestampZeroUtcOffset"
          },
          "updated_at": {
            "$ref": "#/components/schemas/TimestampZeroUtcOffset"
          },
          "deleted_at": {
            "$ref": "#/components/schemas/TimestampZeroUtcOffsetOptional"
          },
          "scheduled_at": {
            "$ref": "#/components/schemas/TimestampZeroUtcOffsetOptional"
          },
          "status": {
            "$ref": "#/components/schemas/UsageRecordStatus"
          },
          "reason": {
            "$ref": "#/components/schemas/UsageRecordReason"
          },
          "test": {
            "$ref": "#/components/schemas/UsageRecordTest"
          }
        }
      },
      "UsageRecordDelete": {
        "title": "UsageRecordDeleteResponse",
        "type": "object",
        "description": "Delete Usage Record Response",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/UsageRecord"
          }
        }
      },
      "UsageRecordLink": {
        "type": "string",
        "title": "UsageRecordLink",
        "description": "Url for one or more metering usage records",
        "format": "uri"
      },
      "UsageRecordListResponse": {
        "title": "UsageRecordListResponse",
        "type": "object",
        "description": "Get All Usage Records Response",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UsageRecord"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/UsageRecordsMetadata"
          }
        }
      },
      "UsageRecordMetadata": {
        "title": "UsageRecordMetadata",
        "type": "object",
        "description": "Usage Record Metadata",
        "properties": {
          "link": {
            "$ref": "#/components/schemas/UsageRecordLink"
          }
        }
      },
      "UsageRecordReason": {
        "title": "UsageRecordReason",
        "type": "string",
        "description": "Explanation of Status",
        "enum": [
          "external-service-error",
          "external-too-many-requests",
          "external-access-denied",
          "invalid-usage-dimension",
          "customer-not-entitled",
          "duplicate-request",
          "invalid-product-code",
          "invalid-usage-allocation",
          "unrecognized-exception",
          "deleted"
        ]
      },
      "UsageRecordResponse": {
        "title": "UsageRecordResponse",
        "type": "object",
        "description": "Usage Record Response",
        "properties": {
          "data": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/UsageRecord"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/UsageRecordMetadata"
          }
        }
      },
      "UsageRecordStatus": {
        "type": "string",
        "description": "Status of usage record",
        "enum": [
          "idle",
          "in-progress",
          "accepted",
          "rejected"
        ]
      },
      "UsageRecordTest": {
        "title": "UsageRecordTest",
        "enum": [
          "accepted",
          "rejected",
          "not-operable"
        ],
        "type": "string",
        "default": null,
        "description": "Specifies if the Usage Record is a test. When NOT null, the record is a test and is not sent to the marketplace",
        "nullable": true
      },
      "UsageRecordsMetadata": {
        "title": "UsageRecordsMetadata",
        "type": "object",
        "description": "Usage Record Metadata",
        "properties": {
          "link": {
            "$ref": "#/components/schemas/UsageRecordLink"
          },
          "nextPageToken": {
            "$ref": "#/components/schemas/NextPageToken"
          }
        }
      },
      "GetProductResponse": {
        "title": "GetProductResponse",
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ProductDetail"
          },
          "metadata": {
            "$ref": "#/components/schemas/ProductMetadata"
          }
        },
        "required": [
          "data",
          "metadata"
        ]
      },
      "ListProductsResponse": {
        "title": "ListProductsResponse",
        "type": "object",
        "description": "Response describing data containing a list of products and additional response metadata",
        "properties": {
          "data": {
            "type": "array",
            "description": "A list of Products",
            "items": {
              "$ref": "#/components/schemas/ProductResponse"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ProductMetadata"
          }
        },
        "required": [
          "data",
          "metadata"
        ]
      },
      "Product": {
        "type": "object",
        "properties": {
          "productid": {
            "$ref": "#/components/schemas/ProductId"
          },
          "product_name": {
            "$ref": "#/components/schemas/ProductName"
          },
          "cloud": {
            "$ref": "#/components/schemas/Clouds"
          }
        },
        "required": [
          "productid",
          "product_name",
          "cloud"
        ]
      },
      "ProductDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Product"
          },
          {
            "$ref": "#/components/schemas/ProductDetailFields"
          }
        ]
      },
      "ProductDetailFields": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/ProductStatus"
          },
          "registration": {
            "type": "object",
            "properties": {
              "fields": {
                "$ref": "#/components/schemas/RegistrationPageFields"
              },
              "redirect": {
                "$ref": "#/components/schemas/RegistrationRedirect"
              },
              "redirects": {
                "$ref": "#/components/schemas/RegistrationRedirects"
              }
            }
          }
        }
      },
      "ProductFields": {
        "type": "object",
        "properties": {
          "link": {
            "$ref": "#/components/schemas/ProductLink"
          }
        },
        "required": [
          "link"
        ]
      },
      "ProductMetadata": {
        "type": "object",
        "properties": {
          "link": {
            "$ref": "#/components/schemas/ProductLink"
          }
        }
      },
      "ProductRegistrationRedirectsResponse": {
        "title": "ProductRegistrationRedirectsResponse",
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/RegistrationRedirects"
          }
        }
      },
      "ProductResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Product"
          },
          {
            "$ref": "#/components/schemas/ProductFields"
          }
        ]
      },
      "ProductStatus": {
        "description": "The current listing status for the product within the Tackle platform.\n\nFor example, if you recently submitted a new listing to Tackle for review, it may be in a status of `waiting-for-tackle`.  If your listing is live in a given Cloud Marketplace, it may be in a status of `published`.'\n",
        "type": "string",
        "enum": [
          "in-progress",
          "waiting-for-tackle",
          "approved",
          "waiting-for-cloud-provider",
          "ready-to-preview",
          "published"
        ]
      },
      "RegistrationPageFields": {
        "type": "array",
        "description": "Fields used for the registration page",
        "items": {
          "type": "object",
          "properties": {
            "validation_type": {
              "type": "string",
              "nullable": true
            },
            "default": {
              "type": "boolean"
            },
            "display_title": {
              "type": "string",
              "description": "The field display title"
            },
            "data_type": {
              "type": "string"
            },
            "options": {
              "type": "object"
            },
            "title": {
              "type": "string",
              "description": "The field title"
            },
            "tackle_required": {
              "type": "boolean"
            },
            "integrations": {
              "type": "object"
            },
            "enabled": {
              "type": "boolean"
            },
            "required": {
              "type": "boolean",
              "description": "Specifies if a given registration field is required",
              "default": false
            }
          },
          "required": [
            "validation_type",
            "default",
            "display_title",
            "data_type",
            "options",
            "title",
            "tackle_required",
            "integrations",
            "enabled",
            "required"
          ]
        }
      },
      "RegistrationRedirect": {
        "type": "object",
        "description": "Defines a URL that purchaser will be redirected to for registration as well as custom query parameters that will be attached to the redirect",
        "properties": {
          "url": {
            "description": "URL of custom registration page where purchaser will be redirected to",
            "type": "string",
            "minLength": 0,
            "nullable": true
          },
          "params": {
            "type": "object",
            "description": "Key/Value pairs that will be converted to query parameters and attached to the redirect"
          }
        }
      },
      "RegistrationRedirects": {
        "title": "RegistrationRedirectsRequest",
        "type": "object",
        "properties": {
          "isv_hosted": {
            "$ref": "#/components/schemas/RegistrationRedirect"
          },
          "isv_hosted_aws_free_trial": {
            "$ref": "#/components/schemas/RegistrationRedirect"
          }
        },
        "description": "Defines the registration redirects for a product. These are required if you wish to host your own registration page. If none are defined, registration will occur with a Tackle registration form.\n\nUse `isv_hosted` settings for a standard registration. Use `isv_hosted_aws_free_trial` to set up the redirect for an AWS free trial"
      },
      "RegistrationsRequest": {
        "title": "RegistrationsRequest",
        "type": "object",
        "properties": {
          "productid": {
            "$ref": "#/components/schemas/ProductId"
          },
          "customerid": {
            "$ref": "#/components/schemas/CustomerId"
          },
          "details": {
            "$ref": "#/components/schemas/RegistrationDetails"
          }
        },
        "required": [
          "productid",
          "customerid",
          "details"
        ],
        "example": {
          "productid": "exampleproductid",
          "customerid": "examplecustomerid",
          "details": {
            "Company": "Tackle",
            "Email Address": "support@tackle.io",
            "Full Name": "Jane Doe",
            "Company Website": "https://tackle.io",
            "Phone Number": "1234567890"
          }
        }
      },
      "RegistrationsResponse": {
        "title": "RegistrationResponse",
        "type": "object",
        "properties": {
          "entitlements": {
            "$ref": "#/components/schemas/Entitlements"
          }
        },
        "required": [
          "entitlements"
        ]
      },
      "422Reports": {
        "title": "Reports-422-Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "errors": {
            "type": "array",
            "items": {}
          }
        },
        "required": [
          "code",
          "error",
          "errors"
        ]
      },
      "Address": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "zip_code": {
            "type": "string",
            "nullable": true
          },
          "email_domain": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "account_number": {
            "type": "string",
            "nullable": true,
            "description": "Marketplace Account Number"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "Disbursement": {
        "title": "Disbursement",
        "type": "object",
        "properties": {
          "invoice_id": {
            "$ref": "#/components/schemas/InvoiceId"
          },
          "disbursement_date": {
            "type": "string",
            "pattern": "(^[0-9]{4}-[0-9]{2}-[0-9]{2})([T][0-9]{2}:[0-9]{2}:[0-9]{2})"
          },
          "product": {
            "$ref": "#/components/schemas/ReportingProduct"
          },
          "transaction": {
            "$ref": "#/components/schemas/Transaction"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "cloud_marketplace": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AwsCloud"
              },
              {
                "$ref": "#/components/schemas/GcpCloud"
              }
            ]
          },
          "subscription_change_ids": {
            "$ref": "#/components/schemas/SubscriptionChangeIds"
          }
        },
        "required": [
          "invoice_id",
          "disbursement_date",
          "product",
          "transaction",
          "customer",
          "cloud_marketplace"
        ]
      },
      "DisbursementsResponse": {
        "title": "DisbursementsResponse",
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Disbursement"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "required": [
          "data",
          "metadata"
        ]
      },
      "Invoice": {
        "title": "Invoice",
        "type": "object",
        "properties": {
          "invoice_id": {
            "$ref": "#/components/schemas/InvoiceId"
          },
          "invoice_date": {
            "type": "string",
            "pattern": "(^[0-9]{4}-[0-9]{2}-[0-9]{2})([T][0-9]{2}:[0-9]{2}:[0-9]{2})",
            "readOnly": true
          },
          "account_receivable_period": {
            "type": "string",
            "pattern": "\\d{4}\\-\\d{2}"
          },
          "product": {
            "$ref": "#/components/schemas/ReportingProduct"
          },
          "transaction": {
            "$ref": "#/components/schemas/Transaction"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "cloud_marketplace": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/AwsCloud"
              },
              {
                "$ref": "#/components/schemas/GcpCloud"
              }
            ]
          }
        },
        "required": [
          "invoice_id",
          "invoice_date",
          "account_receivable_period",
          "product",
          "transaction",
          "customer",
          "cloud_marketplace"
        ]
      },
      "InvoiceId": {
        "type": "string",
        "example": "12345-abcde"
      },
      "InvoicesResponse": {
        "title": "InvoicesResponse",
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Invoice"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "required": [
          "data",
          "metadata"
        ]
      },
      "Money": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string",
            "enum": [
              "EUR",
              "CAD",
              "USD",
              "GBP"
            ]
          }
        },
        "required": [
          "amount",
          "currency"
        ]
      },
      "NetAmount": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Money"
          }
        ],
        "description": "Amount to be disbursed by cloud provider after any marketplace fees have been assessed"
      },
      "ReportingProduct": {
        "title": "Product",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "default": "Example Product"
          },
          "id": {
            "default": "example-product-code-12345",
            "anyOf": [
              {
                "$ref": "#/components/schemas/AwsProductId"
              },
              {
                "$ref": "#/components/schemas/GcpProductId"
              }
            ]
          },
          "tackle_product_ref_id": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "name",
          "id"
        ]
      },
      "SubscriptionChangeId": {
        "type": "string",
        "example": "a1bc2De_-F3"
      },
      "SubscriptionChangeIds": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/SubscriptionChangeId"
        }
      },
      "Transaction": {
        "title": "Transaction",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "seller_revenue": {
            "$ref": "#/components/schemas/Money"
          },
          "marketplace_fee": {
            "$ref": "#/components/schemas/Money"
          },
          "net_amount": {
            "$ref": "#/components/schemas/NetAmount"
          }
        },
        "required": [
          "id",
          "seller_revenue",
          "marketplace_fee",
          "net_amount"
        ]
      },
      "GetSubscriptionResponse": {
        "title": "GetSubscriptionResponse",
        "type": "object",
        "description": "Response describing data containing a single subscription and other metadata",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/SubscriptionExpanded"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "required": [
          "data",
          "metadata"
        ]
      },
      "ListSubscriptionsResponse": {
        "title": "ListSubscriptionsResponse",
        "type": "object",
        "description": "Response describing data containing a list of subscriptions and additional response metadata",
        "properties": {
          "data": {
            "type": "array",
            "description": "A list of Subscriptions",
            "items": {
              "$ref": "#/components/schemas/SubscriptionContracted"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "required": [
          "data",
          "metadata"
        ]
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "tackle_subscription_id": {
            "$ref": "#/components/schemas/SubscriptionId"
          },
          "productid": {
            "$ref": "#/components/schemas/ProductId"
          },
          "product_link": {
            "$ref": "#/components/schemas/ProductLink"
          },
          "cloud": {
            "$ref": "#/components/schemas/Clouds"
          },
          "customerid": {
            "$ref": "#/components/schemas/CustomerId"
          },
          "offerid": {
            "$ref": "#/components/schemas/OfferId"
          },
          "created_at": {
            "$ref": "#/components/schemas/TimestampZeroUtcOffset"
          },
          "registered_at": {
            "$ref": "#/components/schemas/TimestampZeroUtcOffsetOptional"
          },
          "cancelled_at": {
            "$ref": "#/components/schemas/TimestampZeroUtcOffsetOptional"
          },
          "updated_at": {
            "$ref": "#/components/schemas/TimestampZeroUtcOffset"
          },
          "started_at": {
            "$ref": "#/components/schemas/TimestampZeroUtcOffset"
          },
          "ended_at": {
            "$ref": "#/components/schemas/TimestampZeroUtcOffset"
          },
          "is_free_trial": {
            "$ref": "#/components/schemas/IsFreeTrial"
          }
        },
        "required": [
          "tackle_subscription_id",
          "productid",
          "customerid",
          "created_at"
        ]
      },
      "SubscriptionContracted": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Subscription"
          },
          {
            "$ref": "#/components/schemas/SubscriptionItem"
          }
        ]
      },
      "SubscriptionDetails": {
        "type": "object",
        "properties": {
          "entitlements": {
            "$ref": "#/components/schemas/Entitlements"
          },
          "registration_details": {
            "$ref": "#/components/schemas/RegistrationDetails"
          },
          "marketplace_data": {
            "$ref": "#/components/schemas/MarketplaceData"
          }
        }
      },
      "SubscriptionExpanded": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Subscription"
          },
          {
            "$ref": "#/components/schemas/SubscriptionDetails"
          }
        ]
      },
      "SubscriptionItem": {
        "type": "object",
        "properties": {
          "link": {
            "$ref": "#/components/schemas/SubscriptionLink"
          }
        }
      },
      "VersionResponse": {
        "title": "VersionResponse",
        "type": "object",
        "properties": {
          "version": {
            "type": "string",
            "description": "API version"
          },
          "sub_versions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "version",
          "sub_versions"
        ]
      },
      "AWSNewOrderCallback": {
        "description": "Link to New Offer payload variables https://developers.tackle.io/reference/payload-variables",
        "type": "object",
        "properties": {
          "event_type": {
            "type": "string",
            "example": "order_created"
          },
          "vendorid": {
            "type": "string",
            "example": "U9T21A"
          },
          "productid": {
            "type": "string",
            "example": "8q5lbvh8cjannu8h14tuqkj5t"
          },
          "customerid": {
            "type": "string",
            "example": "ij3sXMkN3or"
          },
          "marketplace": {
            "type": "string",
            "example": "aws"
          },
          "tackle_subscription_change_id": {
            "type": "string",
            "example": "4fk_28n492h"
          },
          "entitlements": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "dimension": {
                  "type": "string",
                  "example": "awsdimension_1"
                },
                "skuid": {
                  "type": "string",
                  "example": "awsdimension_apiname_1"
                },
                "expiration": {
                  "type": "string",
                  "example": "2020-06-25T15:31:19.479000+00:00"
                },
                "value": {
                  "type": "integer",
                  "format": "int32",
                  "example": 1
                }
              }
            }
          },
          "properties": {
            "type": "object",
            "properties": {
              "Company": {
                "type": "string",
                "example": "Tackle"
              },
              "Company Address": {
                "type": "string",
                "example": "104 S. Capitol Blvd."
              },
              "Company Website": {
                "type": "string",
                "example": "https://tackle.io"
              },
              "Email Address": {
                "type": "string",
                "example": "support@tackle.io"
              },
              "Full Name": {
                "type": "string",
                "example": "Jane Doe"
              },
              "Phone Number": {
                "type": "string",
                "example": 1234567890
              }
            }
          },
          "offerid": {
            "type": "string",
            "example": "offer-abcdefghijkl1"
          },
          "contract_metadata": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string",
                "example": "value"
              }
            }
          },
          "private_offer_metadata": {
            "type": "object",
            "properties": {
              "buyers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "full_name": {
                      "type": "string",
                      "example": "Example Person"
                    },
                    "email_address": {
                      "type": "string",
                      "example": "example-email@example.com"
                    },
                    "title": {
                      "type": "string",
                      "example": "CEO"
                    }
                  }
                }
              },
              "offer_metadata": {
                "type": "object"
              },
              "renewal": {
                "type": "boolean"
              },
              "eula": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              },
              "enable_zero_dollar_prices": {
                "type": "boolean"
              },
              "offer_expiration_at": {
                "type": "string",
                "format": "date-time",
                "example": "2022-08-12T12:00:00+00:00"
              },
              "pricing": {
                "type": "object",
                "properties": {
                  "net_contract_value": {
                    "type": "string",
                    "example": 40000
                  },
                  "duration": {
                    "type": "string",
                    "example": "1 Months"
                  },
                  "schedule": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "invoice_amount": {
                          "type": "string",
                          "example": 1000
                        },
                        "invoice_date": {
                          "type": "string",
                          "example": "2021-10-22T00:00:00.000-06:00"
                        }
                      }
                    }
                  },
                  "show_on_email": {
                    "type": "boolean"
                  },
                  "marketplace_fee": {
                    "type": "string",
                    "example": 0
                  },
                  "monthly_contract_value": {
                    "type": "string",
                    "example": 20000
                  },
                  "version": {
                    "type": "string",
                    "example": "simple-pricing-v1-aws"
                  },
                  "dimensions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Enterprise"
                        },
                        "dimension_value": {
                          "type": "string",
                          "example": 40000
                        },
                        "quantity": {
                          "type": "integer",
                          "format": "int32",
                          "example": 2
                        },
                        "price": {
                          "type": "string",
                          "example": 20000
                        }
                      }
                    }
                  },
                  "total_contract_value": {
                    "type": "string",
                    "example": 40000
                  }
                }
              },
              "pre_registration_details": {
                "type": "object",
                "properties": {
                  "Company": {
                    "type": "string",
                    "example": "Example Company"
                  }
                }
              }
            }
          },
          "is_free_trial": {
            "$ref": "#/components/schemas/IsFreeTrial"
          },
          "tackle_subscription_id": {
            "type": "string",
            "example": "52fZSV7JbMI"
          },
          "marketplace_data": {
            "$ref": "#/components/schemas/AwsMarketplaceData"
          }
        }
      },
      "AWSPrivateOfferCallback": {
        "description": "Link to information on Private Offer payload variables https://developers.tackle.io/reference/private-offer-payloads",
        "type": "object",
        "properties": {
          "actor": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "example": "john.smith@example.com"
              },
              "name": {
                "type": "string",
                "example": "John Smith"
              },
              "picture": {
                "type": "string",
                "example": "https://www.example.com/jpeg"
              },
              "user_id": {
                "type": "string",
                "example": "abc123"
              }
            }
          },
          "marketplace": {
            "type": "string",
            "example": "azure"
          },
          "created_at": {
            "type": "string",
            "example": "2021-02-16T14:48:06.460998+00:00"
          },
          "customerid": {
            "type": "string",
            "example": "ij3sXMkN3or"
          },
          "destination": {
            "type": "string",
            "example": "callback"
          },
          "event_type": {
            "type": "string",
            "example": "private_offer_created"
          },
          "extra_data": {
            "type": "object"
          },
          "group_id": {
            "type": "string",
            "example": "5e7b1ec8-2595-40c7-b6f1-3b0d1fd1ed9e"
          },
          "offerid": {
            "type": "string",
            "example": "offer-abcdefghijkl1"
          },
          "po_id": {
            "type": "string",
            "example": "7ec896c2-6cff-4a46-b55a-039db504422d"
          },
          "productid": {
            "type": "string",
            "example": "A0BCD23E"
          },
          "source": {
            "type": "string",
            "example": "po_url"
          },
          "private_offer_metadata": {
            "type": "object",
            "properties": {
              "type": {
                "type": "object"
              },
              "buyers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "example": "Buyer"
                    },
                    "email_address": {
                      "type": "string",
                      "example": "gilfoyle@tackle.io"
                    },
                    "full_name": {
                      "type": "string",
                      "example": "Bertram Gilfoyle"
                    }
                  }
                }
              },
              "renewal": {
                "type": "boolean"
              },
              "eula": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "public"
                  },
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "enable_zero_dollar_prices": {
                "type": "boolean"
              },
              "offer_metadata": {
                "type": "object"
              },
              "pre_registration_details": {
                "type": "object",
                "properties": {
                  "billing_street": {
                    "type": "string",
                    "example": "1 Pied Way"
                  },
                  "billing_country": {
                    "type": "string",
                    "example": "United States"
                  },
                  "billing_city": {
                    "type": "string",
                    "example": "Redwood City"
                  },
                  "Company": {
                    "type": "string",
                    "example": "Pied Piper"
                  },
                  "billing_state": {
                    "type": "string",
                    "example": "CA"
                  }
                }
              },
              "pricing": {
                "type": "object",
                "properties": {
                  "net_contract_value": {
                    "type": "string",
                    "example": 40000
                  },
                  "duration": {
                    "type": "string",
                    "example": "1 Months"
                  },
                  "schedule": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "invoice_amount": {
                          "type": "string",
                          "example": 1000
                        },
                        "invoice_date": {
                          "type": "string",
                          "example": "2021-10-22T00:00:00.000-06:00"
                        }
                      }
                    }
                  },
                  "show_on_email": {
                    "type": "boolean"
                  },
                  "marketplace_fee": {
                    "type": "string",
                    "example": 0
                  },
                  "monthly_contract_value": {
                    "type": "string",
                    "example": 20000
                  },
                  "version": {
                    "type": "string",
                    "example": "simple-pricing-v1-aws"
                  },
                  "dimensions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Enterprise"
                        },
                        "dimension_value": {
                          "type": "string",
                          "example": 40000
                        },
                        "quantity": {
                          "type": "integer",
                          "format": "int32",
                          "example": 2
                        },
                        "price": {
                          "type": "string",
                          "example": 20000
                        }
                      }
                    }
                  },
                  "total_contract_value": {
                    "type": "string",
                    "example": 40000
                  }
                }
              },
              "offer_expiration_at": {
                "type": "string",
                "example": "2021-12-31T00:00:00.000Z"
              },
              "vendorid": {
                "type": "string",
                "example": "U9T21A"
              },
              "is_free_trial": {
                "$ref": "#/components/schemas/IsFreeTrial"
              },
              "tackle_subscription_id": {
                "type": "string",
                "example": "52fZSV7JbMI"
              }
            }
          }
        }
      },
      "Actor": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "picture": {
            "type": "string"
          }
        }
      },
      "AuthPayload": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/BasicAuth"
          },
          {
            "$ref": "#/components/schemas/HeaderApiKeyAuth"
          },
          {
            "$ref": "#/components/schemas/Oauth2"
          }
        ],
        "description": "An object describing the type of authentication used by your Webhook URL"
      },
      "AuthType": {
        "type": "string",
        "title": "AuthType",
        "enum": [
          "basic",
          "header_api_key",
          "oauth2"
        ],
        "description": "The type of authentication used. Supported types are 'basic', 'header_api_key', and 'oauth2'"
      },
      "AzureNewOrderCallback": {
        "description": "Link to New Offer payload variables https://developers.tackle.io/reference/payload-variables",
        "type": "object",
        "properties": {
          "event_type": {
            "type": "string",
            "example": "order_created"
          },
          "vendorid": {
            "type": "string",
            "example": "U9T21A"
          },
          "productid": {
            "type": "string",
            "example": "tackle-azure-platform"
          },
          "customerid": {
            "type": "string",
            "example": "1b3gs3f4-2794-abcd-3fa3-062fa0s3t3re"
          },
          "marketplace": {
            "type": "string",
            "example": "azure"
          },
          "entitlements": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "plan": {
                  "type": "string",
                  "example": "tackleazureplatform_azurelisting"
                },
                "quantity": {
                  "type": "integer",
                  "format": "int32",
                  "example": 1
                },
                "subscription_id": {
                  "type": "string",
                  "example": "1b3gs3f4-2794-abcd-3fa3-062fa0s3t3re"
                },
                "subscription_name": {
                  "type": "string",
                  "example": "Tackle Azure Platform"
                },
                "offer_id": {
                  "type": "string",
                  "example": "tackle-azure-platform"
                }
              }
            }
          },
          "properties": {
            "type": "object",
            "properties": {
              "Company": {
                "type": "string",
                "example": "Tackle"
              },
              "Company Address": {
                "type": "string",
                "example": "104 S. Capitol Blvd."
              },
              "Company Website": {
                "type": "string",
                "example": "https://tackle.io"
              },
              "Email Address": {
                "type": "string",
                "example": "support@tackle.io"
              },
              "Full Name": {
                "type": "string",
                "example": "Jane Doe"
              },
              "Phone Number": {
                "type": "string",
                "example": 1234567890
              }
            }
          },
          "offerid": {
            "type": "string",
            "example": "sample_azure_offer_id1"
          },
          "contract_metadata": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string",
                "example": "value"
              }
            }
          },
          "private_offer_metadata": {
            "type": "object",
            "properties": {
              "buyers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "full_name": {
                      "type": "string",
                      "example": "Example Person"
                    },
                    "email_address": {
                      "type": "string",
                      "example": "example-email@example.com"
                    },
                    "title": {
                      "type": "string",
                      "example": "CEO"
                    }
                  }
                }
              },
              "offer_metadata": {
                "type": "object"
              },
              "renewal": {
                "type": "boolean"
              },
              "eula": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "enable_zero_dollar_prices": {
                "type": "boolean"
              },
              "offer_expiration_at": {
                "type": "string",
                "format": "date-time",
                "example": "2022-08-12T12:00:00+00:00"
              },
              "pricing": {
                "type": "object"
              },
              "pre_registration_details": {
                "type": "object",
                "properties": {
                  "Company": {
                    "type": "string",
                    "example": "Example Company"
                  }
                }
              }
            }
          },
          "is_free_trial": {
            "$ref": "#/components/schemas/IsFreeTrial"
          },
          "tackle_subscription_id": {
            "type": "string",
            "example": "52fZSV7JbMI"
          },
          "marketplace_data": {
            "$ref": "#/components/schemas/OtherMarketplaceData"
          }
        }
      },
      "AzurePrivateOfferCallback": {
        "description": "Link to information on Private Offer payload variables https://developers.tackle.io/reference/private-offer-payloads",
        "type": "object",
        "properties": {
          "group_id": {
            "type": "string",
            "example": "2h58473p-c70i-1234-9d7b-7we9585e2c9w"
          },
          "created_at": {
            "type": "string",
            "example": "2021-11-09T16:29:24.707456+00:00"
          },
          "actor": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "example": "john.smith@example.com"
              },
              "name": {
                "type": "string",
                "example": "John Smith"
              },
              "picture": {
                "type": "string",
                "example": "https://www.example.com/jpeg"
              },
              "user_id": {
                "type": "string",
                "example": "abc123"
              }
            }
          },
          "customer_id": {
            "type": "string",
            "example": "1b3gs3f4-2794-abcd-3fa3-062fa0s3t3re"
          },
          "destination": {
            "type": "string",
            "example": "callback"
          },
          "event_type": {
            "type": "string",
            "example": "private_offer_created"
          },
          "extra_data": {
            "type": "object"
          },
          "marketplace": {
            "type": "string",
            "example": "azure"
          },
          "offerid": {
            "type": "string",
            "example": "00-000-apitest-private"
          },
          "po_id": {
            "type": "string",
            "example": "2h58473p-c70i-1234-9d7b-7we9585e2c9w"
          },
          "private_offer_metadata": {
            "type": "object",
            "properties": {
              "buyers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "email_address": {
                      "type": "string",
                      "example": "john.smith@example.com"
                    },
                    "full_name": {
                      "type": "string",
                      "example": "John Smith"
                    },
                    "title": {
                      "type": "string",
                      "example": "Example Title"
                    }
                  }
                }
              },
              "enable_zero_dollar_prices": {
                "type": "boolean"
              },
              "eula": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "offer_metadata": {
                "type": "object"
              },
              "pre_registration_details": {
                "type": "object",
                "properties": {
                  "Company": {
                    "type": "string",
                    "example": "Example Company"
                  }
                }
              },
              "pricing": {
                "type": "object",
                "properties": {
                  "dimensions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "dimension_value": {
                          "type": "string",
                          "example": 0
                        },
                        "name": {
                          "type": "string",
                          "example": "00-000-apitest-private"
                        },
                        "price": {
                          "type": "string",
                          "example": 0
                        },
                        "quantity": {
                          "type": "integer",
                          "format": "int32",
                          "example": 1
                        }
                      }
                    }
                  },
                  "duration": {
                    "type": "string",
                    "example": "Annual"
                  },
                  "marketplace_fee": {
                    "type": "string",
                    "example": 0
                  },
                  "monthly_contract_value": {
                    "type": "string",
                    "example": 0
                  },
                  "net_contract_value": {
                    "type": "string",
                    "example": 0
                  },
                  "show_on_email": {
                    "type": "boolean"
                  },
                  "total_contract_value": {
                    "type": "string",
                    "example": 0
                  },
                  "version": {
                    "type": "string",
                    "example": "simple-pricing-v1-azure"
                  }
                }
              },
              "renewal": {
                "type": "boolean"
              }
            }
          },
          "productid": {
            "type": "string",
            "example": "example-product"
          },
          "source": {
            "type": "string",
            "example": "po_url"
          },
          "test": {
            "type": "boolean"
          },
          "vendorid": {
            "type": "string",
            "example": 12345
          }
        }
      },
      "BasicAuth": {
        "title": "BasicAuth",
        "type": "object",
        "example": {
          "username": "authentication username",
          "password": "authentication password",
          "auth_type": "basic"
        },
        "properties": {
          "username": {
            "type": "string",
            "description": "A string containing the username",
            "minLength": 1
          },
          "password": {
            "type": "string",
            "description": "A string containing the password",
            "format": "password"
          },
          "auth_type": {
            "type": "string",
            "default": "basic",
            "description": "Use `basic` for [basic HTTP authentication](https://en.wikipedia.org/wiki/Basic_access_authentication)",
            "enum": [
              "basic"
            ]
          }
        },
        "required": [
          "username",
          "password",
          "auth_type"
        ]
      },
      "DeleteWebhookResponse": {
        "title": "DeleteWebhookResponse",
        "type": "object",
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        },
        "required": [
          "deleted"
        ]
      },
      "GCPNewOrderCallback": {
        "description": "Link to New Offer payload variables https://developers.tackle.io/reference/payload-variables",
        "type": "object",
        "properties": {
          "event_type": {
            "type": "string",
            "example": "order_created"
          },
          "vendorid": {
            "type": "string",
            "example": "U9T21A"
          },
          "productid": {
            "type": "string",
            "example": "tackle-on-gcp"
          },
          "customerid": {
            "type": "string",
            "example": "E-ABC2-D530-E2FG-H2Q2"
          },
          "marketplace": {
            "type": "string",
            "example": "gcp"
          },
          "entitlements": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "account": {
                  "type": "string",
                  "example": "providers/tackle-public/accounts/E-ABC2-D530-E2FG-H2Q2"
                },
                "createTime": {
                  "type": "string",
                  "example": "2019-10-25T21:38:20.865Z"
                },
                "name": {
                  "type": "string",
                  "example": "providers/tackle-public/entitlements/416bacaa-94b6-4701-911bf945aab9"
                },
                "plan": {
                  "type": "string",
                  "example": "tkl-tier-1"
                },
                "product": {
                  "type": "string",
                  "example": "tackle-on-gcp"
                },
                "state": {
                  "type": "string",
                  "example": "ENTITLEMENT_ACTIVE"
                },
                "usage_reporting_id": {
                  "type": "string",
                  "example": "project_number:1234567890"
                }
              }
            }
          },
          "properties": {
            "type": "object",
            "properties": {
              "Company": {
                "type": "string",
                "example": "Tackle"
              },
              "Company Address": {
                "type": "string",
                "example": "104 S. Capitol Blvd."
              },
              "Company Website": {
                "type": "string",
                "example": "https://tackle.io"
              },
              "Email Address": {
                "type": "string",
                "example": "support@tackle.io"
              },
              "Full Name": {
                "type": "string",
                "example": "Jane Doe"
              },
              "Phone Number": {
                "type": "string",
                "example": 1234567890
              }
            }
          },
          "offerid": {
            "type": "string",
            "example": "a1b2c3e4-a1b2-a1b2-a1b2-a1b2c3d4e5f6"
          },
          "contract_metadata": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string",
                "example": "value"
              }
            }
          },
          "private_offer_metadata": {
            "type": "object",
            "properties": {
              "buyers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "full_name": {
                      "type": "string",
                      "example": "Example Person"
                    },
                    "email_address": {
                      "type": "string",
                      "example": "example-email@example.com"
                    },
                    "title": {
                      "type": "string",
                      "example": "CEO"
                    }
                  }
                }
              },
              "offer_metadata": {
                "type": "object"
              },
              "renewal": {
                "type": "boolean"
              },
              "eula": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "enable_zero_dollar_prices": {
                "type": "boolean"
              },
              "offer_expiration_at": {
                "type": "string",
                "format": "date-time",
                "example": "2022-08-12T12:00:00+00:00"
              },
              "pricing": {
                "type": "object"
              },
              "pre_registration_details": {
                "type": "object",
                "properties": {
                  "Company": {
                    "type": "string",
                    "example": "Example Company"
                  }
                }
              }
            }
          },
          "is_free_trial": {
            "$ref": "#/components/schemas/IsFreeTrial"
          },
          "tackle_subscription_id": {
            "type": "string",
            "example": "52fZSV7JbMI"
          },
          "marketplace_data": {
            "$ref": "#/components/schemas/OtherMarketplaceData"
          }
        }
      },
      "GCPPrivateOfferCallback": {
        "description": "Link to information on Private Offer payload variables https://developers.tackle.io/reference/private-offer-payloads",
        "type": "object",
        "properties": {
          "group_id": {
            "type": "string",
            "example": "2h58473p-c70i-1234-9d7b-7we9585e2c9w"
          },
          "created_at": {
            "type": "string",
            "example": "2022-01-31T23:31:22.166934+00:00"
          },
          "actor": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "example": "john.smith@example.com"
              },
              "name": {
                "type": "string",
                "example": "John Smith"
              },
              "picture": {
                "type": "string",
                "example": "https://www.example.com/jpeg"
              },
              "user_id": {
                "type": "string",
                "example": "abc123"
              }
            }
          },
          "destination": {
            "type": "string",
            "example": "callback"
          },
          "event_type": {
            "type": "string",
            "example": "private_offer_created"
          },
          "extra_data": {
            "type": "object"
          },
          "marketplace": {
            "type": "string",
            "example": "gcp"
          },
          "offerid": {
            "type": "string",
            "example": "2h58473p-c70i-1234-9d7b-7we9585e2c9w"
          },
          "po_id": {
            "type": "string",
            "example": "2h58473p-c70i-1234-9d7b-7we9585e2c9w"
          },
          "private_offer_metadata": {
            "type": "object",
            "properties": {
              "buyers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "email_address": {
                      "type": "string",
                      "example": "jsmith@example.com"
                    },
                    "full_name": {
                      "type": "string",
                      "example": "John Smith"
                    },
                    "title": {
                      "type": "string",
                      "example": "Example Title"
                    }
                  }
                }
              },
              "enable_zero_dollar_prices": {
                "type": "boolean"
              },
              "eula": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              },
              "offer_metadata": {
                "type": "object"
              },
              "pre_registration_details": {
                "type": "object",
                "properties": {
                  "Company": {
                    "type": "string",
                    "example": "Example Company"
                  }
                }
              },
              "pricing": {
                "type": "object",
                "properties": {
                  "dimensions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "duration": {
                    "type": "string",
                    "example": "1 Months"
                  },
                  "marketplace_fee": {
                    "type": "string",
                    "example": 0
                  },
                  "show_on_email": {
                    "type": "boolean"
                  },
                  "version": {
                    "type": "string",
                    "example": "simple-pricing-v2-gcp"
                  }
                }
              },
              "renewal": {
                "type": "boolean"
              }
            }
          },
          "productid": {
            "type": "string",
            "example": "example-product"
          },
          "source": {
            "type": "string",
            "example": "po_url"
          },
          "test": {
            "type": "boolean"
          },
          "vendorid": {
            "type": "string",
            "example": 12345
          }
        }
      },
      "GetWebhooksResponse": {
        "title": "GetWebhooksResponse",
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/GetWebhooksResponseList"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "required": [
          "data",
          "metadata"
        ]
      },
      "GetWebhooksResponseList": {
        "title": "GetWebhooksResponseList",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/WebhooksGetAllResponseObject"
        }
      },
      "GroupId": {
        "type": "string"
      },
      "HeaderApiKeyAuth": {
        "title": "HeaderApiKeyAuth",
        "type": "object",
        "properties": {
          "api_key": {
            "type": "string",
            "description": "A string containing the API key",
            "minLength": 1
          },
          "auth_header_name": {
            "type": "string",
            "description": "A string containing the auth header name",
            "minLength": 1
          },
          "auth_type": {
            "type": "string",
            "default": "header_api_key",
            "description": "Use `header_api_key` to specify a custom HTTP request header for authentication. Requests from Tackle will use the specified HTTP header for outbound requests to your Webhook URL.",
            "enum": [
              "header_api_key"
            ]
          }
        },
[...]
