{
  "openapi": "3.0.3",
  "info": {
    "title": "Tackle Co-Sell for Microsoft Partner Center Customer Engagements",
    "description": "This API helps you interact with Microsoft to create and manage co-sell\nreferrals that you share with Microsoft as well as receive, respond to,\nand manage referrals originated by Microsoft.\n\n## Authentication\n\nThis API requires a Tackle machine-to-machine (MTM) access token. Issue\nyour M2M client credentials following the [How to get an M2M client ID\nand secret](https://developers.tackle.io/docs/how-to-get-an-m2m-client-id-and-secret)\nguide, exchange them for an access token following the [Getting an\naccess token](https://developers.tackle.io/docs/getting-an-access-token)\nguide, then send the token with each request in the `Authorization`\nheader as `Bearer <access_token>`.\n\nThe MTM token supplies the vendor and organization context for the request.\nFine-grained scoped MTM permissions are not enforced for this API yet.\n\n## Related Tackle Co-Sell APIs\n\nTackle publishes equivalent Co-Sell APIs for other cloud providers. Customer\nengagement domain models differ across providers (AWS and Google Cloud\nChannel use \"opportunities\"; Microsoft Partner Center uses \"referrals\"), so\nendpoint paths, request and response shapes, and pagination details are not\ninterchangeable.\n\n- Tackle Co-Sell for AWS: https://aws.cosell.tackle.io\n- Tackle Co-Sell for Google Cloud Channel: https://gcp.cosell.tackle.io",
    "version": "1.0"
  },
  "externalDocs": {
    "description": "Tackle Developer Portal",
    "url": "https://developers.tackle.io"
  },
  "servers": [
    {
      "url": "https://msft.cosell.tackle.io",
      "description": "Microsoft Co-Sell production endpoint"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Customers",
      "description": "Look up customer accounts in Microsoft Partner Center before\ncreating a referral. Use these endpoints to determine\n`customerProfile.ids` and the `dealSensitivity` value\n(`USFed` vs `None`) you should send."
    },
    {
      "name": "Partners",
      "description": "Look up partner organizations in Microsoft Partner Center.\nUse the returned `organizationId` when adding a non-Microsoft\npartner via `inviteContexts`."
    },
    {
      "name": "Referrals",
      "description": "Create, read, update, and list events on Microsoft Partner Center co-sell referrals (both outbound and inbound)."
    }
  ],
  "paths": {
    "/api/customerInfo": {
      "post": {
        "operationId": "customerInfo",
        "summary": "Lookup customer info to determine if they are a US federal customer.",
        "description": "Looks up the customer in Microsoft Partner Center by company\nname and reports whether Microsoft has tagged the account as a\nUS federal customer. Use this before creating a referral so\nyou can populate `dealSensitivity` correctly (`USFed` for US\nfederal customers, `None` otherwise). Returns an empty\n`customerInfo` array when no match is found.",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "companyName": {
                    "type": "string",
                    "description": "Company name, required.",
                    "example": "Example Corporation"
                  }
                },
                "required": [
                  "companyName"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response containing info if the customer is a US federal customer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int64",
                      "description": "The number of matching customers in the response.",
                      "example": 1
                    },
                    "customerInfo": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "microsoftCRMId": {
                            "type": "string",
                            "description": "The Microsoft CRM ID of the customer.",
                            "example": "900002408"
                          },
                          "customerName": {
                            "type": "string",
                            "description": "The name of the customer.",
                            "example": "Example Corporation"
                          },
                          "dunsId": {
                            "type": "string",
                            "description": "The DUNS ID of the customer.",
                            "example": "123456789"
                          },
                          "type": {
                            "type": "string",
                            "description": "Customer type tag returned by Microsoft. Currently the only\nvalue emitted is `USFed`, indicating the customer is a US\nfederal customer; the field is omitted otherwise. Treat as a\nfree-form string and check for the literal `USFed` rather than\nparsing it.",
                            "example": "USFed"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/customerLookup": {
      "post": {
        "operationId": "customerLookup",
        "summary": "Lookup customer details in Partner Center.",
        "description": "Searches Microsoft Partner Center for matching customer\naccounts by company name plus country, returning managed,\nunmanaged, and Microsoft-account matches. Use this to populate\n`customerProfile.ids` and `customerProfile.address` on a\nsubsequent `createIPReferral` call. The full Partner Center\nlookup payload is accepted so callers can forward the same\nbody the Partner Center UI would, but only `companyName` and\n`address.country` materially affect matching; other fields\nare ignored.",
        "tags": [
          "Customers"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Customer lookup payload. The full Partner Center customer\nlookup shape is accepted, but only `companyName` and\n`address.country` materially affect matching in Partner\nCenter -- the other address fields and the entire\n`contact` block are accepted for compatibility with the\nMicrosoft Partner Center UI payload but are ignored by\nthe matching service.",
                "properties": {
                  "companyName": {
                    "type": "string",
                    "description": "Company name, required.",
                    "example": "Example Corporation"
                  },
                  "address": {
                    "type": "object",
                    "properties": {
                      "addressLine1": {
                        "type": "string",
                        "description": "Street address where the company is located.",
                        "example": "1 Example Way"
                      },
                      "city": {
                        "type": "string",
                        "description": "City where the company is located.",
                        "example": "Redmond"
                      },
                      "state": {
                        "type": "string",
                        "description": "State where the company is located.",
                        "example": "Washington"
                      },
                      "country": {
                        "type": "string",
                        "description": "Two digit country code where the company is located. Required, and the only address field that affects Partner Center matching."
                      }
                    },
                    "required": [
                      "country"
                    ]
                  },
                  "contact": {
                    "type": "object",
                    "description": "Customer contact block accepted by Partner Center.\nAll fields are optional and ignored by the matching\nservice; included so callers can forward the same\npayload shape that the Partner Center UI sends.",
                    "properties": {
                      "firstName": {
                        "type": "string"
                      },
                      "lastName": {
                        "type": "string"
                      },
                      "phoneNumber": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "phoneValidationStatus": {
                        "type": "string",
                        "example": "None"
                      },
                      "emailValidationStatus": {
                        "type": "string",
                        "example": "None"
                      }
                    }
                  },
                  "crmCustomerUniqueID": {
                    "type": "string",
                    "description": "CRM Customer Unique ID.",
                    "example": "006QL00000BahjXXX"
                  },
                  "microsoftAccountId": {
                    "type": "string",
                    "description": "Microsoft Account ID.",
                    "example": "user@domain.com"
                  },
                  "bestMatchOnly": {
                    "type": "boolean",
                    "description": "Return only the best match.",
                    "example": false
                  }
                },
                "required": [
                  "companyName",
                  "address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response containing the results of the customer lookup",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "managedAccounts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomerLookupAccount"
                      }
                    },
                    "unManagedAccounts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomerLookupAccount"
                      }
                    },
                    "microsoftAccountMatch": {
                      "type": "object",
                      "description": "Microsoft account match details.",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/CustomerLookupAccount"
                        }
                      ],
                      "properties": {
                        "managed": {
                          "type": "boolean"
                        }
                      }
                    },
                    "crmUniqueIdentifierMatch": {
                      "type": "object",
                      "description": "CRM unique identifier match details.",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/CustomerLookupAccount"
                        }
                      ],
                      "properties": {
                        "managed": {
                          "type": "boolean"
                        },
                        "referralId": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "Incoming",
                            "Outgoing"
                          ]
                        },
                        "isvStatus": {
                          "type": "string",
                          "description": "Top-level lifecycle stage of the matched referral on\nthe ISV (partner) side. Combine with `isvSubStatus`\nfor the precise state. Values:\n\n  - `None` \u2014 no status has been set yet.\n  - `New` \u2014 the referral has been created and is\n    awaiting action by the ISV.\n  - `Active` \u2014 the referral has been accepted and\n    is currently being worked on the ISV side.\n  - `Closed` \u2014 the referral has reached a terminal\n    state on the ISV side; see `isvSubStatus`\n    (`Won`, `Lost`, `Declined`, `Expired`, `Error`)\n    for the outcome.",
                          "enum": [
                            "None",
                            "New",
                            "Active",
                            "Closed"
                          ]
                        },
                        "isvSubStatus": {
                          "type": "string",
                          "description": "Sub-state of the matched referral on the ISV side,\nscoped to the parent `isvStatus`. Values:\n\n  - `None` \u2014 no sub-state has been set.\n  - `Pending` \u2014 submission is in flight or awaiting\n    acceptance.\n  - `Received` \u2014 the referral has been received\n    and is awaiting partner action.\n  - `Accepted` \u2014 the receiving organization has\n    accepted the referral.\n  - `Won` \u2014 the referral closed as a won deal.\n  - `Lost` \u2014 the referral closed as lost.\n  - `Declined` \u2014 the receiving organization\n    declined the referral.\n  - `Expired` \u2014 the referral closed because no\n    action was taken within Microsoft's allowed\n    window.\n  - `Error` \u2014 the referral closed in an error\n    state.",
                          "enum": [
                            "None",
                            "Pending",
                            "Received",
                            "Accepted",
                            "Won",
                            "Lost",
                            "Declined",
                            "Expired",
                            "Error"
                          ]
                        },
                        "microsoftStatus": {
                          "type": "string",
                          "description": "Top-level lifecycle stage of the matched referral on\nthe Microsoft side. Combine with `microsoftSubStatus`\nfor the precise state. Values:\n\n  - `None` \u2014 no status has been set yet.\n  - `New` \u2014 the referral has been created and is\n    awaiting action.\n  - `Active` \u2014 the referral has been accepted and\n    is currently being worked on the Microsoft\n    side.\n  - `Closed` \u2014 the referral has reached a terminal\n    state on the Microsoft side; see\n    `microsoftSubStatus` for the outcome.",
                          "enum": [
                            "None",
                            "New",
                            "Active",
                            "Closed"
                          ]
                        },
                        "microsoftSubStatus": {
                          "type": "string",
                          "description": "Sub-state of the matched referral on the Microsoft\nside, scoped to the parent `microsoftStatus`. Values:\n\n  - `None` \u2014 no sub-state has been set.\n  - `Pending` \u2014 submission to Microsoft is in\n    flight or awaiting acceptance.\n  - `Received` \u2014 Microsoft has received the\n    referral.\n  - `Accepted` \u2014 Microsoft has accepted the\n    referral.\n  - `Won` \u2014 the referral closed as a won deal.\n  - `Lost` \u2014 the referral closed as lost.\n  - `Declined` \u2014 Microsoft declined the referral.\n  - `Expired` \u2014 the referral closed because no\n    action was taken within Microsoft's allowed\n    window.\n  - `Error` \u2014 the referral closed in an error\n    state.",
                          "enum": [
                            "None",
                            "Pending",
                            "Received",
                            "Accepted",
                            "Won",
                            "Lost",
                            "Declined",
                            "Expired",
                            "Error"
                          ]
                        },
                        "isvAcceptedDateTime": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO-8601 timestamp recording when the ISV accepted the matched referral."
                        },
                        "isvClosedDateTime": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO-8601 timestamp recording when the ISV closed the matched referral."
                        },
                        "microsoftAcceptedDateTime": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO-8601 timestamp recording when Microsoft accepted the matched referral."
                        },
                        "microsoftClosedDateTime": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO-8601 timestamp recording when Microsoft closed the matched referral."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "customerLookup": {
                    "summary": "Customer Lookup",
                    "value": {
                      "managedAccounts": [
                        {
                          "childAccounts": [],
                          "customerAccountDetails": {
                            "name": "Example Company",
                            "msp_accountnumber": "9-ABCD12345",
                            "msp_mssalesid": "11111111-aaaa-2222-bbbb-333333333333",
                            "address1_country": "United States",
                            "address1_city": "Boston",
                            "msp_mstopparentid": "12345678",
                            "msp_endcustomersegmentcode": "Major Commercial",
                            "msp_endcustomersubsegmentcode": "Major - Commercial Other",
                            "address1_line1": "123 Example AVE SUITE 3D",
                            "territoryidname": "SDP.010.DN.100",
                            "matchscore": 24.84912,
                            "msp_customermacceligibility": "No",
                            "msp_verticalcode": "Other - Unsegmented",
                            "msp_subverticalcode": "Other - Unsegmented"
                          }
                        }
                      ],
                      "unManagedAccounts": [
                        {
                          "childAccounts": [],
                          "customerAccountDetails": {
                            "name": "Example Corporation 2",
                            "msp_accountnumber": "9-ABCD98765",
                            "msp_mssalesid": "22222222-aaaa-2222-bbbb-333333333333",
                            "address1_country": "United States",
                            "address1_city": "New York",
                            "msp_mstopparentid": "87654321",
                            "msp_endcustomersegmentcode": "Major Commercial",
                            "msp_endcustomersubsegmentcode": "Major - Commercial Other",
                            "address1_line1": "987 Example AVE SUITE 3D",
                            "territoryidname": "SDP.010.DN.100",
                            "matchscore": 24.84912,
                            "msp_customermacceligibility": "No",
                            "msp_verticalcode": "Other - Unsegmented",
                            "msp_subverticalcode": "Other - Unsegmented"
                          }
                        }
                      ],
                      "microsoftAccountMatch": {
                        "childAccounts": [],
                        "customerAccountDetails": {
                          "name": "Example Company",
                          "msp_accountnumber": "9-ABCD12345",
                          "msp_mssalesid": "11111111-aaaa-2222-bbbb-333333333333",
                          "address1_country": "United States",
                          "address1_city": "Boston",
                          "msp_mstopparentid": "12345678",
                          "msp_endcustomersegmentcode": "Major Commercial",
                          "msp_endcustomersubsegmentcode": "Major - Commercial Other",
                          "address1_line1": "123 Example AVE SUITE 3D",
                          "territoryidname": "SDP.010.DN.100",
                          "matchscore": 24.84912,
                          "msp_customermacceligibility": "No",
                          "msp_verticalcode": "Other - Unsegmented",
                          "msp_subverticalcode": "Other - Unsegmented"
                        },
                        "managed": true
                      },
                      "crmUniqueIdentifierMatch": {
                        "childAccounts": [],
                        "customerAccountDetails": {
                          "name": "Example Company",
                          "msp_accountnumber": "9-ABCD12345",
                          "msp_mssalesid": "11111111-aaaa-2222-bbbb-333333333333",
                          "address1_country": "United States",
                          "address1_city": "Boston",
                          "msp_mstopparentid": "12345678",
                          "msp_endcustomersegmentcode": "Major Commercial",
                          "msp_endcustomersubsegmentcode": "Major - Commercial Other",
                          "address1_line1": "123 Example AVE SUITE 3D",
                          "territoryidname": "SDP.010.DN.100",
                          "matchscore": 24.84912,
                          "msp_customermacceligibility": "No",
                          "msp_verticalcode": "Other - Unsegmented",
                          "msp_subverticalcode": "Other - Unsegmented"
                        },
                        "managed": true,
                        "referralId": "006QL00000BahjGYAR",
                        "name": "Example Referral",
                        "direction": "Outgoing",
                        "isvStatus": "Active",
                        "isvSubStatus": "Pending",
                        "microsoftStatus": "Active",
                        "microsoftSubStatus": "Accepted",
                        "isvAcceptedDateTime": "2025-07-10T05:00:00Z",
                        "isvClosedDateTime": "2025-08-10T05:00:00Z",
                        "microsoftAcceptedDateTime": "2025-07-10T05:00:00Z",
                        "microsoftClosedDateTime": "2025-08-10T05:00:00Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/partnerLookup": {
      "post": {
        "operationId": "partnerLookup",
        "summary": "Lookup partner details in Partner Center.",
        "description": "Searches Microsoft Partner Center for partner organizations\nmatching the supplied search text. Use the returned\n`organizationId` when adding a non-Microsoft partner to a\nreferral via `inviteContexts`. Returns an empty `partners`\narray when no matches are found.",
        "tags": [
          "Partners"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "searchText": {
                    "type": "string",
                    "description": "Search text used to lookup the partner",
                    "example": "Example Corporation"
                  }
                },
                "required": [
                  "searchText"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response containing the results of the partner lookup",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int64",
                      "description": "The number of matching partners in the response",
                      "example": 1
                    },
                    "partners": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Partner"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/referrals": {
      "post": {
        "operationId": "createIPReferral",
        "summary": "Create a referral",
        "description": "Create a co-sell IP referral and submit it to Microsoft\nPartner Center. The shape of the request and the side effect\ndepend on the optional `tackle-operation-id` header (default\n`createIPReferral`); see the header description for the full\nlist of sub-operations and when to use each. Returns\n`202 Accepted` immediately with a Tackle referral ID and a\n`requestId` you can correlate to subsequent events via\n`listReferralEvents`.",
        "tags": [
          "Referrals"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "tackle-operation-id",
            "schema": {
              "type": "string",
              "enum": [
                "createIPReferral",
                "createDraftIPReferral",
                "cloneIPReferral",
                "createInboundIPReferral"
              ],
              "description": "The unique identifier for the operation to perform when creating the referral. The header is optional; when omitted, it defaults to `createIPReferral`.\n\n- `createIPReferral` (default): Create a new outbound IP co-sell referral and submit it to Microsoft Partner Center.\n- `createDraftIPReferral`: Save a draft referral in Tackle without submitting it to Microsoft. The draft can later be submitted via `POST /api/referrals/{referral_id}` with `tackle-operation-id: createIPReferralFromDraft`.\n- `cloneIPReferral`: Create a new referral by cloning an existing one. The request body must include `trackingInfo.clonedFromOpportunityId` referencing the source referral.\n- `createInboundIPReferral`: **Test-environment-only.** Simulate Microsoft sharing an inbound IP co-sell referral with the ISV without making any real Partner Center calls, so customers can exercise the inbound-referral receive flow end-to-end in a test environment. Production vendors should not use this value; in production environments the request is accepted but no referral is created."
            },
            "required": false,
            "example": "createIPReferral"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReferralInput"
              },
              "examples": {
                "private": {
                  "summary": "Create a private referral",
                  "value": {
                    "name": "Test Tackle V3 Private Referral",
                    "companyWebsite": "https://www.example.com",
                    "mpnId": "1234567",
                    "campaignId": "someCampaignID",
                    "dealSensitivity": "None",
                    "customerProfile": {
                      "name": "test",
                      "isMatchingComplete": true,
                      "isMaccEligible": false,
                      "ids": [
                        {
                          "id": "1234567",
                          "profileType": "External"
                        }
                      ],
                      "address": {
                        "addressLine1": "1 Microsoft Way",
                        "city": "Redmond",
                        "country": "US"
                      },
                      "team": [
                        {
                          "firstName": "Test",
                          "lastName": "Employee",
                          "phoneNumber": "555 555-5555",
                          "email": "test@example.com"
                        }
                      ]
                    },
                    "consent": {
                      "consentToShareReferralWithMicrosoftSellers": false,
                      "consentToToShareInfoWithOthers": true,
                      "consentToContact": true,
                      "consentToMicrosoftToContactSpecificPartners": true
                    },
                    "details": {
                      "notes": "Here are some test notes.",
                      "dealValue": 500,
                      "currency": "USD",
                      "closingDateTime": "2025-07-10T05:00:00Z",
                      "requirements": {
                        "customerMarketplaceIntent": "HaveNotDecided",
                        "solutionArea": "Data and AI",
                        "solutionPlay": "Data Security",
                        "solutions": [
                          {
                            "type": "Name",
                            "id": "1234567",
                            "name": "Test Solution",
                            "solutionType": "3P",
                            "publisherName": "example.co"
                          }
                        ]
                      }
                    },
                    "team": [
                      {
                        "firstName": "Cosell",
                        "lastName": "Tackle",
                        "phoneNumber": "8888888888",
                        "email": "cloudcosell@example.com"
                      }
                    ],
                    "inviteContexts": []
                  }
                },
                "testEnvironmentInbound": {
                  "summary": "Test-environment-only \u2014 simulate an inbound referral from Microsoft",
                  "description": "Use with `tackle-operation-id: createInboundIPReferral`. This is supported\nonly for vendors provisioned for use in a test environment so customers can\nexercise the inbound-referral receive flow without real Microsoft Partner\nCenter traffic. The first entry in `inviteContexts` represents the inviting\norganization (e.g. Microsoft); additional entries become related referrals on\nthe engagement.",
                  "value": {
                    "name": "Test Environment Inbound IP Co-Sell Referral",
                    "companyWebsite": "https://www.example.com",
                    "mpnId": "1234567",
                    "dealSensitivity": "None",
                    "customerProfile": {
                      "name": "test",
                      "isMatchingComplete": true,
                      "isMaccEligible": false,
                      "ids": [
                        {
                          "id": "1234567",
                          "profileType": "External"
                        }
                      ],
                      "address": {
                        "addressLine1": "1 Microsoft Way",
                        "city": "Redmond",
                        "country": "US"
                      },
                      "team": [
                        {
                          "firstName": "Test",
                          "lastName": "Customer",
                          "phoneNumber": "555 555-5555",
                          "email": "test@example.com"
                        }
                      ]
                    },
                    "consent": {
                      "consentToShareReferralWithMicrosoftSellers": true,
                      "consentToToShareInfoWithOthers": true,
                      "consentToContact": true,
                      "consentToMicrosoftToContactSpecificPartners": true
                    },
                    "details": {
                      "notes": "Test environment inbound referral for receive-flow testing.",
                      "dealValue": 500,
                      "currency": "USD",
                      "closingDateTime": "2025-07-10T05:00:00Z",
                      "requirements": {
                        "customerMarketplaceIntent": "HaveNotDecided",
                        "solutionArea": "Data and AI",
                        "solutionPlay": "Data Security",
                        "solutions": [
                          {
                            "type": "Name",
                            "id": "1234567",
                            "name": "Test Solution",
                            "solutionType": "3P",
                            "publisherName": "example.co"
                          }
                        ]
                      }
                    },
                    "team": [
                      {
                        "firstName": "Cosell",
                        "lastName": "Tackle",
                        "phoneNumber": "8888888888",
                        "email": "cloudcosell@example.com"
                      }
                    ],
                    "inviteContexts": [
                      {
                        "organizationId": "msft",
                        "organizationName": "Microsoft",
                        "assistanceRequestCode": "GeneralOrOther",
                        "notes": "Microsoft is sharing this inbound referral with the ISV in a test environment."
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tackleId": {
                      "type": "string",
                      "description": "The unique identifier for the opportunity"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Identifier for the call submitted to Microsoft Partner Center on the caller's behalf. Use it to correlate this response with subsequent referral events."
                    }
                  }
                },
                "example": {
                  "tackleId": "tackle-cosell-2jhD8b41CurTOqEsG2Soinublv3",
                  "requestId": "2utc0ITX3k7iCBBNh6CqRLs8yGz"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/referrals/{referral_id}": {
      "get": {
        "operationId": "getReferral",
        "summary": "Get a referral",
        "description": "Returns the current state of a co-sell referral by Tackle\nreferral ID, including both the Microsoft Partner Center\npayload (`Referral`) and Tackle-side metadata\n(`ReferralMetadata` -- CRM linkage, sync health, archived\nstate, related referrals). Returns `404 Not Found` when the\nreferral does not exist for the authenticated vendor.",
        "tags": [
          "Referrals"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/referral_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReferralResponse"
                },
                "examples": {
                  "getReferral": {
                    "summary": "Get Referral",
                    "description": "You can retrieve the referral information by providing the unique identifier for the referral.",
                    "value": {
                      "id": "472b39ec-634e-433e-afea-8421d95d684c",
                      "engagementId": "db56246a-5894-442e-80a7-57f18652262c",
                      "name": "MSFT Test referral",
                      "createdDateTime": "2025-03-17T12:00:00Z",
                      "updatedDateTime": "2025-03-17T12:00:00Z",
                      "acceptedDateTime": "2025-03-17T12:00:00Z",
                      "status": "Closed",
                      "substatus": "Won",
                      "statusReason": "Referral was won",
                      "type": "Shared",
                      "tags": [
                        "IPCosell"
                      ],
                      "qualification": "SalesQualified",
                      "customerProfile": {
                        "name": "Test Customer",
                        "isMatchingComplete": true,
                        "isMaccEligible": false,
                        "address": {
                          "addressLine1": "1 Microsoft Way",
                          "city": "Redmond",
                          "state": "Washington",
                          "postalCode": "98052",
                          "country": "US"
                        },
                        "team": [
                          {
                            "firstName": "Test",
                            "lastName": "Employee",
                            "phoneNumber": "555 555-5555",
                            "email": "test@customer.com",
                            "emailValidationStatus": "None",
                            "phoneValidationStatus": "None"
                          }
                        ],
                        "ids": [
                          {
                            "id": "9-VZOAOB6G6",
                            "profileType": "External"
                          }
                        ]
                      },
                      "consent": {
                        "consentToShareReferralWithMicrosoftSellers": true,
                        "consentToToShareInfoWithOthers": true,
                        "consentToContact": true,
                        "consentToMicrosoftToContactSpecificPartners": true
                      },
                      "details": {
                        "notes": "test notes",
                        "dealValue": 1000,
                        "currency": "USD",
                        "closingDateTime": "2025-07-10T05:00:00Z",
                        "requirements": {
                          "industries": [],
                          "products": [],
                          "services": [],
                          "solutions": [
                            {
                              "id": "d84d9a5b-639f-489d-a95c-100c487def71",
                              "name": "Tackle Cloud GTM Platform",
                              "solutionType": "3P",
                              "type": "Name",
                              "publisherName": "Tackle.io, Inc."
                            }
                          ],
                          "additionalRequirements": {
                            "iot": {
                              "azureCertifiedDevice": false,
                              "attachServices": false
                            },
                            "attributes": [
                              {
                                "id": "Business Applications",
                                "type": "SolutionArea"
                              },
                              {
                                "id": "Accelerate Innovation with Low Code",
                                "type": "SolutionPlay"
                              },
                              {
                                "id": "No",
                                "type": "CustomerMarketplaceIntent"
                              }
                            ]
                          }
                        }
                      },
                      "team": [
                        {
                          "firstName": "Tackle",
                          "lastName": "Tester",
                          "phoneNumber": "5555555",
                          "email": "testerupdated@example.com",
                          "emailValidationStatus": "None",
                          "phoneValidationStatus": "None"
                        }
                      ],
                      "inviteContext": {
                        "notes": "Some notes",
                        "invitedBy": {
                          "organizationId": "85ce85b8-faef-4c5f-beaa-e8e704ca6cef",
                          "organizationName": "Tackle.io, Inc."
                        },
                        "assistanceRequestCode": "Unknown",
                        "invitedMpnId": "5341319"
                      },
                      "eTag": "\\\"97003301-0000-0100-0000-67d455d30001\\\"",
                      "target": [
                        {
                          "id": "d84d9a5b-639f-489d-a95c-100c487def77",
                          "type": "SolutionProfile"
                        }
                      ],
                      "mpnId": "5341318",
                      "direction": "Outgoing",
                      "organizationId": "85ce85b8-faef-4c5f-beaa-e8e704ca6cef",
                      "organizationName": "Tackle.io, Inc.",
                      "lastModifiedVia": "d5e95180-727b-4312-bca9-d46416511ffc",
                      "lastRunId": "8e797ec8-a0f8-4491-9086-4f1c03bfa7c9",
                      "favorite": false,
                      "campaignId": "testCampaignUpdated",
                      "salesStage": "60",
                      "quality": "Unknown",
                      "isSpam": false,
                      "dealSensitivity": "None",
                      "createdVia": "d5e95180-727b-4312-bca9-d46416511ffc",
                      "closedDateTime": "2025-03-17T12:00:00Z",
                      "registrationStatus": "None",
                      "links": {
                        "relatedReferrals": {
                          "uri": "https://api.partner.microsoft.com/v1.0/engagements/referrals?$filter=engagementId eq \"db56246a-5894-442e-80a7-57f18652262c\"",
                          "method": "GET"
                        },
                        "self": {
                          "uri": "https://api.partner.microsoft.com/v1.0/engagements/referrals/472b39ec-634e-433e-afea-8421d95d684c",
                          "method": "GET"
                        }
                      },
                      "metadata": {
                        "tackleId": "tackle-referral-2uJY3sgyqBz1EnKzRpx0PNol13A",
                        "companyName": "Test INC.",
                        "companyWebsite": "www.testInc.com",
                        "createdDate": "2025-03-17T12:00:00Z",
                        "lastModifiedDate": "2025-03-17T12:00:00Z",
                        "crmId": "006QL00000BahjGYAR",
                        "crmOrgId": "testOrg",
                        "hasCloudErrors": false,
                        "hasSalesforceErrors": false,
                        "relatedReferrals": [],
                        "classification": "ip",
                        "dealType": "coSell"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "updateIPReferral",
        "summary": "Update a referral",
        "description": "Update a referral. The behavior of the request depends on the\n`tackle-operation-id` header. Sub-operations that look up the\nreferral by ID -- in particular `requestSyncFromSalesforce` --\nmay return `404 Not Found` when the referral does not exist for\nthe authenticated vendor.",
        "tags": [
          "Referrals"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/referral_id"
          },
          {
            "in": "header",
            "name": "tackle-operation-id",
            "schema": {
              "type": "string",
              "enum": [
                "updateIPReferral",
                "updateDraftIPReferral",
                "closeLostReferral",
                "closeWonReferral",
                "closeErrorReferral",
                "acceptIncomingReferral",
                "declineIncomingReferral",
                "retryCreateIPReferral",
                "createIPReferralFromDraft",
                "updateReferralCRMID",
                "resyncReferralToCRM",
                "requestSyncFromSalesforce"
              ],
              "description": "Identifier for the sub-operation to perform when updating\nthe referral. Required. The value selects the request body\nschema and the side-effect -- see the request-body examples\nfor a payload per value.\n\n  - `updateIPReferral` -- update fields on an active outbound IP referral. Body: `UpdateReferralInput`.\n  - `updateDraftIPReferral` -- update fields on a draft referral that has not been submitted to Microsoft. Body: `CreateReferralInput`.\n  - `createIPReferralFromDraft` -- submit a previously-saved draft to Microsoft Partner Center. Body: `CreateReferralInput`.\n  - `retryCreateIPReferral` -- retry a failed create. Body: `CreateReferralInput`.\n  - `closeWonReferral` -- mark the referral closed-won. Body: `{}`.\n  - `closeLostReferral` -- mark the referral closed-lost. Body: `StatusChangedInput` with `statusReason`.\n  - `closeErrorReferral` -- mark the referral closed-error. Body: `StatusChangedInput` with `statusReason`.\n  - `acceptIncomingReferral` -- accept an inbound referral shared by Microsoft. Body: `StatusChangedInput`; supply `team` if the referral has none.\n  - `declineIncomingReferral` -- decline an inbound referral. Body: `StatusChangedInput` with `statusReason`.\n  - `updateReferralCRMID` -- update the CRM linkage only; does not call Microsoft. Body: `StatusChangedInput` with `crmId` / `crmOrgId`.\n  - `resyncReferralToCRM` -- re-push the latest referral state to your CRM. Body: `{}`. Does not call Microsoft.\n  - `requestSyncFromSalesforce` -- pull the latest state from Salesforce. Body: `{}`. Does not call Microsoft. Returns `404` when the referral is not found for the authenticated vendor."
            },
            "required": true,
            "example": "updateIPReferral"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/UpdateReferralInput"
                  },
                  {
                    "$ref": "#/components/schemas/CreateReferralInput"
                  },
                  {
                    "$ref": "#/components/schemas/StatusChangedInput"
                  }
                ]
              },
              "examples": {
                "closeLostReferral": {
                  "summary": "Close a referral as lost. Should only include status reason.  Uses the StatusChangedInput schema.",
                  "value": {
                    "statusReason": "NotACustomer:This was not our customer"
                  }
                },
                "closeWonReferral": {
                  "summary": "Close a referral as won. Should be an empty object.",
                  "value": {}
                },
                "closeErrorReferral": {
                  "summary": "Close a referral as error. Should only include status reason.  Uses the StatusChangedInput schema.",
                  "value": {
                    "statusReason": "TestReferral:This was a test."
                  }
                },
                "declineIncomingReferral": {
                  "summary": "Decline an incoming referral. Should only include status reason.  Uses the StatusChangedInput schema.",
                  "value": {
                    "statusReason": "ProjectBudgetNotAdequate:Not enough money."
                  }
                },
                "acceptIncomingReferral": {
                  "summary": "Accept an incoming referral. May include crmID, crmOrgID, or team.  Team must be included if the referral has no team members. Uses the StatusChangedInput schema.",
                  "value": {
                    "crmId": "someSalesforceOpportunityID",
                    "crmOrgId": "someSalesforceOrgID",
                    "team": [
                      {
                        "firstName": "Cosell",
                        "lastName": "Tackle",
                        "phoneNumber": "8888888888",
                        "email": "test@test.com"
                      }
                    ]
                  }
                },
                "retryCreateIPReferral": {
                  "summary": "Retry creating a referral. Uses the CreateReferralInput schema; supply the same body shape as createIPReferral. See the createIPReferral request examples for a complete payload.",
                  "value": {
                    "name": "Test Tackle V3 Private Referral",
                    "companyWebsite": "https://www.example.com",
                    "mpnId": "1234567",
                    "dealSensitivity": "None",
                    "customerProfile": {
                      "name": "test",
                      "isMatchingComplete": true,
                      "isMaccEligible": false,
                      "address": {
                        "addressLine1": "1 Microsoft Way",
                        "city": "Redmond",
                        "country": "US"
                      }
                    },
                    "consent": {
                      "consentToShareReferralWithMicrosoftSellers": false,
                      "consentToToShareInfoWithOthers": true,
                      "consentToContact": true,
                      "consentToMicrosoftToContactSpecificPartners": true
                    },
                    "details": {
                      "dealValue": 500,
                      "currency": "USD",
                      "closingDateTime": "2025-07-10T05:00:00Z",
                      "requirements": {
                        "customerMarketplaceIntent": "HaveNotDecided"
                      }
                    },
                    "team": [
                      {
                        "firstName": "Cosell",
                        "lastName": "Tackle",
                        "phoneNumber": "8888888888",
                        "email": "cloudcosell@example.com"
                      }
                    ]
                  }
                },
                "updateDraftIPReferral": {
                  "summary": "Update a draft referral. Uses the CreateReferralInput schema; supply the same body shape as createIPReferral. See the createIPReferral request examples for a complete payload.",
                  "value": {
                    "name": "Test Tackle V3 Private Referral (updated draft)",
                    "mpnId": "1234567",
                    "dealSensitivity": "None",
                    "customerProfile": {
                      "name": "test",
                      "isMatchingComplete": true,
                      "isMaccEligible": false,
                      "address": {
                        "addressLine1": "1 Microsoft Way",
                        "city": "Redmond",
                        "country": "US"
                      }
                    },
                    "consent": {
                      "consentToShareReferralWithMicrosoftSellers": false,
                      "consentToToShareInfoWithOthers": true,
                      "consentToContact": true,
                      "consentToMicrosoftToContactSpecificPartners": true
                    },
                    "details": {
                      "dealValue": 750,
                      "currency": "USD",
                      "closingDateTime": "2025-07-10T05:00:00Z",
                      "requirements": {
                        "customerMarketplaceIntent": "HaveNotDecided"
                      }
                    },
                    "team": [
                      {
                        "firstName": "Cosell",
                        "lastName": "Tackle",
                        "phoneNumber": "8888888888",
                        "email": "cloudcosell@example.com"
                      }
                    ]
                  }
                },
                "updateReferralCRMID": {
                  "summary": "Update the CRM ID of a referral. Should only include crmId and crmOrgId.",
                  "value": {
                    "crmId": "someSalesforceOpportunityID",
                    "crmOrgId": "someSalesforceOrgID"
                  }
                },
                "resyncReferralToCRM": {
                  "summary": "Resync a referral to CRM.",
                  "value": {}
                },
                "requestSyncFromSalesforce": {
                  "summary": "Request a sync from Salesforce for the referral. Request body can be empty.",
                  "value": {}
                },
                "updateIPReferral": {
                  "summary": "Update a referral.  Uses the UpdateReferralInput schema.",
                  "value": {
                    "name": "Test Tackle V3 Private Referral",
                    "campaignId": "someCampaignID",
                    "consent": {
                      "consentToShareReferralWithMicrosoftSellers": false
                    },
                    "details": {
                      "notes": "Here are some test notes.",
                      "dealValue": 500,
                      "currency": "USD",
                      "closingDateTime": "2025-07-10T05:00:00Z",
                      "requirements": {
                        "customerMarketplaceIntent": "HaveNotDecided",
                        "solutions": [
                          {
                            "type": "Name",
                            "id": "1234567",
                            "name": "Test Solution",
                            "solutionType": "3P",
                            "publisherName": "example.co"
                          }
                        ]
                      }
                    },
                    "team": [
                      {
                        "firstName": "Cosell",
                        "lastName": "Tackle",
                        "phoneNumber": "8888888888",
                        "email": "cloudcosell@example.com"
                      }
                    ],
                    "inviteContexts": [
                      {
                        "assistanceRequestCode": "GeneralOrOther",
                        "organizationId": "987654321",
                        "organizationName": "TEST PARTNER",
                        "notes": "Partner Test Notes Here",
                        "dealValue": 2,
                        "currency": "USD",
                        "closingDateTime": "2025-03-03T07:00:00.000Z",
                        "solutions": [
                          {
                            "id": "1234567",
                            "type": "Name",
                            "name": "Tackle Cloud GTM Platform",
                            "solutionType": "3P",
                            "publisherName": "Tackle.io, Inc."
                          }
                        ],
                        "team": [
                          {
                            "firstName": "Tackle",
                            "lastName": "Tester",
                            "phoneNumber": "5555555",
                            "email": "tester@example.com"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tackleId": {
                      "type": "string",
                      "description": "The unique identifier for the opportunity"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Identifier for the call submitted to Microsoft Partner Center\non the caller's behalf. Always present in the response body.\nThe value is the empty string for sub-operations that do not\nissue a Partner Center call -- specifically\n`updateReferralCRMID`, `resyncReferralToCRM`, and\n`requestSyncFromSalesforce`."
                    }
                  }
                },
                "example": {
                  "tackleId": "tackle-cosell-2jhD8b41CurTOqEsG2Soinublv3",
                  "requestId": "2utc0ITX3k7iCBBNh6CqRLs8yGz"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/referrals/{referral_id}/events": {
      "get": {
        "operationId": "listReferralEvents",
        "summary": "List referral events",
        "description": "Returns the recorded history of a referral as a paginated list\nof events: client-initiated operations (matching the\n`tackle-operation-id` values), Microsoft Partner Center\nresponses, and CRM-sync history items. Use this to follow up\non a `requestId` returned from `createIPReferral` /\n`updateIPReferral`, audit lifecycle changes, or surface\nrecent activity to end users. Pagination uses an opaque\n`next` cursor.",
        "tags": [
          "Referrals"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/referral_id"
          },
          {
            "in": "query",
            "name": "next",
            "required": false,
            "description": "Pagination cursor returned by a previous call as the `next` field. Omit on the first call.",
            "schema": {
              "type": "string",
              "example": "re#tackle-cosell-2lsw6vxN7rXsBer0hXABCDEFGH"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListReferralEvent"
                      }
                    },
                    "next": {
                      "type": "string",
                      "description": "Pagination cursor for the next page of events. Pass this value back as the `next` query parameter to fetch the next page. Omitted when there are no more results.",
                      "example": "re#tackle-cosell-2lsw6vxN7rXsBer0hXABCDEFGH"
                    }
                  }
                },
                "examples": {
                  "listReferralEvents": {
                    "summary": "List Referral Events for createIPReferral",
                    "value": {
                      "events": [
                        {
                          "operation": "cloudUpdateEvent",
                          "eventId": "2lsw8uaIoeMT72IRnlRz19gKxXY",
                          "timestamp": "2024-09-10T15:25:35Z",
                          "cloudRaw": {
                            "id": "472b39ec-634e-433e-afea-8421d95d684c",
                            "engagementId": "db56246a-5894-442e-80a7-57f18652262c",
                            "name": "MSFT Test referral",
                            "createdDateTime": "2025-03-17T12:00:00Z",
                            "updatedDateTime": "2025-03-17T12:00:00Z",
                            "acceptedDateTime": "2025-03-17T12:00:00Z",
                            "status": "Closed",
                            "substatus": "Won",
                            "statusReason": "Referral was won",
                            "type": "Shared",
                            "tags": [
                              "IPCosell"
                            ],
                            "qualification": "SalesQualified",
                            "customerProfile": {
                              "name": "Test Customer",
                              "isMaccEligible": false,
                              "address": {
                                "addressLine1": "1 Microsoft Way",
                                "city": "Redmond",
                                "state": "Washington",
                                "postalCode": "98052",
                                "country": "US"
                              },
                              "team": [
                                {
                                  "firstName": "Test",
                                  "lastName": "Employee",
                                  "phoneNumber": "555 555-5555",
                                  "email": "test@customer.com",
                                  "emailValidationStatus": "None",
                                  "phoneValidationStatus": "None"
                                }
                              ],
                              "ids": [
                                {
                                  "id": "9-VZOAOB6G6",
                                  "profileType": "External"
                                }
                              ]
                            },
                            "consent": {
                              "consentToShareReferralWithMicrosoftSellers": true,
                              "consentToToShareInfoWithOthers": true,
                              "consentToContact": true,
                              "consentToMicrosoftToContactSpecificPartners": true
                            },
                            "details": {
                              "notes": "test notes",
                              "dealValue": "1000",
                              "currency": "USD",
                              "closingDateTime": "2025-07-10T05:00:00Z",
                              "requirements": {
                                "industries": [],
                                "products": [],
                                "services": [],
                                "solutions": [
                                  {
                                    "id": "d84d9a5b-639f-489d-a95c-100c487def71",
                                    "name": "Tackle Cloud GTM Platform",
                                    "solutionType": "3P",
                                    "type": "Name",
                                    "publisherName": "Tackle.io, Inc."
                                  }
                                ],
                                "additionalRequirements": {
                                  "iot": {
                                    "azureCertifiedDevice": false,
                                    "attachServices": false
                                  },
                                  "attributes": [
                                    {
                                      "id": "Business Applications",
                                      "type": "SolutionArea"
                                    },
                                    {
                                      "id": "Accelerate Innovation with Low Code",
                                      "type": "SolutionPlay"
                                    },
                                    {
                                      "id": "No",
                                      "type": "CustomerMarketplaceIntent"
                                    }
                                  ]
                                }
                              }
                            },
                            "team": [
                              {
                                "firstName": "Tackle",
                                "lastName": "Tester",
                                "phoneNumber": "5555555",
                                "email": "testerupdated@example.com",
                                "emailValidationStatus": "None",
                                "phoneValidationStatus": "None"
                              }
                            ],
                            "inviteContext": {
                              "notes": "Some notes",
                              "invitedBy": {
                                "organizationId": "85ce85b8-faef-4c5f-beaa-e8e704ca6cef",
                                "organizationName": "Tackle.io, Inc."
                              },
                              "assistanceRequestCode": "Unknown",
                              "invitedMpnId": "5341319"
                            },
                            "eTag": "\"97003301-0000-0100-0000-67d455d30001\"",
                            "target": [
                              {
                                "id": "d84d9a5b-639f-489d-a95c-100c487def77",
                                "type": "SolutionProfile"
                              }
                            ],
                            "mpnId": "5341318",
                            "direction": "Outgoing",
                            "organizationId": "85ce85b8-faef-4c5f-beaa-e8e704ca6cef",
                            "organizationName": "Tackle.io, Inc.",
                            "lastModifiedVia": "d5e95180-727b-4312-bca9-d46416511ffc",
                            "lastRunId": "8e797ec8-a0f8-4491-9086-4f1c03bfa7c9",
                            "favorite": false,
                            "campaignId": "testCampaignUpdated",
                            "salesStage": "60",
                            "quality": "Unknown",
                            "isSpam": false,
                            "dealSensitivity": "None",
                            "createdVia": "d5e95180-727b-4312-bca9-d46416511ffc",
                            "closedDateTime": "2025-03-17T12:00:00Z",
                            "registrationStatus": "None",
                            "links": {
                              "relatedReferrals": {
                                "uri": "https://api.partner.microsoft.com/v1.0/engagements/referrals?$filter=engagementId eq \"db56246a-5894-442e-80a7-57f18652262c\"",
                                "method": "GET"
                              },
                              "self": {
                                "uri": "https://api.partner.microsoft.com/v1.0/engagements/referrals/472b39ec-634e-433e-afea-8421d95d684c",
                                "method": "GET"
                              }
                            }
                          },
                          "activityDetails": {
                            "displayText": "Sent full update to Tackle"
                          }
                        },
                        {
                          "operation": "createIPReferral",
                          "eventId": "2lsw6raV18Ymy8DBK0ExX5LBP21",
                          "timestamp": "2024-09-10T15:25:29Z",
                          "cloudResponses": [
                            {
                              "requestId": "example-00123456789ABCDEFGHIJKL",
                              "operation": "createIPReferral",
                              "success": true,
                              "timestamp": "2024-09-10T15:25:24Z",
                              "rawResponse": {
                                "id": "472b39ec-634e-433e-afea-8421d95d684c",
                                "engagementId": "db56246a-5894-442e-80a7-57f18652262c",
                                "name": "MSFT Test referral",
                                "createdDateTime": "2025-03-17T12:00:00Z",
                                "updatedDateTime": "2025-03-17T12:00:00Z",
                                "acceptedDateTime": "2025-03-17T12:00:00Z",
                                "status": "Closed",
                                "substatus": "Won",
                                "statusReason": "Referral was won",
                                "type": "Shared",
                                "tags": [
                                  "IPCosell"
                                ],
                                "qualification": "SalesQualified",
                                "customerProfile": {
                                  "name": "Test Customer",
                                  "isMaccEligible": false,
                                  "address": {
                                    "addressLine1": "1 Microsoft Way",
                                    "city": "Redmond",
                                    "state": "Washington",
                                    "postalCode": "98052",
                                    "country": "US"
                                  },
                                  "team": [
                                    {
                                      "firstName": "Test",
                                      "lastName": "Employee",
                                      "phoneNumber": "555 555-5555",
                                      "email": "test@customer.com",
                                      "emailValidationStatus": "None",
                                      "phoneValidationStatus": "None"
                                    }
                                  ],
                                  "ids": [
                                    {
                                      "id": "9-VZOAOB6G6",
                                      "profileType": "External"
                                    }
                                  ]
                                },
                                "consent": {
                                  "consentToShareReferralWithMicrosoftSellers": true,
                                  "consentToToShareInfoWithOthers": true,
                                  "consentToContact": true,
                                  "consentToMicrosoftToContactSpecificPartners": true
                                },
                                "details": {
                                  "notes": "test notes",
                                  "dealValue": "1000",
                                  "currency": "USD",
                                  "closingDateTime": "2025-07-10T05:00:00Z",
                                  "requirements": {
                                    "industries": [],
                                    "products": [],
                                    "services": [],
                                    "solutions": [
                                      {
                                        "id": "d84d9a5b-639f-489d-a95c-100c487def71",
                                        "name": "Tackle Cloud GTM Platform",
                                        "solutionType": "3P",
                                        "type": "Name",
                                        "publisherName": "Tackle.io, Inc."
                                      }
                                    ],
                                    "additionalRequirements": {
                                      "iot": {
                                        "azureCertifiedDevice": false,
                                        "attachServices": false
                                      },
                                      "attributes": [
                                        {
                                          "id": "Business Applications",
                                          "type": "SolutionArea"
                                        },
                                        {
                                          "id": "Accelerate Innovation with Low Code",
                                          "type": "SolutionPlay"
                                        },
                                        {
                                          "id": "No",
                                          "type": "CustomerMarketplaceIntent"
                                        }
                                      ]
                                    }
                                  }
                                },
                                "team": [
                                  {
                                    "firstName": "Tackle",
                                    "lastName": "Tester",
                                    "phoneNumber": "5555555",
                                    "email": "testerupdated@example.com",
                                    "emailValidationStatus": "None",
                                    "phoneValidationStatus": "None"
                                  }
                                ],
                                "inviteContext": {
                                  "notes": "Some notes",
                                  "invitedBy": {
                                    "organizationId": "85ce85b8-faef-4c5f-beaa-e8e704ca6cef",
                                    "organizationName": "Tackle.io, Inc."
                                  },
                                  "assistanceRequestCode": "Unknown",
                                  "invitedMpnId": "5341319"
                                },
                                "eTag": "\"97003301-0000-0100-0000-67d455d30001\"",
                                "target": [
                                  {
                                    "id": "d84d9a5b-639f-489d-a95c-100c487def77",
                                    "type": "SolutionProfile"
                                  }
                                ],
                                "mpnId": "5341318",
                                "direction": "Outgoing",
                                "organizationId": "85ce85b8-faef-4c5f-beaa-e8e704ca6cef",
                                "organizationName": "Tackle.io, Inc.",
                                "lastModifiedVia": "d5e95180-727b-4312-bca9-d46416511ffc",
                                "lastRunId": "8e797ec8-a0f8-4491-9086-4f1c03bfa7c9",
                                "favorite": false,
                                "campaignId": "testCampaignUpdated",
                                "salesStage": "60",
                                "quality": "Unknown",
                                "isSpam": false,
                                "dealSensitivity": "None",
                                "createdVia": "d5e95180-727b-4312-bca9-d46416511ffc",
                                "closedDateTime": "2025-03-17T12:00:00Z",
                                "registrationStatus": "None",
                                "links": {
                                  "relatedReferrals": {
                                    "uri": "https://api.partner.microsoft.com/v1.0/engagements/referrals?$filter=engagementId eq \"db56246a-5894-442e-80a7-57f18652262c\"",
                                    "method": "GET"
                                  },
                                  "self": {
                                    "uri": "https://api.partner.microsoft.com/v1.0/engagements/referrals/472b39ec-634e-433e-afea-8421d95d684c",
                                    "method": "GET"
                                  }
                                }
                              }
                            }
                          ],
                          "cloudRequests": [
                            {
                              "requestId": "example-00123456789ABCDEFGHIJKL",
                              "operation": "createIPReferral",
                              "timestamp": "2024-09-10T15:25:20Z",
                              "request": {
                                "id": "472b39ec-634e-433e-afea-8421d95d684c",
                                "engagementId": "db56246a-5894-442e-80a7-57f18652262c",
                                "name": "MSFT Test referral",
                                "createdDateTime": "2025-03-17T12:00:00Z",
                                "updatedDateTime": "2025-03-17T12:00:00Z",
                                "acceptedDateTime": "2025-03-17T12:00:00Z",
                                "status": "Closed",
                                "substatus": "Won",
                                "statusReason": "Referral was won",
                                "type": "Shared",
                                "tags": [
                                  "IPCosell"
                                ],
                                "qualification": "SalesQualified",
                                "customerProfile": {
                                  "name": "Test Customer",
                                  "isMaccEligible": false,
                                  "address": {
                                    "addressLine1": "1 Microsoft Way",
                                    "city": "Redmond",
                                    "state": "Washington",
                                    "postalCode": "98052",
                                    "country": "US"
                                  },
                                  "team": [
                                    {
                                      "firstName": "Test",
                                      "lastName": "Employee",
                                      "phoneNumber": "555 555-5555",
                                      "email": "test@customer.com",
                                      "emailValidationStatus": "None",
                                      "phoneValidationStatus": "None"
                                    }
                                  ],
                                  "ids": [
                                    {
                                      "id": "9-VZOAOB6G6",
                                      "profileType": "External"
                                    }
                                  ]
                                },
                                "consent": {
                                  "consentToShareReferralWithMicrosoftSellers": true,
                                  "consentToToShareInfoWithOthers": true,
                                  "consentToContact": true,
                                  "consentToMicrosoftToContactSpecificPartners": true
                                },
                                "details": {
                                  "notes": "test notes",
                                  "dealValue": "1000",
                                  "currency": "USD",
                                  "closingDateTime": "2025-07-10T05:00:00Z",
                                  "requirements": {
                                    "industries": [],
                                    "products": [],
                                    "services": [],
                                    "solutions": [
                                      {
                                        "id": "d84d9a5b-639f-489d-a95c-100c487def71",
                                        "name": "Tackle Cloud GTM Platform",
                                        "solutionType": "3P",
                                        "type": "Name",
                                        "publisherName": "Tackle.io, Inc."
                                      }
                                    ],
                                    "additionalRequirements": {
                                      "iot": {
                                        "azureCertifiedDevice": false,
                                        "attachServices": false
                                      },
                                      "attributes": [
                                        {
                                          "id": "Business Applications",
                                          "type": "SolutionArea"
                                        },
                                        {
                                          "id": "Accelerate Innovation with Low Code",
                                          "type": "SolutionPlay"
                                        },
                                        {
                                          "id": "No",
                                          "type": "CustomerMarketplaceIntent"
                                        }
                                      ]
                                    }
                                  }
                                },
                                "team": [
                                  {
                                    "firstName": "Tackle",
                                    "lastName": "Tester",
                                    "phoneNumber": "5555555",
                                    "email": "testerupdated@example.com",
                                    "emailValidationStatus": "None",
                                    "phoneValidationStatus": "None"
                                  }
                                ],
                                "inviteContext": {
                                  "notes": "Some notes",
                                  "invitedBy": {
                                    "organizationId": "85ce85b8-faef-4c5f-beaa-e8e704ca6cef",
                                    "organizationName": "Tackle.io, Inc."
                                  },
                                  "assistanceRequestCode": "Unknown",
                                  "invitedMpnId": "5341319"
                                },
                                "eTag": "\"97003301-0000-0100-0000-67d455d30001\"",
                                "target": [
                                  {
                                    "id": "d84d9a5b-639f-489d-a95c-100c487def77",
                                    "type": "SolutionProfile"
                                  }
                                ],
                                "mpnId": "5341318",
                                "direction": "Outgoing",
                                "organizationId": "85ce85b8-faef-4c5f-beaa-e8e704ca6cef",
                                "organizationName": "Tackle.io, Inc.",
                                "lastModifiedVia": "d5e95180-727b-4312-bca9-d46416511ffc",
                                "lastRunId": "8e797ec8-a0f8-4491-9086-4f1c03bfa7c9",
                                "favorite": false,
                                "campaignId": "testCampaignUpdated",
                                "salesStage": "60",
                                "quality": "Unknown",
                                "isSpam": false,
                                "dealSensitivity": "None",
                                "createdVia": "d5e95180-727b-4312-bca9-d46416511ffc",
                                "closedDateTime": "2025-03-17T12:00:00Z",
                                "registrationStatus": "None",
                                "links": {
                                  "relatedReferrals": {
                                    "uri": "https://api.partner.microsoft.com/v1.0/engagements/referrals?$filter=engagementId eq \"db56246a-5894-442e-80a7-57f18652262c\"",
                                    "method": "GET"
                                  },
                                  "self": {
                                    "uri": "https://api.partner.microsoft.com/v1.0/engagements/referrals/472b39ec-634e-433e-afea-8421d95d684c",
                                    "method": "GET"
                                  }
                                }
                              }
                            }
                          ],
                          "rawRequest": {
                            "id": "472b39ec-634e-433e-afea-8421d95d684c",
                            "engagementId": "db56246a-5894-442e-80a7-57f18652262c",
                            "name": "MSFT Test referral",
                            "createdDateTime": "2025-03-17T12:00:00Z",
                            "updatedDateTime": "2025-03-17T12:00:00Z",
                            "acceptedDateTime": "2025-03-17T12:00:00Z",
                            "status": "Closed",
                            "substatus": "Won",
                            "statusReason": "Referral was won",
                            "type": "Shared",
                            "tags": [
                              "IPCosell"
                            ],
                            "qualification": "SalesQualified",
                            "customerProfile": {
                              "name": "Test Customer",
                              "isMaccEligible": false,
                              "address": {
                                "addressLine1": "1 Microsoft Way",
                                "city": "Redmond",
                                "state": "Washington",
                                "postalCode": "98052",
                                "country": "US"
                              },
                              "team": [
                                {
                                  "firstName": "Test",
                                  "lastName": "Employee",
                                  "phoneNumber": "555 555-5555",
                                  "email": "test@customer.com",
                                  "emailValidationStatus": "None",
                                  "phoneValidationStatus": "None"
                                }
                              ],
                              "ids": [
                                {
                                  "id": "9-VZOAOB6G6",
                                  "profileType": "External"
                                }
                              ]
                            },
                            "consent": {
                              "consentToShareReferralWithMicrosoftSellers": true,
                              "consentToToShareInfoWithOthers": true,
                              "consentToContact": true,
                              "consentToMicrosoftToContactSpecificPartners": true
                            },
                            "details": {
                              "notes": "test notes",
                              "dealValue": "1000",
                              "currency": "USD",
                              "closingDateTime": "2025-07-10T05:00:00Z",
                              "requirements": {
                                "industries": [],
                                "products": [],
                                "services": [],
                                "solutions": [
                                  {
                                    "id": "d84d9a5b-639f-489d-a95c-100c487def71",
                                    "name": "Tackle Cloud GTM Platform",
                                    "solutionType": "3P",
                                    "type": "Name",
                                    "publisherName": "Tackle.io, Inc."
                                  }
                                ],
                                "additionalRequirements": {
                                  "iot": {
                                    "azureCertifiedDevice": false,
                                    "attachServices": false
                                  },
                                  "attributes": [
                                    {
                                      "id": "Business Applications",
                                      "type": "SolutionArea"
                                    },
                                    {
                                      "id": "Accelerate Innovation with Low Code",
                                      "type": "SolutionPlay"
                                    },
                                    {
                                      "id": "No",
                                      "type": "CustomerMarketplaceIntent"
                                    }
                                  ]
                                }
                              }
                            },
                            "team": [
                              {
                                "firstName": "Tackle",
                                "lastName": "Tester",
                                "phoneNumber": "5555555",
                                "email": "testerupdated@example.com",
                                "emailValidationStatus": "None",
                                "phoneValidationStatus": "None"
                              }
                            ],
                            "inviteContext": {
                              "notes": "Some notes",
                              "invitedBy": {
                                "organizationId": "85ce85b8-faef-4c5f-beaa-e8e704ca6cef",
                                "organizationName": "Tackle.io, Inc."
                              },
                              "assistanceRequestCode": "Unknown",
                              "invitedMpnId": "5341319"
                            },
                            "eTag": "\"97003301-0000-0100-0000-67d455d30001\"",
                            "target": [
                              {
                                "id": "d84d9a5b-639f-489d-a95c-100c487def77",
                                "type": "SolutionProfile"
                              }
                            ],
                            "mpnId": "5341318",
                            "direction": "Outgoing",
                            "organizationId": "85ce85b8-faef-4c5f-beaa-e8e704ca6cef",
                            "organizationName": "Tackle.io, Inc.",
                            "lastModifiedVia": "d5e95180-727b-4312-bca9-d46416511ffc",
                            "lastRunId": "8e797ec8-a0f8-4491-9086-4f1c03bfa7c9",
                            "favorite": false,
                            "campaignId": "testCampaignUpdated",
                            "salesStage": "60",
                            "quality": "Unknown",
                            "isSpam": false,
                            "dealSensitivity": "None",
                            "createdVia": "d5e95180-727b-4312-bca9-d46416511ffc",
                            "closedDateTime": "2025-03-17T12:00:00Z",
                            "registrationStatus": "None",
                            "links": {
                              "relatedReferrals": {
                                "uri": "https://api.partner.microsoft.com/v1.0/engagements/referrals?$filter=engagementId eq \"db56246a-5894-442e-80a7-57f18652262c\"",
                                "method": "GET"
                              },
                              "self": {
                                "uri": "https://api.partner.microsoft.com/v1.0/engagements/referrals/472b39ec-634e-433e-afea-8421d95d684c",
                                "method": "GET"
                              }
                            }
                          },
                          "activityDetails": {
                            "displayText": "Referral created",
                            "givenName": "John",
                            "familyName": "Doe",
                            "pictureUrl": "https://tackle.io/"
                          }
                        }
                      ],
                      "next": "someNextToken"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "MTM JWT",
        "description": "Tackle machine-to-machine access token sent as `Authorization: Bearer <access_token>`."
      }
    },
    "parameters": {
      "referral_id": {
        "name": "referral_id",
        "in": "path",
        "required": true,
        "description": "The unique identifier for the referral",
        "schema": {
          "type": "string",
          "example": "tackle-cosell-2jhD8b41CurTOqEsG2Soinublv3"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "The request was malformed or could not be processed. Returned when the JSON body\ncannot be parsed, when a required field is missing, when an unsupported\n`tackle-operation-id` is supplied, or when a referenced CRM ID is invalid.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "message": "Your request could not be processed."
            }
          }
        }
      },
      "Unauthorized": {
        "description": "The request did not include a valid Tackle MTM access token, so no principal\ncould be established. The response body is `{}` \u2014 the `message` field is omitted.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {}
          }
        }
      },
      "Forbidden": {
        "description": "The authenticated principal does not have permission to perform this operation.\nThe response body is `{}` \u2014 the `message` field is omitted.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {}
          }
        }
      },
      "NotFound": {
        "description": "The requested resource was not found.\n\nThe response body shape depends on the operation:\n\n- Read operations (for example `getReferral`) return an empty body\n  (no JSON envelope).\n- Write operations that look up a resource by ID before acting on it\n  (for example `updateIPReferral` with `tackle-operation-id:\n  requestSyncFromSalesforce`) return a JSON envelope of the form\n  `{\"message\": \"Referral not found\"}`."
      },
      "Conflict": {
        "description": "The request conflicts with an existing resource. For example, attempting to\ncreate or accept a referral with a CRM ID that is already linked to another\nco-sell opportunity.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "message": "A co-sell opportunity already exists for this CRM ID"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "An unexpected error occurred while processing the request. The response body is\nempty."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "description": "Standard error envelope returned by this API. The `message` field is included\nfor most 4xx responses raised by request validation. For 401, 403, and 500\nresponses (and for `GET /api/referrals/{referral_id}` 404 responses) the body is\neither `{}` or omitted entirely.",
        "properties": {
          "message": {
            "type": "string",
[...]
