{
  "openapi": "3.0.3",
  "info": {
    "title": "Tackle Co-Sell for AWS Partner Central",
    "description": "This API lets you create and manage co-sell opportunities and invitations\nin AWS Partner Central \u2014 formerly known as the AWS Partner Network Customer\nEngagement (ACE) program. Use it to share opportunities you originate\n(Partner Referrals) with AWS, and to receive, respond to, and manage\nopportunities and invitations that AWS originates (AWS Referrals) for\nyour account.\n\n## Authentication\n\nThis API requires a Tackle machine-to-machine (MTM) access token. Issue\nyour M2M client credentials following the [How to get an M2M client ID\nand secret](https://developers.tackle.io/docs/how-to-get-an-m2m-client-id-and-secret)\nguide, exchange them for an access token following the [Getting an\naccess token](https://developers.tackle.io/docs/getting-an-access-token)\nguide, then send the token with each request in the `Authorization`\nheader as `Bearer <access_token>`.\n\nThe MTM token supplies the vendor and organization context for the request.\nFine-grained scoped MTM permissions are not enforced for this API yet.\n\n## Pagination\n\n`listOpportunities`, `listInvitations`, and `listSolutions` use offset-based\npagination. Set `pageSize` (1\u2013100, default 10) and either omit `from` to\nstart from the first record or set `from` to the value returned in\n`nextIndex` from the previous page's response. The response's `isNextPage`\nindicates whether more results are available; `nextIndex` is only present\nwhen `isNextPage` is `true`.\n\n`listOpportunityEvents` and `listInvitationEvents` use cursor-based\npagination via the `next` query parameter. The response schema includes a\n`next` cursor field reserved for future use; today no cursor value is\nemitted, so a single response returns the full event history for the\nrequested entity.\n\n## Errors\n\nMost 4xx and 5xx responses use the `Error` envelope (a JSON object with a\nhuman-readable `message`). Some responses are returned as empty bodies\n(typically direct `Unauthorized` and `Internal Server Error` responses) \u2014\nclients should be tolerant of an empty body and treat the HTTP status code\nas authoritative.\n\n## Related Tackle Co-Sell APIs\n\nTackle publishes equivalent Co-Sell APIs for other cloud providers. Customer\nengagement domain models differ across providers (AWS and Google Cloud\nChannel use \"opportunities\"; Microsoft Partner Center uses \"referrals\"), so\nendpoint paths, request and response shapes, and pagination details are not\ninterchangeable.\n\n- Tackle Co-Sell for Google Cloud Channel: https://gcp.cosell.tackle.io\n- Tackle Co-Sell for Microsoft Partner Center: https://msft.cosell.tackle.io",
    "version": "1.0"
  },
  "externalDocs": {
    "description": "Tackle Developer Portal",
    "url": "https://developers.tackle.io"
  },
  "servers": [
    {
      "url": "https://aws.cosell.tackle.io",
      "description": "AWS Co-Sell Service"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Opportunities",
      "description": "Create, read, update, and list co-sell opportunities \u2014 the partner-\noriginated (Outbound / Partner Referral) and AWS-originated (Inbound\n/ AWS Referral) deals tracked in AWS Partner Central. Includes the\nopportunity history endpoint for inspecting cloud-side request and\nresponse detail."
    },
    {
      "name": "Invitations",
      "description": "Create (test-environment-only), read, update, and list co-sell\ninvitations \u2014 AWS-led requests to partner with you on a specific\nopportunity. Use the update operation to accept or reject an\ninvitation, and the history endpoint to inspect cloud-side detail."
    },
    {
      "name": "Solutions",
      "description": "List the co-sell solutions registered with AWS Partner Central for\nyour account. Solution identifiers are referenced by `solutions` on\nopportunities."
    }
  ],
  "paths": {
    "/api/opportunities": {
      "get": {
        "operationId": "listOpportunities",
        "summary": "List co-sell opportunities",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "A search query to filter the opportunities.",
            "schema": {
              "type": "string",
              "example": "Example"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "The starting index of the opportunities to return.",
            "schema": {
              "type": "integer",
              "example": 5
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of opportunities to return per page (minimum 1, maximum 100, default 10).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10,
              "example": 10
            }
          },
          {
            "name": "cloudStatus",
            "in": "query",
            "description": "Filter opportunities by their AWS Partner Central review status. Accepts\nmultiple values; results match any of the supplied statuses.\n\nStatus values:\n\n- `Pending Submission` \u2014 opportunity is drafted but has not yet been\n  submitted to AWS Partner Central for review.\n- `Submitted` \u2014 opportunity has been submitted and is awaiting AWS triage.\n- `In review` \u2014 AWS is actively reviewing the opportunity.\n- `Approved` \u2014 AWS has approved the opportunity.\n- `Rejected` \u2014 AWS has rejected the opportunity. See `cloudResponses` on\n  the matching opportunity event for the rejection reason.\n- `Action Required` \u2014 AWS requires updates before the review can proceed.\n  See `cloudResponses` on the matching opportunity event for the requested\n  changes.",
            "schema": {
              "type": "string",
              "enum": [
                "Pending Submission",
                "Submitted",
                "In review",
                "Approved",
                "Rejected",
                "Action Required"
              ],
              "example": "Approved"
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Filter opportunities by their Tackle source. `Inbound` corresponds to\nopportunities originated by AWS (AWS Referral); `Outbound` corresponds\nto opportunities originated by the partner (Partner Referral). Accepts\nmultiple values; results match any of the supplied sources.",
            "schema": {
              "type": "string",
              "enum": [
                "Inbound",
                "Outbound"
              ],
              "example": "Inbound"
            }
          },
          {
            "name": "cloudSalesStage",
            "in": "query",
            "description": "Filter opportunities by the AWS Partner Central sales-stage value.\nAccepts multiple values; results match any of the supplied stages.\nSee `lifeCycle.stage` on `Opportunity` for the documented stage values\n(for example, `Prospect`, `Qualified`, `Technical Validation`,\n`Business Validation`, `Committed`, `Launched`, `Closed Lost`).",
            "schema": {
              "type": "string",
              "example": "Prospect"
            }
          },
          {
            "name": "startTargetCloseDate",
            "in": "query",
            "description": "Used to filter opportunities by their target close date. Only opportunities with a target close date on or after this specified date will be retrieved.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-08-01"
            }
          },
          {
            "name": "endTargetCloseDate",
            "in": "query",
            "description": "Used to filter opportunities based on their target close date. Only opportunities with a target close date on or before this specified date will be retrieved.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-08-01"
            }
          },
          {
            "name": "startCloudCreated",
            "in": "query",
            "description": "Used to filter opportunities by specifying the earliest creation date. Opportunities created on or after this date will be included in the results.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-08-01"
            }
          },
          {
            "name": "endCloudCreated",
            "in": "query",
            "description": "Used to filter opportunities by specifying the latest creation date. Opportunities created on or before this date will be included in the results.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-08-01"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "The field to sort the opportunities by. Only takes effect when `sortOrder`\nis also supplied; both query parameters must be present together for sorting\nto apply. If only `sortField` is provided, the response uses the default\nordering instead. Note that `cloudProviderID` is case-sensitive: the trailing\n`ID` is uppercase, and sending `cloudProviderId` (lowercase `d`) returns\n`400 Bad Request: Invalid sortField`.",
            "schema": {
              "type": "string",
              "enum": [
                "cloudProviderID",
                "cloudStatus",
                "cloudSalesStage",
                "cloudCreated",
                "cloudLastModified",
                "companyName",
                "title",
                "targetCloseDate",
                "unifiedCreatedDate"
              ]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort direction. Only takes effect when `sortField` is also supplied \u2014 both\nquery parameters must be present together. If only `sortOrder` is provided\n(without `sortField`), the response uses the underlying default ordering\ninstead of any sort. There is no implicit ascending default applied when\nonly one of the two parameters is sent.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "crmId",
            "in": "query",
            "description": "Filter by the Salesforce CRM identifier of the linked opportunity record.\nFor Salesforce, both 15- and 18-character IDs are accepted. To filter by\na HubSpot Deal ID instead, see the `hubspotCrmId` field on\n`OpportunityMetadata`.",
            "schema": {
              "type": "string",
              "example": "006QL00000BahjGYAR"
            }
          },
          {
            "name": "hasCloudErrors",
            "in": "query",
            "description": "Filter opportunities by their AWS Partner Central error state. Set to\n`true` to return only opportunities whose most recent AWS Partner Central\nrequest failed; set to `false` to return only opportunities with no\ncloud-side errors. Omit to disable the filter. Inspect\n`listOpportunityEvents` for the matching opportunity to see the error\ndetail.",
            "schema": {
              "type": "boolean",
              "example": false
            }
          },
          {
            "name": "hasCrmId",
            "in": "query",
            "description": "Filter opportunities by whether a CRM identifier is linked. Set to `true`\nto return only opportunities that have a `crmId` (Salesforce) or\n`hubspotCrmId` value populated; set to `false` to return only\nopportunities with no CRM identifier linked. Omit to disable the filter.",
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "hasSalesforceErrors",
            "in": "query",
            "description": "Filter opportunities by their Salesforce sync state. Set to `true` to\nreturn only opportunities whose most recent Salesforce sync attempt\nfailed; set to `false` to return only opportunities with no Salesforce\nsync errors. Omit to disable the filter. The error message itself is\navailable on the matching opportunity in the `salesforceSyncError` field.",
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "hasAnyError",
            "in": "query",
            "description": "Filters opportunities by their error state.\n\n- `true` returns only opportunities that currently have at least one\n  cloud-side error or Salesforce-sync error.\n- `false` returns only opportunities that have no cloud-side or\n  Salesforce-sync errors.\n- Omit the parameter to disable this filter entirely.\n\nSee `hasCloudErrors` and `hasSalesforceErrors` to filter on each error\nsource independently.",
            "schema": {
              "type": "boolean",
              "example": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOpportunitiesResponse"
                },
                "examples": {
                  "listOpportunities": {
                    "summary": "List Opportunities",
                    "value": {
                      "opportunities": [
                        {
                          "id": "tackle-cosell-2lFCqCaslodkeuysLfBp1ddo30",
                          "cloudProviderId": "O123456",
                          "cloudStatus": "Approved",
                          "cloudSalesStage": "Closed Lost",
                          "companyName": "Acme Corp",
                          "created": "2024-08-27T13:50:25Z",
                          "pendingRequestIds": [],
                          "title": "An opportunity title",
                          "opportunityType": "Expansion",
                          "source": "Inbound",
                          "cloudCreated": "2024-08-28T00:03:40Z",
                          "cloudLastModified": "2024-08-28T00:04:10Z",
                          "unifiedCreatedDate": "2024-08-28T00:03:40Z"
                        },
                        {
                          "id": "tackle-cosell-2lGPOvybT28ieur76jJwkkz7Of6",
                          "cloudProviderId": "O234567",
                          "cloudStatus": "Approved",
                          "cloudSalesStage": "Closed Lost",
                          "companyName": "Globex Industries",
                          "created": "2024-08-28T00:03:31Z",
                          "pendingRequestIds": [
                            "example-00123456789ABCDEFGHIJKL"
                          ],
                          "title": "Tackle - Marketplace Listing",
                          "opportunityType": "Net New Business",
                          "crmId": "006QL00000BahjGYAR",
                          "source": "Inbound",
                          "cloudCreated": "2024-08-28T00:03:40Z",
                          "cloudLastModified": "2024-08-28T00:04:10Z",
                          "unifiedCreatedDate": "2024-08-28T00:03:40Z"
                        }
                      ],
                      "total": 2,
                      "currentPageCount": 2,
                      "isNextPage": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "createOpportunity",
        "summary": "Create a co-sell opportunity",
        "description": "Queues a create request against AWS Partner Central. The success response is `202 Accepted`\nwith the Tackle identifier; poll `getOpportunity` to observe the cloud-side outcome.\n\nIf a `crmId` is supplied and your vendor account enforces a one-opportunity-per-CRM-ID\nconstraint, the request is rejected with `409 Conflict` when an existing co-sell\nopportunity already maps to the same CRM identifier. Whether this constraint is enforced\nis configured per vendor; contact your Tackle account team if you need to change the\nbehavior.",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "tackle-operation-id",
            "schema": {
              "type": "string",
              "enum": [
                "createOpportunity",
                "createDraftOpportunity"
              ],
              "description": "Selects the create flow. `createOpportunity` (the default) creates the\nopportunity and starts the AWS engagement; `createDraftOpportunity` creates\nthe opportunity in draft state without starting an engagement.\n\nHeader matching is lenient: only `createDraftOpportunity` is matched\nexplicitly, and any other value (including unknown values, an empty\nstring, or an omitted header) is routed through the default\n`createOpportunity` flow rather than rejected with `400 Bad Request`.\nClients should still send one of the documented values so future\nserver-side validation can be adopted without a breaking change."
            },
            "required": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOpportunityInput"
              },
              "examples": {
                "createAndStartEngagementOpportunity": {
                  "summary": "Create and start engagement for the opportunity",
                  "value": {
                    "customer": {
                      "account": {
                        "address": {
                          "countryCode": "US",
                          "postalCode": "33351",
                          "stateOrRegion": "Florida"
                        },
                        "companyName": "Test INC.",
                        "industry": "Computers and Electronics",
                        "websiteUrl": "https://www.tackle.com"
                      }
                    },
                    "lifeCycle": {
                      "targetCloseDate": "2024-09-18"
                    },
                    "marketing": {
                      "source": "None"
                    },
                    "opportunityType": "Net New Business",
                    "opportunityTeam": [
                      {
                        "email": "tc@tackle.io",
                        "firstName": "Timothy",
                        "lastName": "Cazu",
                        "businessTitle": "PartnerAccountManager"
                      }
                    ],
                    "primaryNeedsFromAws": [
                      "Co-Sell - Deal Support",
                      "Co-Sell - Pricing Assistance"
                    ],
                    "project": {
                      "additionalComments": "a random text",
                      "competitorName": "",
                      "customerBusinessProblem": "An example business problem that needs solving",
                      "customerUseCase": "AI Machine Learning and Analytics",
                      "deliveryModels": [
                        "SaaS or PaaS"
                      ],
                      "expectedCustomerSpend": [
                        {
                          "amount": "25000",
                          "currencyCode": "USD",
                          "targetCompany": "Example INC.",
                          "frequency": "Monthly"
                        }
                      ],
                      "salesActivities": [
                        "Initialized discussions with customer",
                        "Customer has shown interest in solution"
                      ],
                      "title": "Test opportunity"
                    },
                    "softwareRevenue": {},
                    "solutions": [
                      "S-0014870"
                    ],
                    "awsMarketplaceOffers": [],
                    "awsProducts": [
                      "AmazonBedrock",
                      "AmazonS3"
                    ],
                    "awsSubmission": {
                      "involvementType": "Co-Sell",
                      "visibility": "Full"
                    },
                    "crmId": "006QL00000BahjGYAR"
                  }
                },
                "createDraftOpportunity": {
                  "summary": "Create a draft opportunity",
                  "description": "To create a draft opportunity, you will need to include the `createDraftOpportunity` tackle-operation-id in the header.",
                  "value": {
                    "customer": {
                      "account": {
                        "address": {
                          "countryCode": "US",
                          "postalCode": "33351",
                          "stateOrRegion": "Florida"
                        },
                        "companyName": "Test INC.",
                        "industry": "Computers and Electronics",
                        "websiteUrl": "https://www.tackle.com"
                      }
                    },
                    "lifeCycle": {
                      "targetCloseDate": "2024-09-18"
                    },
                    "marketing": {
                      "source": "None"
                    },
                    "opportunityType": "Net New Business",
                    "opportunityTeam": [
                      {
                        "email": "tc@tackle.io",
                        "firstName": "Timothy",
                        "lastName": "Cazu",
                        "businessTitle": "PartnerAccountManager"
                      }
                    ],
                    "primaryNeedsFromAws": [
                      "Co-Sell - Deal Support",
                      "Co-Sell - Pricing Assistance"
                    ],
                    "project": {
                      "additionalComments": "a random text",
                      "competitorName": "",
                      "customerBusinessProblem": "An example business problem that needs solving",
                      "customerUseCase": "AI Machine Learning and Analytics",
                      "deliveryModels": [
                        "SaaS or PaaS"
                      ],
                      "expectedCustomerSpend": [
                        {
                          "amount": "25000",
                          "currencyCode": "USD",
                          "targetCompany": "Example INC.",
                          "frequency": "Monthly"
                        }
                      ],
                      "salesActivities": [
                        "Initialized discussions with customer",
                        "Customer has shown interest in solution"
                      ],
                      "title": "Test opportunity"
                    },
                    "softwareRevenue": {},
                    "solutions": [
                      "S-0014870"
                    ],
                    "awsMarketplaceOffers": [],
                    "awsProducts": [
                      "AmazonBedrock"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted. The create-opportunity request has been queued for asynchronous processing\nin AWS Partner Central. The returned `id` is the Tackle identifier that can be used\nimmediately with `getOpportunity` and `updateOpportunity`; the cloud-side identifier\n(`cloudProviderId`) becomes available once the request reaches AWS.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The Tackle identifier for the opportunity."
                    }
                  }
                },
                "example": {
                  "id": "tackle-cosell-2jhD8b41CurTOqEsG2Soinublv3"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/opportunities/{opportunity_id}": {
      "get": {
        "operationId": "getOpportunity",
        "summary": "Get a co-sell opportunity",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/opportunity_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. When the cloud-side payload is unavailable for the opportunity (for example,\nimmediately after `createOpportunity` returns 202 but before AWS Partner Central\nhas populated the cloud-side record), the response may contain only `metadata` and\nomit `awsOpportunitySummary`, `customer`, `lifeCycle`, and the other AWS-derived\nfields. Clients should treat fields outside `metadata` as optional.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpportunityResponse"
                },
                "examples": {
                  "getOpportunity": {
                    "summary": "Get Opportunity",
                    "description": "You can retrieve the opportunity information by providing the unique identifier for the opportunity.",
                    "value": {
                      "nationalSecurity": "No",
                      "catalog": "Sandbox",
                      "createdDate": "2024-08-19T15:30:20Z",
                      "id": "O1234567",
                      "customer": {
                        "account": {
                          "companyName": "Test INC.",
                          "websiteUrl": "https://www.tackle.com",
                          "industry": "Computers and Electronics",
                          "address": {
                            "countryCode": "US",
                            "postalCode": "33351",
                            "stateOrRegion": "Florida"
                          }
                        },
                        "contacts": [
                          {
                            "email": "ll@example.com",
                            "firstName": "Luis",
                            "lastName": "Lora",
                            "businessTitle": "CEO"
                          }
                        ]
                      },
                      "opportunityTeam": [
                        {
                          "email": "vv@example.com",
                          "firstName": "Victor",
                          "lastName": "Vargas",
                          "businessTitle": "Alliance Leader"
                        }
                      ],
                      "lastModifiedDate": "2024-08-19T16:00:08Z",
                      "opportunityType": "Net New Business",
                      "source": "Outbound",
                      "lifeCycle": {
                        "reviewStatus": "Submitted",
                        "stage": "Prospect",
                        "targetCloseDate": "2024-09-18"
                      },
                      "marketing": {
                        "source": "None"
                      },
                      "partnerOpportunityIdentifier": "tackle-cosell-2ksnzr4Dy2NuUubXB1XyVigr2ut",
                      "primaryNeedsFromAws": [
                        "Co-Sell - Pricing Assistance",
                        "Co-Sell - Deal Support"
                      ],
                      "solutions": [
                        "S-0014870"
                      ],
                      "awsProducts": [
                        "AmazonBedrock",
                        "AmazonS3"
                      ],
                      "project": {
                        "additionalComments": "a random text",
                        "customerBusinessProblem": "An example business problem that needs solving",
                        "customerUseCase": "AI Machine Learning and Analytics",
                        "deliveryModels": [
                          "SaaS or PaaS"
                        ],
                        "expectedCustomerSpend": [
                          {
                            "amount": "98765",
                            "currencyCode": "USD",
                            "frequency": "Monthly",
                            "targetCompany": "Example INC."
                          }
                        ],
                        "salesActivities": [
                          "Initialized discussions with customer",
                          "Customer has shown interest in solution"
                        ],
                        "title": "Test opportunity"
                      },
                      "awsOpportunitySummary": {
                        "catalog": "Sandbox",
                        "customer": {
                          "contacts": [
                            {
                              "email": "xyz@example.com",
                              "firstName": "John",
                              "lastName": "Doe"
                            }
                          ]
                        },
                        "insights": {
                          "engagementScore": "High"
                        },
                        "involvementType": "Co-Sell",
                        "involvementTypeChangeReason": "Expansion Opportunity",
                        "lifeCycle": {
                          "stage": "Prospect",
                          "targetCloseDate": "2024-09-18"
                        },
                        "opportunityTeam": [
                          {
                            "email": "aa@aws.com",
                            "firstName": "Aaron",
                            "lastName": "Arc",
                            "businessTitle": "PSM"
                          }
                        ],
                        "origin": "Partner Referral",
                        "project": {
                          "expectedCustomerSpend": [
                            {
                              "amount": "98765",
                              "currencyCode": "USD",
                              "frequency": "Monthly",
                              "targetCompany": "Example INC."
                            }
                          ]
                        },
                        "relatedEntityIds": {
                          "awsProducts": [
                            "AmazonBedrock",
                            "AmazonS3"
                          ],
                          "solutions": [
                            "S-0014870"
                          ]
                        },
                        "visibility": "Full"
                      },
                      "metadata": {
                        "id": "tackle-cosell-2ksnzr4Dy2NuUubXB1XyVigr2ut",
                        "companyName": "Test INC.",
                        "createdDate": "2024-08-19T15:30:20Z",
                        "lastModifiedDate": "2024-08-19T15:30:20Z",
                        "crmId": "006QL00000BahjGYAR",
                        "crmOrgId": "00D5g000004uvWXYZ",
                        "hasCloudErrors": false,
                        "hasSalesforceErrors": false
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "updateOpportunity",
        "summary": "Update a co-sell opportunity",
        "description": "Queues a partial update against AWS Partner Central. The exact behavior depends on\nthe value of the `tackle-operation-id` header.\n\n- Production cloud operations: `updateOpportunity` (default), `updateDraftOpportunity`,\n  `updateStartEngagementOpportunity`, `startEngagement`, `closeLostOpportunity`,\n  `launchOpportunity`, `updateOpportunityCRMID`.\n- Test-environment-only: `acceptOpportunity`, `rejectOpportunity`. These simulate\n  AWS-side responses to an incoming engagement invitation/opportunity and are routable\n  only for vendor accounts provisioned for use in a test environment. Production vendor\n  accounts that send one of these operation IDs receive `400 Bad Request` with the\n  message `the requested operation is only supported in test or demo environments.`\n\nThe success response is `202 Accepted` with an empty body; poll `getOpportunity` or\n`listOpportunityEvents` to observe the outcome of the queued request.",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/opportunity_id"
          },
          {
            "in": "header",
            "name": "tackle-operation-id",
            "schema": {
              "type": "string",
              "enum": [
                "updateOpportunity",
                "updateDraftOpportunity",
                "updateStartEngagementOpportunity",
                "startEngagement",
                "closeLostOpportunity",
                "launchOpportunity",
                "updateOpportunityCRMID",
                "acceptOpportunity",
                "rejectOpportunity"
              ],
              "description": "Selects the operation to perform. The values `acceptOpportunity` and\n`rejectOpportunity` are test-environment-only and return `400 Bad Request`\nfor production vendors with the message\n`the requested operation is only supported in test or demo environments.`"
            },
            "required": true,
            "example": "updateOpportunity"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpportunityInput"
              },
              "examples": {
                "updateOpportunity": {
                  "summary": "Update the opportunity",
                  "description": "You will likely want to update the opportunity information at some point during the process, to do so you will need to include the `updateOpportunity` operation ID in the header.",
                  "value": {
                    "project": {
                      "title": "New Title",
                      "expectedCustomerSpend": [
                        {
                          "currencyCode": "USD",
                          "amount": "9999.99",
                          "frequency": "Monthly",
                          "targetCompany": "Example INC."
                        }
                      ]
                    }
                  }
                },
                "updateStartEngagementOpportunity": {
                  "summary": "Update and start engagement for the opportunity",
                  "description": "You will likely want to update and start engaging a draft opportunity at some point during the process, to do so you will need to include the `updateStartEngagementOpportunity` tackle-operation-id in the header.",
                  "value": {
                    "project": {
                      "title": "New Title",
                      "expectedCustomerSpend": [
                        {
                          "currencyCode": "USD",
                          "amount": "9999.99",
                          "frequency": "Monthly",
                          "targetCompany": "Example INC."
                        }
                      ],
                      "awsSubmission": {
                        "involvementType": "Co-Sell",
                        "visibility": "Full"
                      }
                    }
                  }
                },
                "startEngagement": {
                  "summary": "Start engagement for a draft opportunity",
                  "description": "When you are ready to start engaging with AWS, you will need to include the `startEngagement` operation ID in the header.",
                  "value": {
                    "awsSubmission": {
                      "involvementType": "Co-Sell",
                      "visibility": "Full"
                    }
                  }
                },
                "closeLostOpportunity": {
                  "summary": "Close a lost opportunity",
                  "description": "If the opportunity is no longer viable, you can close it as lost. To do so, you will need to include the `closeLostOpportunity` operation ID in the header.",
                  "value": {
                    "lifeCycle": {
                      "closedLostReason": "Price"
                    },
                    "project": {
                      "additionalComments": "No too much comments"
                    }
                  }
                },
                "launchOpportunity": {
                  "summary": "Launch the opportunity",
                  "description": "When the opportunity is ready to be launched, you will need to include the `launchOpportunity` operation ID in the header.",
                  "value": {
                    "lifeCycle": {
                      "targetCloseDate": "2024-09-18"
                    },
                    "softwareRevenue": {
                      "effectiveDate": "2024-10-01",
                      "expirationDate": "2025-01-01",
                      "deliveryModel": "Pay-as-you-go",
                      "value": {
                        "amount": "22222",
                        "currencyCode": "USD"
                      }
                    },
                    "solutions": [
                      "S-0014870"
                    ],
                    "awsProducts": [
                      "AmazonBedrock"
                    ],
                    "awsMarketplaceOffers": [
                      "offer-123456"
                    ]
                  }
                },
                "updateOpportunityCRMID": {
                  "summary": "Sets the crmID for the opportunity and a linked invitation if it exists",
                  "description": "A user can set a crmID on an opportunity after the user created the opportunity. This is useful when the user wants to link the opportunity to a CRM record (e.g. Salesforce opportunity record).",
                  "value": {
                    "crmId": "006QL00001BahjGYAR"
                  }
                },
                "acceptOpportunity": {
                  "summary": "Accept an incoming opportunity (test-environment-only)",
                  "description": "Test-environment-only. Simulates AWS accepting an incoming opportunity\nso that downstream workflows can be exercised without sending the\nrequest to AWS Partner Central. The request body is ignored. Production\nvendors that send `acceptOpportunity` receive `400 Bad Request` with the\nmessage `the requested operation is only supported in test or demo environments.`",
                  "value": {}
                },
                "rejectOpportunity": {
                  "summary": "Reject an incoming opportunity (test-environment-only)",
                  "description": "Test-environment-only. Simulates AWS rejecting an incoming opportunity\nso that downstream workflows can be exercised without sending the\nrequest to AWS Partner Central. The request body is ignored. Production\nvendors that send `rejectOpportunity` receive `400 Bad Request` with the\nmessage `the requested operation is only supported in test or demo environments.`",
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted. The update request has been queued for asynchronous processing in AWS\nPartner Central. The response body is empty; poll `getOpportunity` or\n`listOpportunityEvents` to observe the result of the queued request."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/opportunities/{opportunity_id}/events": {
      "get": {
        "operationId": "listOpportunityEvents",
        "summary": "List opportunity events",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/opportunity_id"
          },
          {
            "in": "query",
            "name": "next",
            "description": "Cursor token used to resume a paginated history query. When supplied, the\nquery continues from where a previous request left off.\n\n**Note**: this endpoint does not currently emit `next` cursors on responses\n(see the `next` field of the response schema below), so in practice clients\nhave no way to obtain a cursor from the API itself today. This parameter is\ntherefore rarely useful unless a cursor value is already known from another\nsource.",
            "schema": {
              "type": "string",
              "example": "oe#tackle-cosell-2lsw6vxN7rXsBer0hXABCDEFGH#2lsw6vxN7rXsBer0hXABCDEFGH"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListOpportunityEvents"
                      }
                    },
                    "next": {
                      "type": "string",
                      "description": "Reserved cursor for the next page of history events.\n**This endpoint does not currently emit this field** \u2014 no\ncursor is produced today, so the field is always omitted\nfrom the JSON response. Treat this field as reserved for\na future paginated response; do not rely on its absence\nto detect end-of-data today, and do not depend on it\nappearing in responses."
                    }
                  }
                },
                "examples": {
                  "listOpportunityEvents": {
                    "summary": "List Opportunity Events for createOpportunity",
                    "value": {
                      "events": [
                        {
                          "operation": "cloudUpdateEvent",
                          "eventID": "2lsw8uaIoeMT72IRnlRz19gKxXY",
                          "timestamp": "2024-09-10T15:25:35Z",
                          "rawRequest": {
                            "AccessControls": {
                              "NationalSecurity": "No",
                              "Owner": {
                                "Email": "aws-partner@tackle.io.invalid",
                                "FirstName": "Tackle",
                                "LastName": "BD Team"
                              },
                              "Visibility": ""
                            },
                            "AwsOpportunityTeam": [
                              {
                                "BusinessTitle": "WWPSPDM",
                                "Email": "jane.doe@example.com",
                                "FirstName": "Jane",
                                "LastName": "Doe"
                              },
                              {
                                "BusinessTitle": "PDM",
                                "Email": "kress.franzen@example.com",
                                "FirstName": "Kress",
                                "LastName": "Franzen"
                              }
                            ],
                            "AwsSalesLifeCycle": null,
                            "Catalog": "Sandbox",
                            "CreatedDate": "2024-09-10T15:25:23Z",
                            "Customer": {
                              "Account": {
                                "Address": {
                                  "City": null,
                                  "CountryCode": "US",
                                  "PostalCode": "33351",
                                  "StateOrRegion": "Florida",
                                  "StreetAddress": null
                                },
                                "AwsAccountId": null,
                                "CompanyName": "Example INC.",
                                "Duns": null,
                                "Industry": "Computers and Electronics",
                                "OtherIndustry": null,
                                "WebsiteUrl": "https://www.tackle.com"
                              },
                              "Contact": null
                            },
                            "Id": "O1234567",
                            "Insights": null,
                            "LastModifiedDate": "2024-09-10T15:25:29Z",
                            "LifeCycle": {
                              "ClosedLostReason": "",
                              "NextSteps": null,
                              "NextStepsHistory": null,
                              "ReviewComments": null,
                              "ReviewStatus": "Submitted",
                              "ReviewStatusReason": null,
                              "Stage": "Prospect",
                              "TargetCloseDate": "2024-09-18"
                            },
                            "Marketing": {
                              "AwsFundingUsed": "",
                              "CampaignName": null,
                              "Channels": null,
                              "Source": "None",
                              "UseCases": null
                            },
                            "OpportunityType": "Net New Business",
                            "Origin": "Partner Referral",
                            "PartnerOpportunityIdentifier": "tackle-cosell-2lsw6vxN7rXsBer0wxyz12sW2J",
                            "OpportunityTeam": [],
                            "PrimaryNeedsFromAws": [
                              "Co-Sell - Deal Support"
                            ],
                            "Project": {
                              "AdditionalComments": "a random text",
                              "ApnPrograms": null,
                              "CompetitorName": "",
                              "CustomerBusinessProblem": "Trying to get a better solution",
                              "CustomerUseCase": "AI Machine Learning and Analytics",
                              "DeliveryModels": [
                                "SaaS or PaaS"
                              ],
                              "EngagementTypes": null,
                              "ExpectedCustomerSpend": [
                                {
                                  "Amount": "25000",
                                  "CurrencyCode": "USD",
                                  "frequency": "Monthly",
                                  "targetCompany": "example.com"
                                }
                              ],
                              "OtherCompetitorNames": null,
                              "OtherSolutionDescription": null,
                              "RelatedOpportunityIdentifier": null,
                              "SalesActivities": [
                                "Initialized discussions with customer",
                                "Customer has shown interest in solution"
                              ],
                              "Title": "Example Opportunity"
                            },
                            "RelatedEntityIdentifiers": {
                              "AwsMarketplaceOffers": null,
                              "AwsProducts": [],
                              "EngagementInvitations": null,
                              "Solutions": [
                                "S-0014870"
                              ]
                            },
                            "ResultMetadata": {},
                            "SoftwareRevenue": null
                          }
                        },
                        {
                          "operation": "createOpportunity",
                          "eventID": "2lsw6raV18Ymy8DBK0ExX5LBP21",
                          "timestamp": "2024-09-10T15:25:29Z",
                          "cloudResponses": [
                            {
                              "requestID": "example-00123456789ABCDEFGHIJKL",
                              "success": true,
                              "timestamp": "2024-09-10T15:25:24Z",
                              "response": {
                                "Identifier": "O1234567",
                                "LastModifiedDate": "2024-09-10T15:25:23Z",
                                "PartnerOpportunityIdentifier": "tackle-cosell-2lsw6vxN7rXsBer0wxyz12sW2J",
                                "ResultMetadata": {}
                              }
                            },
                            {
                              "requestID": "example-01123456789ABCDEFGHIJKL",
                              "success": true,
                              "timestamp": "2024-09-10T15:25:26Z",
                              "response": {
                                "ResultMetadata": {}
                              }
                            },
                            {
                              "requestID": "example-02123456789ABCDEFGHIJKL",
                              "success": true,
                              "timestamp": "2024-09-10T15:25:29Z",
                              "response": {
                                "ResultMetadata": {}
                              }
                            }
                          ],
                          "cloudRequests": [
                            {
                              "requestID": "example-00123456789ABCDEFGHIJKL",
                              "operation": "createOpportunity",
                              "timestamp": "2024-09-10T15:25:20Z",
                              "request": {
                                "AccessControls": null,
                                "Catalog": "Sandbox",
                                "ClientToken": null,
                                "Customer": {
                                  "Account": {
                                    "Address": {
                                      "City": null,
                                      "CountryCode": "US",
                                      "PostalCode": "33351",
                                      "StateOrRegion": "Florida",
                                      "StreetAddress": null
                                    },
                                    "AwsAccountId": null,
                                    "CompanyName": "Example INC.",
                                    "Duns": null,
                                    "Industry": "Computers and Electronics",
                                    "OtherIndustry": null,
                                    "WebsiteUrl": "https://www.tackle.com"
                                  },
                                  "Contact": null
                                },
                                "LifeCycle": {
                                  "ClosedLostReason": "",
                                  "NextSteps": null,
                                  "NextStepsHistory": null,
                                  "ReviewComments": null,
                                  "ReviewStatus": "",
                                  "ReviewStatusReason": null,
                                  "Stage": "",
                                  "TargetCloseDate": "2024-09-18"
                                },
                                "Marketing": {
                                  "AwsFundingUsed": "",
                                  "CampaignName": null,
                                  "Channels": null,
                                  "Source": "None",
                                  "UseCases": null
                                },
                                "OpportunityType": "Net New Business",
                                "Origin": "",
                                "PartnerOpportunityIdentifier": "tackle-cosell-2lsw6vxN7rXsBer0wxyz12sW2J",
                                "OpportunityTeam": null,
                                "PrimaryNeedsFromAws": [
                                  "Co-Sell - Deal Support"
                                ],
                                "Project": {
                                  "AdditionalComments": "a random text",
                                  "ApnPrograms": null,
                                  "CompetitorName": "",
                                  "CustomerBusinessProblem": "Trying to get a better solution",
                                  "CustomerUseCase": "AI Machine Learning and Analytics",
                                  "DeliveryModels": [
                                    "SaaS or PaaS"
                                  ],
                                  "EngagementTypes": null,
                                  "ExpectedCustomerSpend": [
                                    {
                                      "Amount": "25000",
                                      "CurrencyCode": "USD",
                                      "frequency": "Monthly",
                                      "targetCompany": "example.com"
                                    }
                                  ],
                                  "OtherCompetitorNames": null,
                                  "OtherSolutionDescription": null,
                                  "RelatedOpportunityIdentifier": null,
                                  "SalesActivities": [
                                    "Initialized discussions with customer",
                                    "Customer has shown interest in solution"
                                  ],
                                  "Title": "Example Opportunity"
                                },
                                "SoftwareRevenue": {
                                  "DeliveryModel": "",
                                  "EffectiveDate": null,
                                  "ExpirationDate": null,
                                  "Value": null
                                }
                              }
                            },
                            {
                              "requestID": "example-01123456789ABCDEFGHIJKL",
                              "operation": "associateSolutions",
                              "timestamp": "2024-09-10T15:25:24Z",
                              "request": {
                                "Catalog": "Sandbox",
                                "OpportunityIdentifier": "O1234567",
                                "RelatedEntityIdentifier": "S-1234567",
                                "RelatedEntityType": "Solutions"
                              }
                            },
                            {
                              "requestID": "example-02123456789ABCDEFGHIJKL",
                              "operation": "startEngagement",
                              "timestamp": "2024-09-10T15:25:26Z",
                              "request": {
                                "AwsEngagement": "",
                                "Catalog": "Sandbox",
                                "Identifier": "O1234567"
                              }
                            }
                          ],
                          "rawRequest": {
                            "accessControls": null,
                            "awsMarketplaceOffers": [],
                            "awsProducts": [],
                            "customer": {
                              "account": {
                                "address": {
                                  "countryCode": "US",
                                  "postalCode": "33351",
                                  "stateOrRegion": "Florida"
                                },
                                "awsAccountId": null,
                                "companyName": "Example INC.",
                                "industry": "Computers and Electronics",
                                "otherIndustry": null,
                                "websiteUrl": "https://www.tackle.com"
                              },
                              "contact": null
                            },
                            "lifeCycle": {
                              "targetCloseDate": "2024-09-18"
                            },
                            "marketing": {
                              "source": "None"
                            },
                            "opportunityType": "Net New Business",
                            "opportunityTeam": [
                              {
                                "businessTitle": "PartnerAccountManager",
                                "email": "tc@tackle.io",
                                "firstName": "Timothy",
                                "lastName": "Cazu"
                              }
                            ],
                            "primaryNeedsFromAws": [
                              "Co-Sell - Deal Support"
                            ],
                            "project": {
                              "additionalComments": "a random text",
                              "apnPrograms": null,
                              "competitorName": "",
                              "customerBusinessProblem": "Trying to get a better solution",
                              "customerUseCase": "AI Machine Learning and Analytics",
                              "deliveryModels": [
                                "SaaS or PaaS"
                              ],
                              "expectedCustomerSpend": [
                                {
                                  "amount": "25000",
                                  "currencyCode": "USD",
                                  "frequency": "Monthly",
                                  "targetCompany": "example.com"
                                }
                              ],
                              "otherCompetitorNames": null,
                              "otherSolutionDescription": null,
                              "relatedOpportunityIdentifier": null,
                              "salesActivities": [
                                "Initialized discussions with customer",
                                "Customer has shown interest in solution"
                              ],
                              "title": "Example opportunity"
                            },
                            "softwareRevenue": {
                              "deliveryModel": null
                            },
                            "solutions": [
                              "S-1234567"
                            ]
                          },
                          "activityDetails": {
                            "displayText": "Opportunity created",
                            "id": "usr-01HXY12345",
                            "type": "user",
                            "email": "john.doe@example.com",
                            "givenName": "John",
                            "familyName": "Doe",
                            "pictureUrl": "https://tackle.io/"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/invitations/{invitation_id}/events": {
      "get": {
        "operationId": "listInvitationEvents",
        "summary": "List invitation events",
        "tags": [
          "Invitations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/invitation_id"
          },
          {
            "in": "query",
            "name": "next",
            "description": "Cursor token used to resume a paginated history query. When supplied, the\nquery continues from where a previous request left off.\n\n**Note**: this endpoint does not currently emit `next` cursors on responses\n(see the `next` field of the response schema below), so in practice clients\nhave no way to obtain a cursor from the API itself today. This parameter is\ntherefore rarely useful unless a cursor value is already known from another\nsource.",
            "schema": {
              "type": "string",
              "example": "oie#tackle-cosell-2lsw6vxN7rXsBer0hXABCDEFGH#2lsw6vxN7rXsBer0hXABCDEFGH"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ListInvitationEvents"
                      }
                    },
                    "next": {
                      "type": "string",
                      "description": "Reserved cursor for the next page of history events.\n**This endpoint does not currently emit this field** \u2014 no\ncursor is produced today, so the field is always omitted\nfrom the JSON response. Treat this field as reserved for\na future paginated response; do not rely on its absence\nto detect end-of-data today, and do not depend on it\nappearing in responses."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/invitations": {
      "get": {
        "operationId": "listInvitations",
        "summary": "List co-sell invitations",
        "tags": [
          "Invitations"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "A search query to filter the invitations.",
            "schema": {
              "type": "string",
              "example": "Example"
            }
          },
          {
            "name": "cloudStatus",
            "in": "query",
            "description": "Filter invitations by their AWS Partner Central status. Accepts multiple\nvalues; results match any of the supplied statuses. Common values include\n`PENDING`, `ACCEPTED`, `REJECTED`, and `EXPIRED` \u2014 see the `status` field\non `InvitationResponse` for the full list of values returned by the API.",
            "schema": {
              "type": "string",
              "example": "ACCEPTED"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of invitations to return per page (minimum 1, maximum 100, default 10).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10,
              "example": 10
            }
          },
          {
            "name": "crmId",
            "in": "query",
            "description": "Filter by the Salesforce CRM identifier of the linked opportunity record.\nFor Salesforce, both 15- and 18-character IDs are accepted. To filter by\na HubSpot Deal ID instead, see the `hubspotCrmId` field on\n`OpportunityMetadata`.",
            "schema": {
              "type": "string",
              "example": "006QL00000BahjGYAR"
            }
          },
          {
            "name": "opportunityId",
            "in": "query",
            "description": "Filter invitations by the AWS Partner Central opportunity identifier\n(for example, `O1234123`) of the opportunity an invitation is linked to.\nThis is the cloud-provider identifier, not the Tackle identifier \u2014 to\nlook up an invitation by Tackle ID, use the path-level `getInvitation`\noperation instead.",
            "schema": {
              "type": "string",
              "example": "O1234123"
            }
          },
          {
            "name": "origin",
            "in": "query",
            "description": "Filter invitations by who initiated them. Use `aws` to return only AWS-led\ninvitations (AWS reaching out to your account about an opportunity), and\n`partner` to return only partner-led invitations (your account reaching\nout to AWS).",
            "schema": {
              "type": "string",
              "example": "aws"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "The starting index of the invitations to return.",
            "schema": {
              "type": "integer",
              "example": 11
            }
          },
          {
            "name": "startExpirationDate",
            "in": "query",
            "description": "Used to filter invitations by specifying the earliest expiration date. Invitations expiring on or after this date will be included in the results.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-08-01"
            }
          },
          {
            "name": "endExpirationDate",
            "in": "query",
            "description": "Used to filter invitations by specifying the latest expiration date. Invitations expiring on or before this date will be included in the results.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-08-01"
            }
          },
          {
            "name": "startCloudCreated",
            "in": "query",
            "description": "Used to filter invitations by specifying the earliest creation date. Invitations created on or after this date will be included in the results.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-08-01"
            }
          },
          {
            "name": "endCloudCreated",
            "in": "query",
            "description": "Used to filter invitations by specifying the latest creation date. Invitations created on or before this date will be included in the results.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-08-01"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "The field to sort the invitations by. Only takes effect when `sortOrder`\nis also supplied; both query parameters must be present together for sorting\nto apply. If only `sortField` is provided, the response uses the default\nordering instead. Note that `cloudProviderID` is case-sensitive: the trailing\n`ID` is uppercase, and sending `cloudProviderId` (lowercase `d`) returns\n`400 Bad Request: Invalid sortField`.",
            "schema": {
              "type": "string",
              "enum": [
                "cloudProviderID",
                "cloudStatus",
                "cloudCreated",
                "targetCompletionDate",
                "expirationDate",
                "companyName",
                "title",
                "unifiedCreatedDate"
              ]
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort direction. Only takes effect when `sortField` is also supplied \u2014 both\nquery parameters must be present together. If only `sortOrder` is provided\n(without `sortField`), the response uses the underlying default ordering\ninstead of any sort. There is no implicit ascending default applied when\nonly one of the two parameters is sent.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "hasCloudErrors",
            "in": "query",
            "description": "Filter invitations by their AWS Partner Central error state. Set to\n`true` to return only invitations whose most recent AWS Partner Central\nrequest failed; set to `false` to return only invitations with no\ncloud-side errors. Omit to disable the filter. Inspect\n`listInvitationEvents` for the matching invitation to see the error\ndetail.",
            "schema": {
              "type": "boolean",
              "example": false
            }
          },
          {
            "name": "hasCrmId",
            "in": "query",
            "description": "Filter invitations by whether a CRM identifier is linked. Set to `true`\nto return only invitations that have a `crmId` (Salesforce) or\n`hubspotCrmId` value populated; set to `false` to return only\ninvitations with no CRM identifier linked. Omit to disable the filter.",
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "hasSalesforceErrors",
            "in": "query",
            "description": "Filter invitations by their Salesforce sync state. Set to `true` to\nreturn only invitations whose most recent Salesforce sync attempt\nfailed; set to `false` to return only invitations with no Salesforce\nsync errors. Omit to disable the filter. The error message itself is\navailable on the matching invitation in the `salesforceSyncError` field.",
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "hasAnyError",
            "in": "query",
            "description": "Filters invitations by their error state.\n\n- `true` returns only invitations that currently have at least one\n  cloud-side error or Salesforce-sync error.\n- `false` returns only invitations that have no cloud-side or\n  Salesforce-sync errors.\n- Omit the parameter to disable this filter entirely.\n\nSee `hasCloudErrors` and `hasSalesforceErrors` to filter on each error\nsource independently.",
            "schema": {
              "type": "boolean",
              "example": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInvitationsResponse"
                },
                "examples": {
                  "list": {
                    "summary": "List Invitations",
                    "value": {
                      "invitations": [
                        {
                          "id": "tackle-cosell-2oCgmaMiJ35vQefn2O7x1zRQcqL",
                          "cloudProviderId": "O456789",
                          "cloudStatus": "Approved",
                          "cloudCreated": "2024-10-30T04:33:07Z",
                          "created": "2024-10-31T12:52:11Z",
                          "crmId": "000XYZ",
                          "companyName": "Ally Segal",
                          "title": "Project Title",
                          "hasCloudErrors": false,
                          "unifiedCreatedDate": "2024-10-30T04:33:07Z"
                        },
                        {
                          "id": "tackle-cosell-2oCgmaMiJ35vQefn2O7x1zRQcqL",
                          "cloudProviderId": "O4549835",
                          "cloudStatus": "EXPIRED",
                          "cloudCreated": "2024-05-30T04:33:07Z",
                          "created": "2024-05-20T12:52:11Z",
                          "crmId": "000XYZ",
                          "companyName": "Ally Segal",
                          "title": "Another Title",
                          "opportunityID": "O123412",
                          "origin": "aws",
                          "senderCompanyName": "AWS",
                          "hasCloudErrors": false,
                          "unifiedCreatedDate": "2024-05-30T04:33:07Z"
                        }
                      ],
                      "total": 14,
                      "currentPageCount": 2,
                      "isNextPage": true,
                      "nextIndex": 2
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "createInvitation",
        "summary": "Create a co-sell invitation (test-environment-only)",
        "description": "Creates a simulated invitation for exercising invitation workflows in a\ntest environment. This endpoint is only available to vendor accounts\nprovisioned for use in a test environment; production vendor accounts\nreceive `403 Forbidden`.",
        "tags": [
          "Invitations"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "tackle-operation-id",
            "schema": {
              "type": "string",
              "enum": [
                "createInvitation"
              ],
              "description": "Reserved for forward compatibility. This header is not currently inspected\nfor `createInvitation`; the value is ignored at the API gateway today and any\nvalue is accepted. Clients are encouraged to send `createInvitation` so that\nfuture server-side validation can be adopted without a breaking change."
            },
            "required": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvitationRequest"
              },
              "examples": {
                "createInvitation": {
                  "summary": "Create a new invitation",
                  "description": "Create a new invitation to use in test environments",
                  "value": {
                    "engagementTitle": "New Collaboration Opportunity",
                    "expirationDate": "2025-12-22T17:00:00Z",
                    "invitationDate": "2025-04-08T14:30:00Z",
                    "payload": {
                      "value": {
                        "receiverResponsibilities": [
                          "SoftwarePartner"
                        ],
                        "customer": {
                          "companyName": "Acme Corporation",
                          "countryCode": "US",
                          "industry": "Computers and Electronics",
                          "websiteUrl": "www.acmecorp.com"
                        },
                        "project": {
                          "businessProblem": "Need to modernize legacy systems",
                          "targetCompletionDate": "2024-11-28T17:00:00Z",
                          "title": "Cloud Migration Project",
                          "expectedCustomerSpend": [
                            {
                              "amount": "25000",
                              "currencyCode": "USD",
                              "frequency": "Monthly",
                              "targetCompany": "Acme Corporation"
                            }
                          ]
                        },
                        "senderContacts": [
                          {
                            "email": "john.smith@example.com",
                            "businessTitle": "AWSAccountOwner",
                            "firstName": "John",
                            "lastName": "Smith",
                            "phone": "123-456-7890"
                          }
                        ]
                      }
                    },
                    "payloadType": "OpportunityInvitation",
                    "senderAwsAccountID": "123456789098"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invitationID": {
                      "type": "string",
                      "description": "The Tackle ID for the created invitation. Note: this field is\nemitted as `invitationID` (capital `ID`) by `createInvitation`,\nwhile `getInvitation` returns the same logical value as\n`invitationId` (lowercase `d`). Consumers should handle both."
                    },
                    "id": {
                      "type": "string",
                      "description": "The simulated AWS engagement-invitation identifier assigned in the test environment."
                    },
                    "arn": {
                      "type": "string",
                      "description": "The simulated Amazon Resource Name (ARN) for the engagement invitation in the test environment."
                    }
                  }
                },
                "example": {
                  "invitationID": "tackle-invitation-2sKlF3xSRGx8M724Oy3fprAX51q",
                  "id": "engi-abc123def456",
                  "arn": "arn:aws:partnercentral:us-east-1:aws:catalog/Sandbox/engagement-invitation/engi-abc123def456"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden. Production vendors that call `createInvitation` receive this\nresponse. Unlike most error responses on this API, this 403 response is\nreturned as plain text (`Forbidden`) with `Content-Type: text/plain` rather\nthan the `Error` JSON envelope used elsewhere. Clients should not attempt\nto JSON-decode this 403 body.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Forbidden"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/invitations/{invitation_id}": {
      "get": {
        "operationId": "getInvitation",
        "summary": "Get a co-sell invitation",
        "tags": [
          "Invitations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "invitation_id",
            "required": true,
            "description": "The unique identifier for the invitation",
            "schema": {
              "type": "string",
              "example": "tackle-invitation-2kvfkeGp015GC1abcUHB2xChqOG"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvitationResponse"
                },
                "examples": {
                  "getInvitation": {
                    "summary": "Get Invitation",
                    "description": "You can retrieve the invitation information by providing the unique identifier for the invitation.",
                    "value": {
                      "invitationId": "tackle-invitation-2kvfkeGp015GC1abcUHB2xChqOG",
                      "id": "oi-xABCDzzuu",
                      "arn": "arn:aws:partnercentral-selling:us-east-1:aws:AWS/opportunity-engagement-invitation/oi-xABCDzzuu",
                      "engagementTitle": "Example Company",
                      "expirationDate": "2024-01-27T07:00:00Z",
                      "invitationDate": "2024-01-22T22:22:27Z",
                      "payloadType": "OpportunityInvitation",
                      "receiver": {
                        "awsAccountId": "116371111114",
                        "alias": "example.com"
                      },
                      "senderAwsAccountId": "aws",
                      "senderCompanyName": "AWS",
                      "origin": "aws",
                      "status": "PENDING",
                      "opportunityInvitationPayload": {
                        "receiverResponsibilities": [
                          "SoftwarePartner"
                        ],
                        "customer": {
                          "companyName": "SomeOpp D",
                          "websiteUrl": "www.amazon.com",
                          "countryCode": "CA",
                          "industry": "Mining"
                        },
                        "project": {
                          "title": "Cloud Migration Project",
                          "businessProblem": "Customer needs to migrate three legacy datacenter workloads to AWS to reduce operational overhead and improve disaster-recovery posture.",
                          "targetCompletionDate": "2024-08-09",
                          "expectedCustomerSpend": [
                            {
                              "amount": "100",
                              "currencyCode": "USD",
                              "frequency": "Monthly",
                              "targetCompany": "Example.com"
                            }
                          ]
                        },
                        "senderContacts": [
                          {
                            "businessTitle": "WWPSPDM",
                            "email": "acc6-85469@test.cck"
                          },
                          {
                            "businessTitle": "PDM",
                            "email": "pdm-21@test.cck.a1x8a12345amtzpeab",
                            "firstName": "Kress",
                            "lastName": "Franzen"
                          },
                          {
                            "businessTitle": "AWSAccountOwner",
                            "email": "accountowner@amazon.com",
                            "firstName": "accountOwnerName",
                            "lastName": "accountOwnerName"
                          },
                          {
                            "businessTitle": "AWSSalesRep",
                            "email": "awsrep@amazon.com"
                          },
                          {
                            "businessTitle": "PSM",
                            "email": "isv@amazon.com",
                            "firstName": "isv",
                            "lastName": "isv"
                          },
                          {
                            "businessTitle": "ISVSM",
                            "email": "isv@amazon.com",
                            "firstName": "isv",
                            "lastName": "isv"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "updateInvitation",
        "summary": "Update a co-sell invitation",
        "tags": [
          "Invitations"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "invitation_id",
            "required": true,
            "description": "The unique identifier for the invitation",
            "schema": {
              "type": "string",
              "example": "tackle-invitation-2kvfkeGp015GC1abcUHB2xChqOG"
            }
          },
          {
            "in": "header",
            "name": "tackle-operation-id",
            "schema": {
              "type": "string",
              "enum": [
                "acceptInvitation",
                "rejectInvitation"
              ],
              "description": "The unique identifier for the update operation"
            },
            "required": true,
            "example": "acceptInvitation"
          }
        ],
        "requestBody": {
          "description": "Body shape depends on the `tackle-operation-id` header. The body is parsed\ndifferently for each operation: `acceptInvitation` reads only `crmId`, and\n`rejectInvitation` reads only `rejectionReason`. Each property is optional at\nthe schema level and only meaningful for the matching operation; properties\nfor the other operation are ignored.\n\n**Body requirement by operation**:\n\n- For `acceptInvitation`, the request body is fully optional. An empty body,\n  `{}`, or `{\"crmId\": \"...\"}` are all accepted; an empty body skips body\n  parsing entirely.\n- For `rejectInvitation`, the request body must be a present, non-empty JSON\n  object \u2014 at minimum `{}`. An empty (zero-length) body fails to parse and\n  surfaces as a `500 Internal Server Error`, not a `400 Bad Request`. Always\n  send at least `{}` (or include `rejectionReason` to propagate a reason to\n  AWS Partner Central).",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "crmId": {
                    "type": "string",
                    "description": "Salesforce CRM ID for the opportunity that an accepted invitation\nshould be linked to. Optional, and only meaningful when\n`tackle-operation-id` is `acceptInvitation`. If supplied as a\n15-character Salesforce ID, it is converted to the canonical\n18-character form before being persisted and forwarded to AWS\nPartner Central. Ignored on reject-path requests.",
                    "example": "006QL00001BahjGYAR"
                  },
                  "rejectionReason": {
                    "type": "string",
                    "description": "Reason supplied when rejecting an invitation. Optional, and only\nmeaningful when `tackle-operation-id` is `rejectInvitation`. Ignored on\naccept-path requests.",
                    "enum": [
                      "Customer problem unclear",
                      "Next steps unclear",
                      "Unable to support",
                      "Duplicate of Partner Referral",
                      "Renewal opportunity",
                      "Other"
                    ]
                  }
                }
              },
              "examples": {
                "accept": {
                  "summary": "Accept the invitation",
                  "description": "When you are ready to accept the invitation, you will need to include the `acceptInvitation` operation ID in the header. You can also send an optional crmId in the body",
                  "value": {
                    "crmId": "006QL00001BahjGYAR"
                  }
                },
                "reject": {
                  "summary": "Reject the invitation",
                  "description": "If you are unable to accept the invitation, you can reject it. To do so, you will need to include the `rejectInvitation` operation ID in the header.",
                  "value": {
                    "rejectionReason": "Customer problem unclear"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted. The invitation update has been queued for asynchronous processing in AWS\nPartner Central. The response body is empty."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "423": {
            "$ref": "#/components/responses/Locked"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/api/solutions": {
      "get": {
        "operationId": "listSolutions",
        "summary": "List co-sell solutions",
        "description": "Returns the active co-sell solutions registered with AWS Partner Central for the\nauthenticated vendor.\n\nFor vendor accounts provisioned for use in a test environment, this endpoint\nreturns a fixed three-solution fixture; the `q`, `from`, `pageSize`, and\n`all` query parameters are **ignored** for these vendors and the response\nbody is the same fixture set regardless of what the client sends. Production\nvendor accounts receive vendor-specific results that honor every query\nparameter.",
        "tags": [
          "Solutions"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "A search query to filter the solutions.",
            "schema": {
              "type": "string",
              "example": "Example"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "The starting index of the solutions to return.",
            "schema": {
              "type": "integer",
              "example": 10
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of solutions to return per page (minimum 1, maximum 100, default 10).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10,
              "example": 10
            }
          },
          {
            "name": "all",
            "in": "query",
            "description": "Set to `true` to return solutions in any status, including inactive ones.\nDefaults to `false` (only active solutions are returned).",
            "schema": {
              "type": "boolean",
              "example": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSolutionsResponse"
                },
                "examples": {
                  "list": {
                    "summary": "List Solutions",
                    "value": {
                      "solutions": [
                        {
                          "id": "tackle-solution-2lFAiYiiVZZabcdefgh7dPNWXWm",
                          "cloudProviderId": "S-0050456",
                          "name": "Tackle AI",
                          "status": "Active",
                          "category": "Software Product",
                          "created": "2024-08-27T13:32:58Z",
                          "lastSynced": "2024-08-27T13:32:58Z"
                        },
                        {
                          "id": "tackle-solution-2lFAieUdS1PKs6abcdefghbCktS",
                          "cloudProviderId": "S-0050123",
                          "name": "Tackle Cloud Sync",
                          "status": "Active",
                          "category": "Software Product",
                          "created": "2024-08-27T13:32:58Z",
                          "lastSynced": "2024-08-27T13:32:58Z"
                        }
                      ],
                      "total": 5,
                      "currentPageCount": 2,
                      "isNextPage": true,
                      "nextIndex": 2
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "MTM JWT",
        "description": "Tackle machine-to-machine access token sent as `Authorization: Bearer <access_token>`."
      }
    },
    "parameters": {
      "opportunity_id": {
        "name": "opportunity_id",
        "in": "path",
        "required": true,
        "description": "The Tackle identifier for the opportunity (for example, `tackle-cosell-2jhD8b41CurTOqEsG2Soinublv3`).\nThis is the value returned in the `id` field of `listOpportunities` rows and in `metadata.id` on\n`getOpportunity`. The cloud-provider identifier (for example, `O123456`, returned in the response\nbody's top-level `id` field) is **not** accepted here.",
        "schema": {
          "type": "string",
          "example": "tackle-cosell-2jhD8b41CurTOqEsG2Soinublv3"
        }
      },
      "invitation_id": {
        "name": "invitation_id",
        "in": "path",
        "required": true,
        "description": "The Tackle identifier for the invitation (for example,\n`tackle-invitation-2sKlF3xSRGx8M724Oy3fprAX51q`). This is the value returned in the `id`\nfield of `listInvitations` rows and as `invitationId` on `getInvitation`. The AWS engagement\ninvitation identifier (for example, `oi-xABCDzzuu`) is **not** accepted here.",
        "schema": {
          "type": "string",
          "example": "tackle-invitation-2sKlF3xSRGx8M724Oy3fprAX51q"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad Request. The request was malformed or failed validation (for example, an invalid\n`sortField`/`sortOrder` value, an unsupported `tackle-operation-id`, or a request body that\nfails to parse as JSON).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "message": "Invalid sortField"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized. The request did not include valid Tackle MTM bearer credentials, or the\nauthenticated principal could not be resolved."
      },
      "Forbidden": {
        "description": "Forbidden. The authenticated principal is not allowed to perform the requested operation\n(for example, calling `createInvitation` outside of a test environment)."
      },
      "NotFound": {
        "description": "Not Found. No resource exists at the requested path for the authenticated vendor.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "message": "Opportunity not found"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict. The request cannot be applied to the resource in its current state (for example,\nattempting `updateDraftOpportunity` on an opportunity that is no longer in draft state, or\n`createOpportunity` with a `crmId` that already maps to an existing co-sell opportunity).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "message": "Draft opportunity cannot be updated as it is not in draft state."
            }
          }
        }
      },
      "Locked": {
        "description": "Locked. The request was rejected because the vendor is currently in a mid-reset state\n(for example, while the vendor's AWS Partner Central connection is being re-established).\nRetry the request once the vendor's reset has completed.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "message": "Locked"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error. An unexpected error occurred while processing the request. Response\nbodies for 5xx errors may be empty."
      }
    },
    "schemas": {
      "OpportunityResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Opportunity"
          }
        ],
        "type": "object",
        "properties": {
          "nationalSecurity": {
            "type": "string",
            "description": "Whether the opportunity is for a national-security or government\ncustomer that AWS Partner Central treats as restricted. Submit `Yes`\nfor national-security workloads (which routes the opportunity through\nAWS's restricted review path) and `No` otherwise.",
            "enum": [
              "No",
              "Yes"
            ]
          },
          "createdDate": {
            "type": "string"
          },
[...]
