{
  "openapi": "3.0.3",
  "info": {
    "title": "SCIM API",
    "description": "A SCIM (System for Cross-domain Identity Management) 2.0 compliant API for managing users\nthrough Auth0. This API provides endpoints for user management operations following RFC 7644.\n\nThe API supports:\n- User CRUD operations (Create, Read, Update, List)\n- SCIM 2.0 compliant error responses\n- Bearer token authentication\n- Enterprise user extensions\n",
    "version": "2.0.0",
    "contact": {
      "name": "Tackle.io"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://scim.tackle.io",
      "description": "SCIM API Server",
      "variables": {
        "domain": {
          "default": "scim-api.tackle.io",
          "description": "The domain for the SCIM API"
        }
      }
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/scim/v2/Users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List Users",
        "description": "Retrieve a list of users. Supports pagination through startIndex and count parameters.\n",
        "operationId": "getUsers",
        "parameters": [
          {
            "name": "startIndex",
            "in": "query",
            "description": "The 1-based index of the first result in the current set of results",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Maximum number of results to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "SCIM filter expression",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Users retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserListResponse"
                },
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:ListResponse"
                  ],
                  "totalResults": 2,
                  "itemsPerPage": 2,
                  "startIndex": 1,
                  "Resources": [
                    {
                      "schemas": [
                        "urn:ietf:params:scim:schemas:core:2.0:User",
                        "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User"
                      ],
                      "id": "user123",
                      "userName": "john.doe@example.com",
                      "displayName": "John Doe",
                      "active": true,
                      "name": {
                        "givenName": "John",
                        "familyName": "Doe"
                      },
                      "emails": [
                        {
                          "value": "john.doe@example.com",
                          "primary": true,
                          "type": "work"
                        }
                      ],
                      "meta": {
                        "resourceType": "User",
                        "created": "2024-01-15T10:30:00Z",
                        "lastModified": "2024-01-15T10:30:00Z",
                        "location": "https://scim-api.tackle.io/scim/v2/Users/user123"
                      },
                      "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User": {
                        "employeeNumber": "12345",
                        "organization": "Tackle",
                        "division": "Engineering",
                        "department": "Platform",
                        "manager": {
                          "value": "manager456"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimError"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create User",
        "description": "Create a new user. The user will be created in Auth0 SCIM and then have\ntheir metadata updated with organization information.\n",
        "operationId": "createUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/scim+json": {
              "schema": {
                "$ref": "#/components/schemas/UserInput"
              },
              "example": {
                "schemas": [
                  "urn:ietf:params:scim:schemas:core:2.0:User",
                  "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User"
                ],
                "userName": "jane.smith@example.com",
                "displayName": "Jane Smith",
                "active": true,
                "name": {
                  "givenName": "Jane",
                  "familyName": "Smith"
                },
                "emails": [
                  {
                    "value": "jane.smith@example.com",
                    "primary": true,
                    "type": "work"
                  }
                ],
                "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User": {
                  "employeeNumber": "54321",
                  "organization": "Tackle",
                  "division": "Sales",
                  "department": "Enterprise"
                }
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid user data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimError"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "Conflict - user already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimError"
                },
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "status": "409",
                  "detail": "User with userName jane.smith@example.com already exists",
                  "scimType": "uniqueness"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/scim/v2/Users/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get User by ID",
        "description": "Retrieve a specific user by their unique identifier.",
        "operationId": "getUserById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the user",
            "schema": {
              "type": "string",
              "example": "user123"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid user ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimError"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimError"
                },
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "status": "404",
                  "detail": "User user123 not found"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update User",
        "description": "Update an existing user. This performs a full replacement of the user resource.\n",
        "operationId": "updateUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the user",
            "schema": {
              "type": "string",
              "example": "user123"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/scim+json": {
              "schema": {
                "$ref": "#/components/schemas/UserInput"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid user data or ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimError"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Users"
        ],
        "summary": "Patch User",
        "description": "Perform a partial update of a user using SCIM PATCH operations.\nSupports operations like updating user roles (entitlements), active status, and other attributes.\n\nCommon use cases:\n- Update user role by patching entitlements\n- Deactivate a user (clears vendorid and role in metadata)\n- Reactivate a user (restores vendorid from organization data)\n",
        "operationId": "patchUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the user",
            "schema": {
              "type": "string",
              "example": "user123"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/scim+json": {
              "schema": {
                "$ref": "#/components/schemas/PatchOp"
              },
              "example": {
                "schemas": [
                  "urn:ietf:params:scim:api:messages:2.0:PatchOp"
                ],
                "Operations": [
                  {
                    "op": "replace",
                    "path": "active",
                    "value": false
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchOp"
              },
              "example": {
                "schemas": [
                  "urn:ietf:params:scim:api:messages:2.0:PatchOp"
                ],
                "Operations": [
                  {
                    "op": "replace",
                    "path": "entitlements",
                    "value": [
                      {
                        "value": "admin_role_id",
                        "type": "role"
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User patched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid patch operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimError"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete User",
        "description": "Soft-delete a user. Per SCIM 2.0 (RFC 7644 \u00a73.6) this returns 204 No\nContent on success. Internally the user is deactivated (active=false)\nand the vendorid/role app_metadata are cleared so the user can no\nlonger access Tackle resources. The underlying Auth0 user record is\npreserved so SSO logins can be re-authorized if the user is later\nre-provisioned, and so identity providers that probe DELETE during\ntheir connection-test lifecycle (e.g. JumpCloud) can complete\nactivation without permanently destroying the test user.\n",
        "operationId": "deleteUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the user",
            "schema": {
              "type": "string",
              "example": "user123"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "User soft-deleted successfully (no response body)"
          },
          "400": {
            "description": "Bad request - invalid userID path parameter or SCIM integration not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimError"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimError"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/scim/v2/ServiceProviderConfig": {
      "get": {
        "tags": [
          "Service Provider"
        ],
        "summary": "Get Service Provider Configuration",
        "description": "Retrieve the service provider configuration as defined by SCIM 2.0 specification.\nThis endpoint provides information about the SCIM implementation capabilities.\n",
        "operationId": "getServiceProviderConfig",
        "responses": {
          "200": {
            "description": "Service provider configuration retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceProviderConfig"
                },
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:schemas:core:2.0:ServiceProviderConfig"
                  ],
                  "patch": {
                    "supported": false
                  },
                  "bulk": {
                    "supported": false,
                    "maxPayloadSize": 5242880,
                    "maxOperations": 1
                  },
                  "filter": {
                    "supported": false,
                    "maxResults": 100
                  },
                  "changePassword": {
                    "supported": false
                  },
                  "sort": {
                    "supported": false
                  },
                  "etag": {
                    "supported": false
                  },
                  "authenticationSchemes": [
                    {
                      "type": "oauthbearertoken",
                      "name": "OAuth Bearer Token",
                      "description": "Authentication scheme using the OAuth Bearer Token Standard",
                      "specUri": "http://www.rfc-editor.org/info/rfc6750",
                      "primary": true
                    }
                  ],
                  "pagination": {
                    "cursor": false,
                    "index": true,
                    "defaultPaginationMethod": "index",
                    "defaultPageSize": 10,
                    "maxPageSize": 100
                  },
                  "meta": {
                    "resourceType": "ServiceProviderConfig",
                    "created": "2025-06-12T00:00:00Z",
                    "lastModified": "2025-06-12:00:00Z",
                    "location": "https://scim-api.tackle.io/scim/v2/ServiceProviderConfig"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/scim/v2/ResourceTypes": {
      "get": {
        "tags": [
          "Service Provider"
        ],
        "summary": "Get Resource Types",
        "description": "Retrieve the resource types supported by this SCIM implementation.\nCurrently supports User resources with enterprise extensions.\n",
        "operationId": "getResourceTypes",
        "responses": {
          "200": {
            "description": "Resource types retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceTypeListResponse"
                },
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:ListResponse"
                  ],
                  "totalResults": 1,
                  "itemsPerPage": 1,
                  "startIndex": 1,
                  "Resources": [
                    {
                      "schemas": [
                        "urn:ietf:params:scim:schemas:core:2.0:ResourceType"
                      ],
                      "id": "User",
                      "name": "User",
                      "endpoint": "https://scim-api.tackle.io/scim/v2/Users",
                      "description": "User Account",
                      "schema": "urn:ietf:params:scim:schemas:core:2.0:User",
                      "schemaExtensions": [
                        {
                          "schema": "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User",
                          "required": true
                        }
                      ],
                      "meta": {
                        "location": "https://scim-api.tackle.io/scim/v2/ResourceTypes/User"
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/scim/v2/Schemas": {
      "get": {
        "tags": [
          "Service Provider"
        ],
        "summary": "Get Schemas",
        "description": "Retrieve the schemas supported by this SCIM implementation.\nIncludes both core User schema and enterprise extension schema.\n",
        "operationId": "getSchemas",
        "responses": {
          "200": {
            "description": "Schemas retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaListResponse"
                },
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:ListResponse"
                  ],
                  "totalResults": 2,
                  "itemsPerPage": 2,
                  "startIndex": 1,
                  "Resources": [
                    {
                      "schemas": [
                        "urn:ietf:params:scim:schemas:core:2.0:Schema"
                      ],
                      "id": "urn:ietf:params:scim:schemas:core:2.0:User",
                      "name": "User",
                      "meta": {
                        "resourceType": "Schema",
                        "created": "2025-06-12T17:06:30.597Z",
                        "lastModified": "2025-06-12T17:06:30.597Z",
                        "location": "https://scim-api.tackle.io/scim/v2/Schemas/urn:ietf:params:scim:schemas:core:2.0:User"
                      },
                      "attributes": [
                        {
                          "name": "userName",
                          "type": "string",
                          "mutability": "readWrite",
                          "returned": "default",
                          "uniqueness": "server",
                          "required": true,
                          "multiValued": false,
                          "caseExact": false
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/scim/v2/Schemas/{schemaId}": {
      "get": {
        "tags": [
          "Service Provider"
        ],
        "summary": "Get Schema by ID",
        "description": "Retrieve a specific schema by its unique identifier.\nSupports User schema, Enterprise User extension schema, and Entitlement schema.\n",
        "operationId": "getSchemaById",
        "parameters": [
          {
            "name": "schemaId",
            "in": "path",
            "required": true,
            "description": "The schema identifier (URN)",
            "schema": {
              "type": "string",
              "example": "urn:ietf:params:scim:schemas:core:2.0:User"
            },
            "examples": {
              "userSchema": {
                "value": "urn:ietf:params:scim:schemas:core:2.0:User",
                "summary": "Core User Schema"
              },
              "enterpriseUserSchema": {
                "value": "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User",
                "summary": "Enterprise User Extension Schema"
              },
              "entitlementSchema": {
                "value": "urn:ietf:params:scim:schemas:extension:entitlement:1.0",
                "summary": "Entitlement Schema"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schema retrieved successfully",
            "content": {
              "application/scim+json": {
                "schema": {
                  "$ref": "#/components/schemas/Schema"
                },
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:schemas:core:2.0:Schema"
                  ],
                  "id": "urn:ietf:params:scim:schemas:core:2.0:User",
                  "name": "User",
                  "meta": {
                    "resourceType": "Schema",
                    "created": "2025-06-12T17:06:30.597Z",
                    "lastModified": "2025-06-12T17:06:30.597Z",
                    "location": "https://scim-api.tackle.io/scim/v2/Schemas/urn:ietf:params:scim:schemas:core:2.0:User"
                  },
                  "attributes": [
                    {
                      "name": "userName",
                      "type": "string",
                      "mutability": "readWrite",
                      "returned": "default",
                      "uniqueness": "server",
                      "required": true,
                      "multiValued": false,
                      "caseExact": false
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid schema ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimError"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Schema not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimError"
                },
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:Error"
                  ],
                  "status": "404",
                  "detail": "Schema urn:ietf:params:scim:schemas:unknown not found"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/scim/v2/Groups": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get Groups",
        "description": "Retrieve available groups (roles) for the organization.\nThis is the standard SCIM 2.0 Groups endpoint per RFC 7644.\nIt fetches roles from the RBAC service and returns them as SCIM Group resources\nwith meta.resourceType set to \"Group\", as required by identity providers (Okta, Azure AD).\n",
        "operationId": "getGroups",
        "responses": {
          "200": {
            "description": "Groups retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupListResponse"
                },
                "example": {
                  "schemas": [
                    "urn:ietf:params:scim:api:messages:2.0:ListResponse"
                  ],
                  "totalResults": 3,
                  "startIndex": 1,
                  "itemsPerPage": 3,
                  "Resources": [
                    {
                      "schemas": [
                        "urn:ietf:params:scim:schemas:core:2.0:Group"
                      ],
                      "id": "role_admin_123",
                      "displayName": "Administrator",
                      "meta": {
                        "resourceType": "Group",
                        "location": "https://scim-api.tackle.io/scim/v2/Groups/role_admin_123"
                      },
                      "members": []
                    },
                    {
                      "schemas": [
                        "urn:ietf:params:scim:schemas:core:2.0:Group"
                      ],
                      "id": "role_user_456",
                      "displayName": "User",
                      "meta": {
                        "resourceType": "Group",
                        "location": "https://scim-api.tackle.io/scim/v2/Groups/role_user_456"
                      },
                      "members": []
                    },
                    {
                      "schemas": [
                        "urn:ietf:params:scim:schemas:core:2.0:Group"
                      ],
                      "id": "role_viewer_789",
                      "displayName": "Viewer",
                      "meta": {
                        "resourceType": "Group",
                        "location": "https://scim-api.tackle.io/scim/v2/Groups/role_viewer_789"
                      },
                      "members": []
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/scim/v2/Entitlements": {
      "get": {
        "tags": [
          "Entitlements"
        ],
        "summary": "Get Entitlements",
        "description": "Returns available roles as flat entitlement objects.\nThis is a legacy endpoint; prefer /scim/v2/Groups which returns\nfull SCIM Group resources as required by identity providers.\n",
        "operationId": "getEntitlements",
        "responses": {
          "200": {
            "description": "Entitlements retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitlementListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API key authentication.\nInclude the API key in the Authorization header.\n"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication information is missing or invalid",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ScimError"
            },
            "example": {
              "schemas": [
                "urn:ietf:params:scim:api:messages:2.0:Error"
              ],
              "status": "401",
              "detail": "Unauthorized"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Access forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ScimError"
            },
            "example": {
              "schemas": [
                "urn:ietf:params:scim:api:messages:2.0:Error"
              ],
              "status": "403",
              "detail": "Forbidden"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ScimError"
            },
            "example": {
              "schemas": [
                "urn:ietf:params:scim:api:messages:2.0:Error"
              ],
              "status": "500",
              "detail": "Internal server error"
            }
          }
        }
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "required": [
          "schemas",
          "userName",
          "name",
          "emails"
        ],
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "urn:ietf:params:scim:schemas:core:2.0:User",
              "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User"
            ]
          },
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Unique identifier for the user",
            "example": "user123"
          },
          "externalId": {
            "type": "string",
            "description": "External identifier for the user",
            "example": "ext_user_456"
          },
          "userName": {
            "type": "string",
            "description": "Unique username for the user",
            "example": "john.doe@example.com"
          },
          "displayName": {
            "type": "string",
            "description": "Display name for the user",
            "example": "John Doe"
          },
          "nickName": {
            "type": "string",
            "description": "Nickname for the user",
            "example": "Johnny"
          },
          "title": {
            "type": "string",
            "description": "Job title",
            "example": "Senior Engineer"
          },
          "active": {
            "type": "boolean",
            "description": "Whether the user is active",
            "example": true
          },
          "locale": {
            "type": "string",
            "description": "User's preferred locale",
            "example": "en-US"
          },
          "name": {
            "$ref": "#/components/schemas/Name"
          },
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Email"
            }
          },
          "photos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Photo"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User": {
            "$ref": "#/components/schemas/EnterpriseUser"
          }
        }
      },
      "UserInput": {
        "type": "object",
        "required": [
          "schemas",
          "userName",
          "name",
          "emails"
        ],
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "urn:ietf:params:scim:schemas:core:2.0:User",
              "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User"
            ]
          },
          "externalId": {
            "type": "string",
            "description": "External identifier for the user",
            "example": "ext_user_456"
          },
          "userName": {
            "type": "string",
            "description": "Unique username for the user",
            "example": "john.doe@example.com"
          },
          "displayName": {
            "type": "string",
            "description": "Display name for the user",
            "example": "John Doe"
          },
          "nickName": {
            "type": "string",
            "description": "Nickname for the user",
            "example": "Johnny"
          },
          "title": {
            "type": "string",
            "description": "Job title",
            "example": "Senior Engineer"
          },
          "active": {
            "type": "boolean",
            "description": "Whether the user is active",
            "example": true
          },
          "locale": {
            "type": "string",
            "description": "User's preferred locale",
            "example": "en-US"
          },
          "name": {
            "$ref": "#/components/schemas/Name"
          },
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Email"
            }
          },
          "photos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Photo"
            }
          },
          "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User": {
            "$ref": "#/components/schemas/EnterpriseUser"
          }
        }
      },
      "Name": {
        "type": "object",
        "required": [
          "givenName",
          "familyName"
        ],
        "properties": {
          "givenName": {
            "type": "string",
            "description": "First name",
            "example": "John"
          },
          "familyName": {
            "type": "string",
            "description": "Last name",
            "example": "Doe"
          }
        }
      },
      "Email": {
        "type": "object",
        "required": [
          "value",
          "primary"
        ],
        "properties": {
          "value": {
            "type": "string",
            "format": "email",
            "description": "Email address",
            "example": "john.doe@example.com"
          },
          "type": {
            "type": "string",
            "description": "Type of email address",
            "example": "work"
          },
          "primary": {
            "type": "boolean",
            "description": "Whether this is the primary email",
            "example": true
          }
        }
      },
      "Photo": {
        "type": "object",
        "required": [
          "type",
          "value"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of photo",
            "example": "photo"
          },
          "value": {
            "type": "string",
            "format": "uri",
            "description": "URL to the photo",
            "example": "https://example.com/photo.jpg"
          }
        }
      },
      "Meta": {
        "type": "object",
        "readOnly": true,
        "properties": {
          "resourceType": {
            "type": "string",
            "description": "The resource type",
            "example": "User"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "When the resource was created",
            "example": "2024-01-15T10:30:00Z"
          },
          "lastModified": {
            "type": "string",
            "format": "date-time",
            "description": "When the resource was last modified",
            "example": "2024-01-15T10:30:00Z"
          },
          "location": {
            "type": "string",
            "format": "uri",
            "description": "URL to the resource",
            "example": "https://scim-api.tackle.io/scim/v2/Users/user123"
          }
        }
      },
      "EnterpriseUser": {
        "type": "object",
        "properties": {
          "employeeNumber": {
            "type": "string",
            "description": "Employee number",
            "example": "12345"
          },
          "organization": {
            "type": "string",
            "description": "Organization name",
            "example": "Tackle"
          },
          "division": {
            "type": "string",
            "description": "Division within the organization",
            "example": "Engineering"
          },
          "department": {
            "type": "string",
            "description": "Department within the organization",
            "example": "Platform"
          },
          "manager": {
            "$ref": "#/components/schemas/Manager"
          }
        }
      },
      "Manager": {
        "type": "object",
        "required": [
          "value"
        ],
        "properties": {
          "value": {
            "type": "string",
            "description": "Manager's user ID",
            "example": "manager456"
          }
        }
      },
      "UserListResponse": {
        "type": "object",
        "required": [
          "schemas",
          "totalResults",
          "itemsPerPage",
          "startIndex",
          "Resources"
        ],
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "urn:ietf:params:scim:api:messages:2.0:ListResponse"
            ]
          },
          "totalResults": {
            "type": "integer",
            "description": "Total number of results",
            "example": 100
          },
          "itemsPerPage": {
            "type": "integer",
            "description": "Number of results per page",
            "example": 50
          },
          "startIndex": {
            "type": "integer",
            "description": "1-based index of the first result",
            "example": 1
          },
          "Resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          }
        }
      },
      "ResourceType": {
        "type": "object",
        "required": [
          "schemas",
          "id",
          "name",
          "endpoint",
          "schema"
        ],
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "urn:ietf:params:scim:schemas:core:2.0:ResourceType"
            ]
          },
          "id": {
            "type": "string",
            "description": "Resource type identifier",
            "example": "User"
          },
          "name": {
            "type": "string",
            "description": "Resource type name",
            "example": "User"
          },
          "description": {
            "type": "string",
            "description": "Resource type description",
            "example": "User Account"
          },
          "endpoint": {
            "type": "string",
            "format": "uri",
            "description": "Endpoint for this resource type",
            "example": "https://scim-api.tackle.io/scim/v2/Users"
          },
          "schema": {
            "type": "string",
            "description": "Primary schema for this resource type",
            "example": "urn:ietf:params:scim:schemas:core:2.0:User"
          },
          "schemaExtensions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SchemaExtension"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "SchemaExtension": {
        "type": "object",
        "required": [
          "schema",
          "required"
        ],
        "properties": {
          "schema": {
            "type": "string",
            "description": "Schema extension URI",
            "example": "urn:ietf:params:scim:schemas:extension:enterprise:2.0:User"
          },
          "required": {
            "type": "boolean",
            "description": "Whether this extension is required",
            "example": true
          }
        }
      },
      "ResourceTypeListResponse": {
        "type": "object",
        "required": [
          "schemas",
          "totalResults",
          "itemsPerPage",
          "startIndex",
          "Resources"
        ],
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "urn:ietf:params:scim:api:messages:2.0:ListResponse"
            ]
          },
          "totalResults": {
            "type": "integer",
            "description": "Total number of results",
            "example": 1
          },
          "itemsPerPage": {
            "type": "integer",
            "description": "Number of results per page",
            "example": 1
          },
          "startIndex": {
            "type": "integer",
            "description": "1-based index of the first result",
            "example": 1
          },
          "Resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResourceType"
            }
          }
        }
      },
      "Schema": {
        "type": "object",
        "required": [
          "schemas",
          "id",
          "name",
          "attributes"
        ],
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "urn:ietf:params:scim:schemas:core:2.0:Schema"
            ]
          },
          "id": {
            "type": "string",
            "description": "Schema identifier",
            "example": "urn:ietf:params:scim:schemas:core:2.0:User"
          },
          "name": {
            "type": "string",
            "description": "Schema name",
            "example": "User"
          },
          "description": {
            "type": "string",
            "description": "Schema description",
            "example": "User Account"
          },
          "attributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SchemaAttribute"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "SchemaAttribute": {
        "type": "object",
        "required": [
          "name",
          "type",
          "mutability",
          "returned",
          "uniqueness",
          "required",
          "multiValued",
          "caseExact"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Attribute name",
            "example": "userName"
          },
          "type": {
            "type": "string",
            "description": "Attribute type",
            "enum": [
              "string",
              "boolean",
              "decimal",
              "integer",
              "dateTime",
              "reference",
              "complex"
            ],
            "example": "string"
          },
          "mutability": {
            "type": "string",
            "description": "Attribute mutability",
            "enum": [
              "readOnly",
              "readWrite",
              "immutable",
              "writeOnly"
            ],
            "example": "readWrite"
          },
          "returned": {
            "type": "string",
            "description": "When the attribute is returned",
            "enum": [
              "always",
              "never",
              "default",
              "request"
            ],
            "example": "default"
          },
          "uniqueness": {
            "type": "string",
            "description": "Attribute uniqueness constraint",
            "enum": [
              "none",
              "server",
              "global"
            ],
            "example": "server"
          },
          "required": {
            "type": "boolean",
            "description": "Whether the attribute is required",
            "example": true
          },
          "multiValued": {
            "type": "boolean",
            "description": "Whether the attribute can have multiple values",
            "example": false
          },
          "caseExact": {
            "type": "boolean",
            "description": "Whether the attribute is case exact",
            "example": false
          },
          "subAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SchemaAttribute"
            },
            "description": "Sub-attributes for complex types"
          }
        }
      },
      "SchemaListResponse": {
        "type": "object",
        "required": [
          "schemas",
          "totalResults",
          "itemsPerPage",
          "startIndex",
          "Resources"
        ],
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "urn:ietf:params:scim:api:messages:2.0:ListResponse"
            ]
          },
          "totalResults": {
            "type": "integer",
            "description": "Total number of results",
            "example": 2
          },
          "itemsPerPage": {
            "type": "integer",
            "description": "Number of results per page",
            "example": 2
          },
          "startIndex": {
            "type": "integer",
            "description": "1-based index of the first result",
            "example": 1
          },
          "Resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Schema"
            }
          }
        }
      },
      "ServiceProviderConfig": {
        "type": "object",
        "required": [
          "schemas",
          "patch",
          "bulk",
          "filter",
          "changePassword",
          "sort",
          "etag",
          "authenticationSchemes",
          "pagination",
          "meta"
        ],
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "urn:ietf:params:scim:schemas:core:2.0:ServiceProviderConfig"
            ]
          },
          "patch": {
            "type": "object",
            "required": [
              "supported"
            ],
            "properties": {
              "supported": {
                "type": "boolean",
                "description": "Whether PATCH operations are supported",
                "example": false
              }
            }
          },
          "bulk": {
            "type": "object",
            "required": [
              "supported",
              "maxPayloadSize",
              "maxOperations"
            ],
            "properties": {
              "supported": {
                "type": "boolean",
                "description": "Whether bulk operations are supported",
                "example": false
              },
              "maxPayloadSize": {
                "type": "integer",
                "description": "Maximum payload size for bulk operations",
                "example": 5242880
              },
              "maxOperations": {
                "type": "integer",
                "description": "Maximum number of operations in a bulk request",
                "example": 1
              }
            }
          },
          "filter": {
            "type": "object",
            "required": [
              "supported",
              "maxResults"
            ],
            "properties": {
              "supported": {
                "type": "boolean",
                "description": "Whether filtering is supported",
                "example": false
              },
              "maxResults": {
                "type": "integer",
                "description": "Maximum number of results when filtering",
                "example": 100
              }
            }
          },
          "changePassword": {
            "type": "object",
            "required": [
              "supported"
            ],
            "properties": {
              "supported": {
                "type": "boolean",
                "description": "Whether password changes are supported",
                "example": false
              }
            }
          },
          "sort": {
            "type": "object",
            "required": [
              "supported"
            ],
            "properties": {
              "supported": {
                "type": "boolean",
                "description": "Whether sorting is supported",
                "example": false
              }
            }
          },
          "etag": {
            "type": "object",
            "required": [
              "supported"
            ],
            "properties": {
              "supported": {
                "type": "boolean",
                "description": "Whether ETags are supported",
                "example": false
              }
            }
          },
          "authenticationSchemes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuthenticationScheme"
            }
          },
          "pagination": {
            "type": "object",
            "required": [
              "cursor",
              "index",
              "defaultPaginationMethod",
              "defaultPageSize",
              "maxPageSize"
            ],
            "properties": {
              "cursor": {
                "type": "boolean",
                "description": "Whether cursor-based pagination is supported",
                "example": false
              },
              "index": {
                "type": "boolean",
                "description": "Whether index-based pagination is supported",
                "example": true
              },
              "defaultPaginationMethod": {
                "type": "string",
                "description": "Default pagination method",
                "example": "index"
              },
              "defaultPageSize": {
                "type": "integer",
                "description": "Default page size",
                "example": 10
              },
              "maxPageSize": {
                "type": "integer",
                "description": "Maximum page size",
                "example": 100
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/Meta"
          }
        }
      },
      "AuthenticationScheme": {
        "type": "object",
        "required": [
          "type",
          "name",
          "description",
          "primary"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Authentication scheme type",
            "example": "oauthbearertoken"
          },
          "name": {
            "type": "string",
            "description": "Authentication scheme name",
            "example": "OAuth Bearer Token"
          },
          "description": {
            "type": "string",
            "description": "Authentication scheme description",
            "example": "Authentication scheme using the OAuth Bearer Token Standard"
          },
          "specUri": {
            "type": "string",
            "format": "uri",
            "description": "URI to the specification",
            "example": "http://www.rfc-editor.org/info/rfc6750"
          },
          "documentationUri": {
            "type": "string",
            "format": "uri",
            "description": "URI to documentation"
          },
          "primary": {
            "type": "boolean",
            "description": "Whether this is the primary authentication scheme",
            "example": true
          }
        }
      },
      "PatchOp": {
        "type": "object",
        "required": [
          "schemas",
          "Operations"
        ],
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "urn:ietf:params:scim:api:messages:2.0:PatchOp"
            ]
          },
          "Operations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PatchOperation"
            },
            "description": "List of patch operations to perform"
          }
        }
      },
      "PatchOperation": {
        "type": "object",
        "required": [
          "op"
        ],
        "properties": {
          "op": {
            "type": "string",
            "description": "The operation to perform",
            "enum": [
              "add",
              "remove",
              "replace"
            ],
            "example": "replace"
          },
          "path": {
            "type": "string",
            "description": "The attribute path to modify",
            "example": "active"
          },
          "value": {
            "description": "The value for the operation (type varies by operation and path)",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "boolean"
              },
              {
                "type": "integer"
              },
              {
                "type": "object"
              },
              {
                "type": "array"
              }
            ]
          }
        }
      },
      "Entitlement": {
        "type": "object",
        "required": [
          "value",
          "display",
          "type"
        ],
        "properties": {
          "value": {
            "type": "string",
            "description": "The unique identifier of the entitlement (role ID)",
            "example": "role_admin_123"
          },
          "display": {
            "type": "string",
            "description": "The display name of the entitlement (role name)",
            "example": "Administrator"
          },
          "type": {
            "type": "string",
            "description": "The type of entitlement",
            "example": "role"
          }
        }
      },
      "EntitlementListResponse": {
        "type": "object",
        "required": [
          "schemas",
          "totalResults",
          "startIndex",
          "itemsPerPage",
          "Resources"
        ],
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "urn:ietf:params:scim:api:messages:2.0:ListResponse"
            ]
          },
          "totalResults": {
            "type": "integer",
            "description": "Total number of entitlements",
            "example": 3
          },
          "startIndex": {
            "type": "integer",
            "description": "1-based index of the first result",
            "example": 1
          },
          "itemsPerPage": {
            "type": "integer",
            "description": "Number of entitlements in this response",
            "example": 3
          },
          "Resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Entitlement"
            }
          }
        }
      },
      "Group": {
        "type": "object",
        "required": [
          "schemas",
          "id",
          "displayName",
          "meta",
          "members"
        ],
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "urn:ietf:params:scim:schemas:core:2.0:Group"
            ]
          },
          "id": {
            "type": "string",
            "description": "The unique identifier of the group (role ID)",
            "example": "role_admin_123"
          },
          "displayName": {
            "type": "string",
            "description": "The display name of the group (role name)",
            "example": "Administrator"
          },
          "meta": {
            "type": "object",
            "required": [
              "resourceType",
              "location"
            ],
            "properties": {
              "resourceType": {
                "type": "string",
                "description": "Always \"Group\" for this resource type",
                "example": "Group"
              },
              "location": {
                "type": "string",
                "format": "uri",
                "description": "URL to this group resource",
                "example": "https://scim-api.tackle.io/scim/v2/Groups/role_admin_123"
              }
            }
          },
          "members": {
            "type": "array",
            "description": "Group members (always empty; membership is managed via user entitlements)",
            "items": {
              "type": "string"
            },
            "example": []
          }
        }
      },
      "GroupListResponse": {
        "type": "object",
        "required": [
          "schemas",
          "totalResults",
          "startIndex",
          "itemsPerPage",
          "Resources"
        ],
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "urn:ietf:params:scim:api:messages:2.0:ListResponse"
            ]
          },
          "totalResults": {
            "type": "integer",
            "description": "Total number of groups",
            "example": 3
          },
          "startIndex": {
            "type": "integer",
            "description": "1-based index of the first result",
            "example": 1
          },
          "itemsPerPage": {
            "type": "integer",
            "description": "Number of groups in this response",
            "example": 3
          },
          "Resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Group"
            }
          }
        }
      },
      "ScimError": {
        "type": "object",
        "required": [
          "schemas",
          "status",
          "detail"
        ],
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "urn:ietf:params:scim:api:messages:2.0:Error"
            ]
          },
          "status": {
            "type": "string",
            "description": "HTTP status code as string",
            "example": "400"
          },
          "detail": {
            "type": "string",
            "description": "Human-readable error description",
            "example": "Invalid request"
          },
          "scimType": {
            "type": "string",
            "description": "SCIM-specific error type",
            "enum": [
              "invalidFilter",
              "tooMany",
              "uniqueness",
              "mutability",
              "invalidSyntax",
              "invalidPath",
              "noTarget",
              "invalidValue",
              "invalidVers",
              "sensitive"
            ],
            "example": "invalidValue"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Users",
      "description": "User management operations"
    },
    {
      "name": "Service Provider",
      "description": "Service provider configuration and capabilities"
    },
    {
      "name": "Groups",
      "description": "SCIM 2.0 Groups endpoint - returns full Group resources (RFC 7643 \u00a74.2)"
    },
    {
      "name": "Entitlements",
      "description": "Legacy entitlements endpoint - returns flat role objects"
    }
  ],
  "externalDocs": {
    "description": "SCIM 2.0 RFC 7644 Specification",
    "url": "https://datatracker.ietf.org/doc/html/rfc7644"
  }
}