{
  "openapi": "3.0.3",
  "info": {
    "title": "Tackle Public Contracts API",
    "description": "Customer-facing read API for cloud marketplace contracts that Tackle has\ningested for your Tackle account.\n\nThe response shape is a stable projection of the underlying\ncontract document. It is intended to be safe to consume long-term: fields\nwill be added over time, but documented fields will not be removed without\ndeprecation notice.\n\n## Authentication\n\nEvery request must include a valid Tackle JWT in the `Authorization`\nheader (`Authorization: Bearer <token>`). Machine-to-machine (MTM) tokens\nissued for your Tackle account are accepted. The token scopes every\nresponse to the account it represents.\n\n## Pagination\n\n`GET /api/contracts` is the only paginated endpoint. Pagination uses an\nopaque `cursor` query parameter:\n\n1. The first request omits `cursor`.\n2. If more pages exist, the response includes a `next` field. Pass that\n   value verbatim back as `cursor` on the next request.\n3. The last page omits `next`.\n\nCursors are opaque tokens. Do not parse, modify, or persist them across\nschema changes \u2014 request a fresh page from the start instead.\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://contracts.tackle.io",
      "description": "Production"
    }
  ],
  "security": [
    {
      "tackleJwt": []
    }
  ],
  "paths": {
    "/api/contracts": {
      "get": {
        "operationId": "listContracts",
        "summary": "List contracts",
        "description": "Returns a paginated list of contracts available to your account.\n",
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "required": false,
            "description": "Opaque pagination cursor returned as `next` from a previous call.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Maximum number of contracts to return per page. Defaults to 25, capped at 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of contracts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed cursor or query parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/contracts/{contractId}": {
      "get": {
        "operationId": "getContract",
        "summary": "Describe contract",
        "description": "Returns details for the contract identified by `contractId`. Returns\n`404` when no contract is found for that id.\n",
        "parameters": [
          {
            "in": "path",
            "name": "contractId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The contract.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contract"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No contract was found for that id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "tackleJwt": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Tackle-issued JWT (interactive user or MTM token)."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "Money": {
        "type": "object",
        "required": [
          "amount",
          "currencyCode"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "format": "double",
            "example": 120000
          },
          "currencyCode": {
            "type": "string",
            "example": "USD"
          }
        }
      },
      "ContractListResponse": {
        "type": "object",
        "required": [
          "contracts"
        ],
        "properties": {
          "contracts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contract"
            }
          },
          "next": {
            "type": "string",
            "description": "Opaque pagination cursor. Omitted on the last page."
          }
        }
      },
      "Contract": {
        "type": "object",
        "required": [
          "id",
          "vendorId",
          "cloudMarketplace",
          "buyerId",
          "listingType",
          "contractStatus",
          "lastModified"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique Tackle identifier for this contract."
          },
          "vendorId": {
            "type": "string",
            "description": "Tackle account identifier for this contract."
          },
          "cloudMarketplace": {
            "type": "string",
            "enum": [
              "aws",
              "azure",
              "gcp"
            ]
          },
          "channel": {
            "type": "string",
            "enum": [
              "direct",
              "partner"
            ]
          },
          "buyerId": {
            "type": "string",
            "description": "Cloud marketplace buyer identifier (e.g. AWS customer id)."
          },
          "companyName": {
            "type": "string"
          },
          "productId": {
            "type": "string"
          },
          "listingName": {
            "type": "string"
          },
          "listingType": {
            "type": "string"
          },
          "pricingModel": {
            "type": "string",
            "enum": [
              "Contract only",
              "Usage only",
              "Contract + usage",
              "Hourly + annual",
              "BYOL"
            ]
          },
          "offerId": {
            "type": "string"
          },
          "offerType": {
            "type": "string",
            "enum": [
              "private",
              "public"
            ]
          },
          "offerName": {
            "type": "string"
          },
          "tackleOfferId": {
            "type": "string",
            "description": "Tackle private offer id (if the contract was created from a Tackle private offer)."
          },
          "contractStatus": {
            "type": "string",
            "enum": [
              "Pending",
              "Active",
              "Amended",
              "Cancelled",
              "Expired",
              "Unknown"
            ]
          },
          "cloudContractStatus": {
            "type": "string",
            "description": "Original cloud marketplace status string (e.g. AWS `ACTIVE`, Microsoft `Subscribed`)."
          },
          "acceptedDate": {
            "type": "string",
            "format": "date-time"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "contractDuration": {
            "type": "string",
            "description": "ISO 8601 duration (e.g. `P12M`)."
          },
          "autoRenew": {
            "type": "boolean"
          },
          "totalContractValue": {
            "$ref": "#/components/schemas/Money"
          },
          "totalContractNetValue": {
            "$ref": "#/components/schemas/Money"
          },
          "grossDisbursed": {
            "$ref": "#/components/schemas/Money"
          },
          "netDisbursed": {
            "$ref": "#/components/schemas/Money"
          },
          "marketplaceFeeRate": {
            "type": "number",
            "format": "double",
            "description": "Marketplace fee as a decimal (e.g. `0.03` for 3%)."
          },
          "lastModified": {
            "type": "string",
            "format": "date-time",
            "description": "When this contract document was last updated by Tackle ingestion."
          },
          "cloudData": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/CloudDataAwsAgreement"
              },
              {
                "$ref": "#/components/schemas/CloudDataAwsPartnerAgreement"
              },
              {
                "$ref": "#/components/schemas/CloudDataMsftSubscription"
              }
            ],
            "description": "Cloud-specific source payload. Present only when source data is\navailable. The shape depends on `cloudMarketplace` and `channel`:\n\n- `cloudMarketplace=aws`, `channel=direct` \u2192 `{ agreement }` from the AWS Agreement API.\n- `cloudMarketplace=aws`, `channel=partner` \u2192 `{ agreement }` from the AWS Marketplace SDDS (Seller Delivery Data Service) feed. **May be missing for up to 24 hours after purchase**: SDDS reports are published on a daily cadence, so a partner contract can exist (with `id`, `buyerId`, financial fields, etc.) before its `cloudData.agreement` payload is available. Clients should treat `cloudData` as optional for partner contracts and re-fetch later if needed.\n- `cloudMarketplace=azure` \u2192 `{ subscription }` from the Microsoft Subscription API.\n- `cloudMarketplace=gcp` \u2192 omitted entirely in this version.\n"
          }
        }
      },
      "CloudDataAwsAgreement": {
        "type": "object",
        "required": [
          "agreement"
        ],
        "properties": {
          "agreement": {
            "type": "object",
            "description": "Verbatim AWS Agreement API payload (`describeAgreement`, `agreementSummary`, `agreementTerms`)."
          }
        }
      },
      "CloudDataAwsPartnerAgreement": {
        "type": "object",
        "required": [
          "agreement"
        ],
        "properties": {
          "agreement": {
            "type": "object",
            "description": "Verbatim AWS Marketplace SDDS (Seller Delivery Data Service)\npartner agreement record. SDDS reports arrive on a daily\ncadence rather than at time of purchase, so this payload\ncan be missing for up to 24 hours after a partner contract\nis created. The enclosing `cloudData` field will simply be\nomitted from the response until the SDDS data lands.\n"
          }
        }
      },
      "CloudDataMsftSubscription": {
        "type": "object",
        "required": [
          "subscription"
        ],
        "properties": {
          "subscription": {
            "type": "object",
            "description": "Verbatim Microsoft Subscription API payload."
          }
        }
      }
    }
  }
}